<div id="mobilenav-dimmer"></div>
<nav id="mobilenav">
	<div class="mobilenav-wrapper">
		<div class="mobilenav-bg flex flex-columns flex-nowrap">
			<div id="mobilenav-top-container">
				<div class="clear">
					<button class="mobilenav-close toggle-mobilenav">
						<span class="symbol-cancel"><span class="line-horizontal"></span><span class="line-vertical"></span></span>
					</button>
				</div>
				{#
				<div class="mobilenav-search-form">
					{{ site.searchform() }}
				</div>
				#}
			</div>
			<div id="mobilenav-mid-container" class="clear">
				<div class="contact">{{ site.get_widgetarea('mobilenav-top') }}</div>
			</div>
			<div class="mobilenav-inner">
				<nav class="clear">
					{{ mobile_menu }}
				</nav>
			</div>
			<div id="mobilenav-additional" class="clear">
				<div class="mobilenav-info">
					{# <a href="{{ site.url }}" id="mobilenav-logo"><img src="{{ theme.link }}/assets/img/logo.png" alt="{{site.name}}"></a> #}
					<div class="quick-links">
						{# <div class="mobilenav-header-top-item">
							{{ site.get_widgetarea('header-content') }}
						</div> #}
						{# {{ site.get_widgetarea('some') }} #}
						{{ site.get_widgetarea('mobilenav-bottom') }}
					</div>
					<div class="mobilenav-languages-container clear">
						{% include 'module/language_dropdown.twig' with {'id':'mobilenav-language-switcher', 'data':languages, 'mode':'4'} %}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<div id="mobilenav-loader"></div>