/* --------------------------
 *
 * Sidebanner -widget styles
 *
** ----------------------- */

	.sidebanner 													{ margin-bottom: 1em; padding: 0; }
	.sidebanner .banner-text										{ margin-right: .5em; font-family: $secondary-font; font-weight: 600; }
	.sidebanner a, .sidebanner span.no-link							{ padding: 15px 20px; font-size: 1.5em; min-height: 75px; font-weight: 700; display: -webkit-flex; display: flex; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-align-items: center; align-items: center; }
	.sidebanner .banner-icon										{ float:right; margin-left: auto; font-size: 1.5em; }

	.sidebanner.no-bg 												{ color: #fff; background: $secondary-color; a { color: #fff; } }

	@include media-from(m){ 
		#main-content-area .widget-container.widget_sidebannerwidget { width: 50%; float:left; padding: 0 .5em; }
	}
	@include media-from(l){ 
		#main-content-area .widget-container.widget_sidebannerwidget { width: 100%; float:none; padding: 0; }
	}
