/* --------------------------
 *
 * Carousel/HERO image styles
 *
** ----------------------- */

	.overlapping-main-image-area								{ overflow: hidden; margin: -15px 0; padding: 15px 0; }
	.overlapping-main-image-area .hero-add-image				{ margin: -15px -7% -15px -15px; pointer-events: none; }
	#main-image-container										{ text-align: left; }
	#main-image-container.has_bg_image 							{ background-repeat: no-repeat; background-size: cover; }
	#main-image-container.deepdark-theme .bg-overlay			,
	#main-image-container.dark-theme .bg-overlay				{ height:100%; width: 100%; z-index: 1; position: absolute; pointer-events: none; left:0; top:0; background-image: linear-gradient(180deg, $secondary-color-p1, transparent); }
	#main-image-container .main-image-flex-container 			{ z-index: 5; position: relative; }
	#main-image-container .hero-image-content-area 				{ margin: 10% 0; }
	#main-image-container .content_module_outer-container		{ margin: 0; }

	#main-image-features-container .main-image-feature .main-image-feature-icon { margin-right: 15px; font-size: 1.4em; line-height: 1; }
	#main-image-features-container .main-image-feature .main-image-feature-text { margin-right: 5px; font-size: .8em; line-height: 1.2; font-family: $secondary-font; font-weight: 400; }

	#main-image-ratings-outer-container 						{ margin: 2em auto 0 -20px; width: 100%; }
	#main-image-ratings-container {
		& 														{ position: relative; display: inline-flex; flex-wrap: nowrap; border-radius: 0 50px 50px 0; border: 1px solid $default-border-color; border-left:0; padding: 1em 1.5em; width: auto; }
		.ratings-stars-container 								{ padding-right: 1em; white-space: nowrap; }
		.ratings-stars-container span							{ color: $theme-color-6; font-size: 1.2em; }
		.ratings-stars-container span:before					{ margin:0; }
		.ratings-text-container 								{ border-left: 1px solid $default-border-color; padding-left: 1em; font-size: .8em; }
	}
	#main-image-ratings-text-container 							{ padding: 0 20px; font-family: $secondary-font; font-weight: 700; }
	#main-image-ratings-text-border 							{ width: 80px; max-width: 10%; position: relative; }
	#main-image-ratings-text-border:before 						{ content:''; position: absolute; right:0; top: 50%; height:1px; width: 100%; background-color: $default-border-color; }
	
	@include media-to(m){ 
		#main-image-container.has_bg_image							{ background-image:none !important; }
	}
	@include media-to(l){ 
		#main-image-ratings-text-container 							{ display:none; }
		#main-image-ratings-text-border 							{ display:none; }
	}

	
	@include media-from(s){ 
		#main-image-features-container .main-image-feature .main-image-feature-icon { font-size: 1.8em; }
		#main-image-features-container .main-image-feature 			{ max-width: 33%; }
	}
	@include media-from(m){ 
		#main-image-content 										{ position: relative; z-index: 3; padding-right: 1em; }
		#main-image-container .hero-image-content-area 				{ padding-left: 2em; }
		#main-image-container .content_module_outer-container		{ margin: 0 -10% 0 0; position: relative; z-index: 3; }
		#main-image-ratings-outer-container 						{ margin-left: 0; }
		#main-image-ratings-container {
			& 														{ border-radius: 50px; border: 1px solid $default-border-color; }
			&:before 												{ content:''; position: absolute; right:100%; top: 50%; height:1px; width: 9000px; background-color: $default-border-color; }
			.ratings-stars-container span							{ font-size: 1.6em; }
		}
	}
	
	@include media-from(l){ 
		.overlapping-main-image-area							{ margin: -30px 0; padding: 30px 0; }
		.overlapping-main-image-area .hero-add-image			{ margin: -30px -35% -30px -30px; }

		#main-image-container .hero-image-content-area.has-ratings	{ padding-bottom: 5em; }
		#main-image-ratings-outer-container 						{ position: absolute; left:2em; bottom: 50px; z-index: 3; }
	}

	
	.carousel-outer-container 	 									{ overflow: hidden; margin: -30px 0; padding: 30px 0; }
	.owl-carousel.top-carousel .owl-stage-outer 					{ overflow: visible; }
	.owl-carousel.disable-default-styles							{ margin: 0; padding: 0; list-style:none; 

		.slide_edit_button			 								{ position: absolute; z-index: 5; right:0; top: 0; }

		.slider-mascot-image 										{ visibility:hidden; display:none; pointer-events: none; width: 40%; margin-right: -5%; }
		.slider-mascot-image img									{ width: auto; max-width:100%; max-height: 100%; margin: 0 auto; display: block; }
		.slider-image-container										{ visibility:hidden; position: absolute; left:0; right:0; top:0; bottom:0; z-index: 1; pointer-events: none; }
		.slider-image												{ height:100%; width: 100%; z-index: 1; position: absolute; pointer-events: none; left:0; top:0; background-position: center center; background-repeat: no-repeat; background-size: cover; }
		.deepdark-theme .slider-overlay								,
		.dark-theme .slider-overlay									{ height:100%; width: 100%; z-index: 1; position: absolute; pointer-events: none; left:0; top:0; background-image: linear-gradient(180deg, $secondary-color-p1, transparent); }

		&.owl-loaded .slider-image-container 						{ visibility:visible; }
		&.owl-loaded .slider-mascot-image							{ visibility:visible; }

		.slider-content-container									{ height:auto; position: relative; z-index: 30; width:100%; background-color: transparent; padding: 1.5em 0; text-align: left; }

		.slider-content											{ 
			& 														{ padding: 0; max-width: 100%; background-color:transparent; margin: 0 auto; }
			*:last-child 											{ margin-bottom: 0; }
			.link-button, .link-button-alt 							{ margin: 0 .4em .4em 0; }
		}

		@include media-to(l){ 
			.slider-image 											{ background-image: none !important; }
			.slider-image-container 								{ display:none; }
			.slider-content-container 								{ position: static; top:0; transform: translateY(0); -webkit-transform: translateY(0); }
		}
		
		@include media-to(520px){ 
			 .slider-content										{ 
			 	.link-button, .link-button-alt 						{ width: 100%; max-width: 100%; text-align: center; }
			 }
		}
		@include media-from(m){ 
			.slider-mascot-image 									{ display: block; }
		}
		@include media-from(l){ 
			.carousel-flex-container  								{ min-height: 750px; }
			.slider-content-container .slider-content				{ max-width: 50%; margin-left:0; text-align: left; }
			.slider-mascot-image 									{ width: 50%; position: absolute; z-index: 20; right: 0; top: -30px; bottom: -30px; }
		}
		@include media-from(xl){ 
			.owl-stage-outer.owl-height 							{ height: auto !important; }
		}

	}

/* --------------------------
 *
 * Carousel navigation
 *
** ----------------------- */

	.carousel-outer-container {

		.owl-nav .disabled, .owl-nav .disabled:hover 				{ opacity: .2; cursor: not-allowed; }

		.owl-dots 													{ text-align: center; position: absolute; width: 100%; left:0; bottom:0; margin: 0 0 .5em 0; padding:0; }
		.owl-dots .owl-dot 											{ display: inline-block; zoom: 1; *display: inline; }
		.owl-dots .owl-dot span 									{ width: 1.5em; height: 1.5em; margin: 0 2px; background: #fff; display: block; @include border-radius(50%); text-indent: -9999px; }
		.owl-dots .owl-dot.active span 								{ background: $primary-color; }
		.owl-dots .owl-dot:hover span 								{ opacity: .8; }

		.owl-nav 													{ opacity: .1; transition: opacity .6s ease; display: block; }

		.owl-carousel:hover 									{ 
			.owl-nav 												{ opacity: 1; }
			.owl-nav .owl-next, 	
			.owl-nav .owl-prev										{ /*background-color: transparentize($primary-color, .6);*/ }
		  }


		.owl-nav .owl-next, 
		.owl-nav .owl-prev  										{ top:0; bottom:auto; position: absolute; height:100%; min-width: 45px; width: 6vw; margin: 0; padding: 0; color: #fff; font-size: 1.8em; transition: background .6s ease; -webkit-transition: background .6s ease; }
		.owl-nav .owl-prev 											{ left:0; float:none; }
		.owl-nav .owl-next 											{ right:0; float:none; } 
		.owl-nav .owl-next span.navigation, 
		.owl-nav .owl-prev span.navigation 							{ position: absolute; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 100%; text-align: center; display: block; }
		.owl-nav .owl-prev span.navigation 							{ left:0; }
		.owl-nav .owl-next span.navigation 							{ right:0; }
		.owl-nav .owl-prev span.navigation span 					,
		.owl-nav .owl-next span.navigation span 					{ display: block; }
		.owl-nav .owl-prev span.navigation span:before 				,
		.owl-nav .owl-next span.navigation span:before 				{ display: block; margin: 0 auto; }

		.owl-nav .owl-next:hover,
		.owl-nav .owl-prev:hover 									{ background-color: transparentize(#000, .8) !important; }

		@include media-from(m){ 
			 .owl-nav .owl-next, 
			 .owl-nav .owl-prev  									{ font-size: 3em; }
		}

	}

	.tips-carousel {
		&.owl-carousel 										{ margin-top: 5em }
		&.owl-carousel .owl-stage-outer 					{ overflow: visible; }
		.owl-nav 											{ opacity: 1; position: absolute; display: block; bottom: 105%; right:0; width: 100%; text-align: center; }
		@include media-from(m){ 
			.owl-nav 										{ bottom: 112%; width: 32%; text-align: left; }
		}
		.owl-nav .owl-next, 	
		.owl-nav .owl-prev									{ position: static; width: auto; padding: 5px 10px; }
		.owl-nav button.tips-nav-icon 						{ position: static; display: block; opacity: .7; padding: 0; width: 29px; height: 42px; background: url('../img/tips-arrow.png') no-repeat center center; transition: all .2s; }
		.owl-nav button.tips-nav-icon:focus 				{ background: url('../img/tips-arrow.png') no-repeat center center; }
		.owl-nav button.tips-nav-icon:focus:not(:focus-visible) { background: url('../img/tips-arrow.png') no-repeat center center; }
		.owl-nav .owl-next button.tips-nav-icon 				{  } 
		.owl-nav .owl-prev button.tips-nav-icon 				{ transform: rotateY(180deg); }
		.owl-nav .owl-next:hover, 	
		.owl-nav .owl-prev:hover							{ background: none !important; }
		.owl-nav .owl-next.disabled:hover button.tips-nav-icon, 	
		.owl-nav .owl-prev.disabled:hover button.tips-nav-icon	{ cursor: not-allowed; }
		.owl-nav .owl-next:not(.disabled):hover button.tips-nav-icon, 	
		.owl-nav .owl-prev:not(.disabled):hover button.tips-nav-icon	{ opacity: 1; }
		.owl-nav button.tips-nav-icon:focus	{ opacity: 1; }
	}

