/* --------------------------
 *
 *  Custom gutters
 * 	Extends the skeletor grid
 *
** ----------------------- */

	.row {
		& > div[class*="col-"] p:last-child							{ margin-bottom:0; }
	}
	.row.no-margin.padding-gutter:not(.no-margin-bottom) + .row.no-margin.padding-gutter.top-margin { margin-top: 0; }
	.row.no-margin.padding-gutter {
		& 															{ margin: 0 (($gutter_px_override * -1) / 2 ) 0 (($gutter_px_override * -1) / 2 ); }
		&>[class*="col-"]  											{ padding: 0 ($gutter_px_override / 2); margin-bottom: $gutter_px_override; margin-left: 0; }
		&.top-padding												{ padding-top: $gutter_px_override; }
		&.top-margin												{ margin-top: $gutter_px_override; }
		&.col-margin-top > div[class*="col-"]						{ margin-top: $gutter_px_override; }
		& > div.flexible-col 										{ padding: 0 ($gutter_px_override / 2); margin-bottom: $gutter_px_override; max-width: 100%; }
	}
	.row.no-margin.padding-gutter.gutter-xs-30 {
		& 															{ margin: 0 -15px 0 -15px; }
		& > div.flexible-col 										,
		& > div[class*="col-"] 										{ padding: 0 15px; margin-bottom: 30px; }
		&.col-margin-top > div[class*="col-"]						{ margin-top: 30px; }
		&.top-padding												{ padding-top: 30px; }
		&.top-margin												{ margin-top: 30px; }
	}
	.row.no-margin.padding-gutter.gutter-xs-40 {
		& 															{ margin: 0 -20px 0 -20px; }
		& > div.flexible-col 										,
		& > div[class*="col-"] 										{ padding: 0 20px; margin-bottom: 40px; }
		&.col-margin-top > div[class*="col-"]						{ margin-top: 40px; }
		&.top-padding												{ padding-top: 40px; }
		&.top-margin												{ margin-top: 40px; }
	}
	.row.no-margin.padding-gutter.gutter-xs-50 {
		& 															{ margin: 0 -25px 0 -25px; }
		& > div.flexible-col 										,
		& > div[class*="col-"] 										{ padding: 0 25px; margin-bottom: 50px; }
		&.col-margin-top > div[class*="col-"]						{ margin-top: 50px; }
		&.top-padding												{ padding-top: 50px; }
		&.top-margin												{ margin-top: 50px; }
	}
	.row.no-margin.padding-gutter.gutter-xs-60 {
		& 															{ margin: 0 -30px 0 -30px; }
		& > div.flexible-col 										,
		& > div[class*="col-"] 										{ padding: 0 30px; margin-bottom: 60px; }
		&.col-margin-top > div[class*="col-"]						{ margin-top: 60px; }
		&.top-padding												{ padding-top: 60px; }
		&.top-margin												{ margin-top: 60px; }
	}


	@include media-from(s){ 
		.row.no-margin.padding-gutter.gutter-s-20 {
			& 														{ margin: 0 -10px 0 -10px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 10px; margin-bottom: 20px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 20px; }
			&.top-padding											{ padding-top: 20px; }
			&.top-margin											{ margin-top: 20px; }
		}
		.row.no-margin.padding-gutter.gutter-s-30 {
			& 														{ margin: 0 -15px 0 -15px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 15px; margin-bottom: 30px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 30px; }
			&.top-padding											{ padding-top: 30px; }
			&.top-margin											{ margin-top: 30px; }
		}
		.row.no-margin.padding-gutter.gutter-s-40 {
			& 														{ margin: 0 -20px 0 -20px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 20px; margin-bottom: 40px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 40px; }
			&.top-padding											{ padding-top: 40px; }
			&.top-margin											{ margin-top: 40px; }
		}
		.row.no-margin.padding-gutter.gutter-s-50 {
		 	& 														{ margin: 0 -25px 0 -25px; }
		 	& > div.flexible-col 									,
		 	& > div[class*="col-"] 									{ padding: 0 25px; margin-bottom: 50px; }
		 	&.col-margin-top > div[class*="col-"]					{ margin-top: 50px; }
		 	&.top-padding											{ padding-top: 50px; }
		 	&.top-margin											{ margin-top: 50px; }
		}
		.row.no-margin.padding-gutter.gutter-s-60 {
			& 														{ margin: 0 -30px 0 -30px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 30px; margin-bottom: 60px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 60px; }
			&.top-padding											{ padding-top: 60px; }
			&.top-margin											{ margin-top: 60px; }
		}
	}

	@include media-from(m){ 
		.row.no-margin.padding-gutter.gutter-m-20 {
			& 														{ margin: 0 -10px 0 -10px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 10px; margin-bottom: 20px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 20px; }
			&.top-padding											{ padding-top: 20px; }
			&.top-margin											{ margin-top: 20px; }
		}
		.row.no-margin.padding-gutter.gutter-m-30 {
			& 														{ margin: 0 -15px 0 -15px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 15px; margin-bottom: 30px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 30px; }
			&.top-padding											{ padding-top: 30px; }
			&.top-margin											{ margin-top: 30px; }
		}
		.row.no-margin.padding-gutter.gutter-m-40 {
			& 														{ margin: 0 -20px 0 -20px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 20px; margin-bottom: 40px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 40px; }
			&.top-padding											{ padding-top: 40px; }
			&.top-margin											{ margin-top: 40px; }
		}
		.row.no-margin.padding-gutter.gutter-m-50 {
		 	& 														{ margin: 0 -25px 0 -25px; }
		 	& > div.flexible-col 									,
		 	& > div[class*="col-"] 									{ padding: 0 25px; margin-bottom: 50px; }
		 	&.col-margin-top > div[class*="col-"]					{ margin-top: 50px; }
		 	&.top-padding											{ padding-top: 50px; }
		 	&.top-margin											{ margin-top: 50px; }
		}
		.row.no-margin.padding-gutter.gutter-m-60 {
			& 														{ margin: 0 -30px 0 -30px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 30px; margin-bottom: 60px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 60px; }
			&.top-padding											{ padding-top: 60px; }
			&.top-margin											{ margin-top: 60px; }
		}
	}

	@include media-from(l){ 
		.row.no-margin.padding-gutter.gutter-l-20 {
			& 														{ margin: 0 -10px 0 -10px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 10px; margin-bottom: 20px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 20px; }
			&.top-padding											{ padding-top: 20px; }
			&.top-margin											{ margin-top: 20px; }
		}
		.row.no-margin.padding-gutter.gutter-l-30 {
			& 														{ margin: 0 -15px 0 -15px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 15px; margin-bottom: 30px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 30px; }
			&.top-padding											{ padding-top: 30px; }
			&.top-margin											{ margin-top: 30px; }
		}
		.row.no-margin.padding-gutter.double-gutter,
		.row.no-margin.padding-gutter.gutter-l-40 {
			& 														{ margin: 0 -20px 0 -20px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 20px; margin-bottom: 40px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 40px; }
			&.top-padding											{ padding-top: 40px; }
			&.top-margin											{ margin-top: 40px; }
		}
		.row.no-margin.padding-gutter.gutter-50,
		.row.no-margin.padding-gutter.gutter-l-50 {
		 	& 														{ margin: 0 -25px 0 -25px; }
		 	& > div.flexible-col 									,
		 	& > div[class*="col-"] 									{ padding: 0 25px; margin-bottom: 50px; }
		 	&.col-margin-top > div[class*="col-"]					{ margin-top: 50px; }
		 	&.top-padding											{ padding-top: 50px; }
		 	&.top-margin											{ margin-top: 50px; }
		}
		.row.no-margin.padding-gutter.gutter-l-60 {
			& 														{ margin: 0 -30px 0 -30px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 30px; margin-bottom: 60px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 60px; }
			&.top-padding											{ padding-top: 60px; }
			&.top-margin											{ margin-top: 60px; }
		}
	}

	@include media-from(xl){ 
		.row.no-margin.padding-gutter.gutter-xl-20 {
			& 														{ margin: 0 -10px 0 -10px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 10px; margin-bottom: 20px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 20px; }
			&.top-padding											{ padding-top: 20px; }
			&.top-margin											{ margin-top: 20px; }
		}
		.row.no-margin.padding-gutter.gutter-xl-30 {
			& 														{ margin: 0 -15px 0 -15px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 15px; margin-bottom: 30px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 30px; }
			&.top-padding											{ padding-top: 30px; }
			&.top-margin											{ margin-top: 30px; }
		}
		.row.no-margin.padding-gutter.gutter-xl-40 {
			& 														{ margin: 0 -20px 0 -20px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 20px; margin-bottom: 40px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 40px; }
			&.top-padding											{ padding-top: 40px; }
			&.top-margin											{ margin-top: 40px; }
		}
		.row.no-margin.padding-gutter.gutter-xl-50 {
		 	& 														{ margin: 0 -25px 0 -25px; }
		 	& > div.flexible-col 									,
		 	& > div[class*="col-"] 									{ padding: 0 25px; margin-bottom: 50px; }
		 	&.col-margin-top > div[class*="col-"]					{ margin-top: 50px; }
		 	&.top-padding											{ padding-top: 50px; }
		 	&.top-margin											{ margin-top: 50px; }
		}
		.row.no-margin.padding-gutter.gutter-xl-60 {
			& 														{ margin: 0 -30px 0 -30px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 30px; margin-bottom: 60px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 60px; }
			&.top-padding											{ padding-top: 60px; }
			&.top-margin											{ margin-top: 60px; }
		}
	}

	@include media-from(mxl){ 
		.row.no-margin.padding-gutter.gutter-mxl-20 {
			& 														{ margin: 0 -10px 0 -10px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 10px; margin-bottom: 20px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 20px; }
			&.top-padding											{ padding-top: 20px; }
			&.top-margin											{ margin-top: 20px; }
		}
		.row.no-margin.padding-gutter.gutter-mxl-30 {
			& 														{ margin: 0 -15px 0 -15px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 15px; margin-bottom: 30px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 30px; }
			&.top-padding											{ padding-top: 30px; }
			&.top-margin											{ margin-top: 30px; }
		}
		.row.no-margin.padding-gutter.gutter-mxl-40 {
			& 														{ margin: 0 -20px 0 -20px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 20px; margin-bottom: 40px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 40px; }
			&.top-padding											{ padding-top: 40px; }
			&.top-margin											{ margin-top: 40px; }
		}
		.row.no-margin.padding-gutter.gutter-mxl-50 {
		 	& 														{ margin: 0 -25px 0 -25px; }
		 	& > div.flexible-col 									,
		 	& > div[class*="col-"] 									{ padding: 0 25px; margin-bottom: 50px; }
		 	&.col-margin-top > div[class*="col-"]					{ margin-top: 50px; }
		 	&.top-padding											{ padding-top: 50px; }
		 	&.top-margin											{ margin-top: 50px; }
		}
		.row.no-margin.padding-gutter.gutter-mxl-60 {
			& 														{ margin: 0 -30px 0 -30px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 30px; margin-bottom: 60px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 60px; }
			&.top-padding											{ padding-top: 60px; }
			&.top-margin											{ margin-top: 60px; }
		}
	}

	@include media-from(xxl){ 
		.row.no-margin.padding-gutter.gutter-xxl-20 {
			& 														{ margin: 0 -10px 0 -10px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 10px; margin-bottom: 20px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 20px; }
			&.top-padding											{ padding-top: 20px; }
			&.top-margin											{ margin-top: 20px; }
		}
		.row.no-margin.padding-gutter.gutter-xxl-30 {
			& 														{ margin: 0 -15px 0 -15px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 15px; margin-bottom: 30px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 30px; }
			&.top-padding											{ padding-top: 30px; }
			&.top-margin											{ margin-top: 30px; }
		}
		.row.no-margin.padding-gutter.gutter-xxl-40 {
			& 														{ margin: 0 -20px 0 -20px; }
			& > div.flexible-col 									,
			& > div[class*="col-"] 									{ padding: 0 20px; margin-bottom: 40px; }
			&.col-margin-top > div[class*="col-"]					{ margin-top: 40px; }
			&.top-padding											{ padding-top: 40px; }
			&.top-margin											{ margin-top: 40px; }
		}
		 .row.no-margin.padding-gutter.gutter-xxl-50 {
		 	& 														{ margin: 0 -25px 0 -25px; }
		 	& > div.flexible-col 									,
		 	& > div[class*="col-"] 									{ padding: 0 25px; margin-bottom: 50px; }
		 	&.col-margin-top > div[class*="col-"]					{ margin-top: 50px; }
		 	&.top-padding											{ padding-top: 50px; }
		 	&.top-margin											{ margin-top: 50px; }
		 }
		 .row.no-margin.padding-gutter.gutter-xxl-60 {
		 	& 														{ margin: 0 -30px 0 -30px; }
		 	& > div.flexible-col 									,
		 	& > div[class*="col-"] 									{ padding: 0 30px; margin-bottom: 60px; }
		 	&.col-margin-top > div[class*="col-"]					{ margin-top: 60px; }
		 	&.top-padding											{ padding-top: 60px; }
		 	&.top-margin											{ margin-top: 60px; }
		 }
	}