/* --------------------------
 *
 * Styles for custom dropdown
 *
** ----------------------- */

	.custom-dropdown { 
		& 															{ position: relative; display: inline-block; background-color: #ebeeef; }
		& > button 													{ display: inline-block; line-height: 1.1; vertical-align: middle; background-color: transparent; border:0; margin:0; padding: 1em 1.3em; font-weight: 400; font-family: $primary-font; transition: all .2s; }
		& > button:hover 											{ background-color: rgba(0,0,0,.1); box-shadow: 0 0 9px $focus-outline-color; }
		& > button:focus:after 										{ display:none;}
		& > button:focus-visible:after 								{ display:none;}
		& > button:focus											{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; background-color: rgba(0,0,0,.1); }
		& > button:focus:not(:focus-visible)						{ outline: 0; box-shadow: 0; background-color: rgba(0,0,0,.1); }
		& > button:focus-visible									{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; background-color: rgba(0,0,0,.1); }
		.language-name 												{ line-height: 24px; vertical-align: middle; }
		img + .language-name										{ margin-left: .6em; }
		& > input[type="checkbox"] 									{ display: none; }
		& > label  													{ display: inline-block; padding: .6em .8em; color: $default-text-color; line-height: 1.5em; text-decoration: none; cursor: pointer; }

		
		& > label:before 											{ margin-left: 1em; line-height: 24px; vertical-align: middle; content: "\f107"; float:right; font-family: 'Font Awesome 5 Pro'; font-weight: 900; display: inline-block; width: 1em; text-align: center; }
		& > button:before 											{ margin-left: 1em; line-height: 24px; vertical-align: middle; content: "\f107"; float:right; font-family: 'Font Awesome 5 Pro'; font-weight: 900; display: inline-block; width: 1em; text-align: center; }
		& > ul 														{ display: none; /* dont display, until triggered */ position: absolute; z-index: 1000; top: 100%; background: #ffffff; padding: 3px 0; margin: 0; list-style: none; width: 100%; border-radius: 6px; @include box-shadow(0, 3px, 8px, $secondary-color-p1); }
		& > ul a 													{ display: block; line-height: 1.1; vertical-align: middle; padding: .5em 1.3em; text-decoration: none; color: $default-text-color !important; font-weight: 400; font-family: $primary-font; }

		& > ul:after												{ content:' '; position: absolute; z-index: 12; transition: all .5s; pointer-events:none; display: block; }
		& > ul:after												{ right:13px; bottom:100%; margin-top:2px; border-style: solid; border-color: transparent transparent #ffffff; border-width: 0 9px 7px; }
		
		& > ul a:hover,
		& > ul a:focus  											{ /*background: $primary-color;*/ text-decoration: underline; }

		& > ul.open 												{ display:block; }
		& > input[type="checkbox"]:checked ~ ul 					{ display:block; }

		& > [type="checkbox"]:checked + label:before 				{ content: "\f00d"; }
		& > button.open:before 										{ content: "\f00d"; }
	}