/* --------------------------
 *
 * FLEX
 *
** ----------------------- */

	.row.flex 														{ -webkit-flex-direction: row; flex-direction: row; }
	.row.flex:after 												{ display: none; }

	.flex 													{	

		/* this is already declared in sf-master */
		& 	{ /*display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap;*/ }

		& .flex.flex-wh > div 										{ width: 100%; min-height: 100%; }

		&.flex-rows 												{ -webkit-flex-direction: row; flex-direction: row; }
		&.flex-columns 												{ -webkit-flex-direction: column; flex-direction: column; }
		&.flex-nowrap 												{ -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

		/* flex justify-content */
		&.flex-center 												{ -webkit-justify-content: center; justify-content: center; }
		&.flex-justify-center 										{ -webkit-justify-content: center; justify-content: center; }
		&.flex-left 												{ -webkit-justify-content: left; justify-content: left; }
		&.flex-justify-left 										{ -webkit-justify-content: left; justify-content: left; }
		&.flex-justify-start 										{ -webkit-justify-content: flex-start; justify-content: flex-start; }
		&.flex-right 												{ -webkit-justify-content: right; justify-content: right; }
		&.flex-justify-right 										{ -webkit-justify-content: right; justify-content: right; }
		&.flex-justify-end 											{ -webkit-justify-content: flex-end; justify-content: flex-end; }
		&.flex-justify-space-around 								{ -webkit-justify-content: space-around; justify-content: space-around; }
		&.flex-justify-space-between 								{ -webkit-justify-content: space-between; justify-content: space-between; }
		&.flex-justify-space-evenly 								{ -webkit-justify-content: space-evenly; justify-content: space-evenly; }

		/* flex align-items */
		&.flex-middle 												{ -webkit-align-items: center; align-items: center; }
		&.flex-align-middle 										{ -webkit-align-items: center; align-items: center; }
		&.flex-end 													{ -webkit-align-items: flex-end; align-items: flex-end; }
		&.flex-align-end 											{ -webkit-align-items: flex-end; align-items: flex-end; }
		&.flex-stretch 												{ -webkit-align-items: stretch; align-items: stretch; }

		& > .flex-grow 												{ -webkit-flex-grow: 1; flex-grow: 1; }
		& > .flex-nogrow 											{ -webkit-flex-grow: 0; flex-grow: 0; }
		& > .flex-shrink 											{ -webkit-flex-shrink: 1; flex-shrink: 1; }
		& > .flex-noshrink 											{ -webkit-flex-shrink: 0; flex-shrink: 0; }
		& > .flex-bottom 											{ align-self: flex-end; }
		& > .flex-self-stretch 										{ align-self: stretch; }

		& .from-xs_order-1 											{ order:1; }
		& .from-xs_order-2 											{ order:2; }
		& .from-xs_order-3 											{ order:3; }

		@include media-from(s){ 
			& .from-s_order-1 										{ order:1; }
			& .from-s_order-2 										{ order:2; }
			& .from-s_order-3 										{ order:3; }
			&.row > div[class*="col-"].s-right 						{ margin-left: auto; }
			&.row > div[class*="col-"].s-left 						{ margin-right: auto; }
		}
		@include media-from(m){ 
			& .from-m_order-1 										{ order:1; }
			& .from-m_order-2 										{ order:2; }
			& .from-m_order-3 										{ order:3; }
			&.row > div[class*="col-"].m-right 						{ margin-left: auto; }
			&.row > div[class*="col-"].m-left 						{ margin-right: auto; }
		}
		@include media-from(l){ 
			& .from-l_order-1 										{ order:1; }
			& .from-l_order-2 										{ order:2; }
			& .from-l_order-3 										{ order:3; }
			&.row > div[class*="col-"].l-right 						{ margin-left: auto; }
			&.row > div[class*="col-"].l-left 						{ margin-right: auto; }
		}
		@include media-from(xl){ 
			& .from-xl_order-1 										{ order:1; }
			& .from-xl_order-2 										{ order:2; }
			& .from-xl_order-3 										{ order:3; }
			&.row > div[class*="col-"].xl-right 					{ margin-left: auto; }
			&.row > div[class*="col-"].xl-left 						{ margin-right: auto; }
		}
		@include media-from(mxl){ 
			& .from-mxl_order-1 									{ order:1; }
			& .from-mxl_order-2 									{ order:2; }
			& .from-mxl_order-3 									{ order:3; }
			&.row > div[class*="col-"].mxl-right 					{ margin-left: auto; }
			&.row > div[class*="col-"].mxl-left 					{ margin-right: auto; }
		}
		@include media-from(xxl){ 
			& .from-xxl_order-1 									{ order:1; }
			& .from-xxl_order-2 									{ order:2; }
			& .from-xxl_order-3 									{ order:3; }
			&.row > div[class*="col-"].xxl-right 					{ margin-left: auto; }
			&.row > div[class*="col-"].xxl-left 					{ margin-right: auto; }
		}

		@include media-to(s){ 
			&.flex-align-middle_to-s 								{ -webkit-align-items: center; align-items: center; }
			&.flex-justify-center_to-s 								{ -webkit-justify-content: center; justify-content: center; }
			&.flex-justify-end_to-s 								{ -webkit-justify-content: flex-end; justify-content: flex-end; }
			&.from-s 												{ display:none !important; }
		}
		@include media-to(m){ 
			&.flex-align-middle_to-m 								{ -webkit-align-items: center; align-items: center; }
			&.flex-justify-center_to-m 								{ -webkit-justify-content: center; justify-content: center; }
			&.flex-justify-end_to-m 								{ -webkit-justify-content: flex-end; justify-content: flex-end; }
			&.from-m 												{ display:none !important; }
		}
		@include media-to(l){ 
			&.flex-align-middle_to-l 								{ -webkit-align-items: center; align-items: center; }
			&.flex-justify-center_to-l 								{ -webkit-justify-content: center; justify-content: center; }
			&.flex-justify-end_to-l 								{ -webkit-justify-content: flex-end; justify-content: flex-end; }
			&.from-l 												{ display:none !important; }
		}
		@include media-to(xl){ 
			&.flex-align-middle_to-xl 								{ -webkit-align-items: center; align-items: center; }
			&.flex-justify-center_to-xl 							{ -webkit-justify-content: center; justify-content: center; }
			&.flex-justify-end_to-xl 								{ -webkit-justify-content: flex-end; justify-content: flex-end; }
			&.from-xl 												{ display:none !important; }
		}
		@include media-to(xxl){ 
			&.flex-align-middle_to-xxl 								{ -webkit-align-items: center; align-items: center; }
			&.flex-justify-center_to-xxl 							{ -webkit-justify-content: center; justify-content: center; }
			&.flex-justify-end_to-xxl 								{ -webkit-justify-content: flex-end; justify-content: flex-end; }
			&.from-xxl 												{ display:none !important; }
		}
	}