/* websupportSans font */

@font-face {
    font-family: 'Websupport Sans';
    src: url('../fonts/websupportsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/websupportsans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Websupport Sans';
    src: url('../fonts/websupportsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/websupportsans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Websupport Sans';
    src: url('../fonts/websupportsans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/websupportsans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Websupport Sans';
    src: url('../fonts/websupportsans-black-webfont.woff2') format('woff2'),
         url('../fonts/websupportsans-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}