
@import "_fonts.scss";

/* --------------------------
 *
 * Font styles
 *
** ----------------------- */

	body 															{ color: $default-text-color; vertical-align: middle; line-height: 1.5; font-weight: 400; -webkit-text-size-adjust: 100%; }

	/* all headings */
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6        	{ font-family: $secondary-font; line-height: 1em; margin-bottom: 20px; margin-top: .2em; &.white-color { color: #fff; } }
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6        	{ & strong, & b {font-weight: 900;} }

	p 																{ margin-bottom: 20px; }
	p + h1 , p + h2, p + h3, p + h4, p + h5, p + h6					{ margin-top: 40px; }

	b,strong 														{ font-weight: 700; }
	small 															{ font-size: .9em; }

	/* Mobile */
	h1, .h1															{ font-size: em(31, $mobile_fsz); font-weight: 900; margin-bottom: .2em; line-height: 1.05; }
	h2, .h2															{ font-size: em(25, $mobile_fsz); font-weight: 900; }
	h3, .h3															{ font-size: em(23, $mobile_fsz); font-weight: 800; }
	.packet-box-container h2										,
	.service-box-container h2										,
	h4, .h4															{ font-size: em(21, $mobile_fsz); font-weight: 800; }
	h5, .h5															{ font-size: em(20, $mobile_fsz); font-weight: 800; }
	h6, .h6															{ font-size: em(18, $mobile_fsz); font-weight: 700; }
	
	@include media-from(s){ 
		h1, .h1														{ font-size: em(42, $mobile_fsz); }
		h2, .h2														{ font-size: em(35, $mobile_fsz); }
		h3, .h3														{ font-size: em(28, $mobile_fsz); }
		.packet-box-container h2									,
		.service-box-container h2									,
		h4, .h4														{ font-size: em(24, $mobile_fsz); }
		h5, .h5														{ font-size: em(21, $mobile_fsz); }
		h6, .h6														{ font-size: em(17, $mobile_fsz); }
	}

	@include media-from(m){ 
		h1, .h1														{ font-size: em(45, $mobile_fsz); }
		h6, .h6														{ font-size: em(18, $mobile_fsz); }
	}

	@include media-from(l){ 
		h1, .h1														{ font-size: em(52, $desktop_fsz); }
		h2, .h2														{ font-size: em(35, $desktop_fsz); }
		h3, .h3														{ font-size: em(32, $desktop_fsz); }
		.packet-box-container h2									,
		.service-box-container h2									,
		h4, .h4														{ font-size: em(26, $desktop_fsz); }
		h5, .h5														{ font-size: em(21, $desktop_fsz); }
		h6, .h6														{ font-size: em(19, $desktop_fsz); }
		small 														{ font-size: .8em; }
	}

	@include media-from(xl){ 
		h1, .h1														{ font-size: em(54, $desktop_fsz); }
		h2, .h2														{ font-size: em(38, $desktop_fsz); }
		h3, .h3														{ font-size: em(35, $desktop_fsz); }
		.packet-box-container h2									,
		.service-box-container h2									,
		h4, .h4														{ font-size: em(28, $desktop_fsz); }
		h5, .h5														{ font-size: em(25, $desktop_fsz); }
		h6, .h6														{ font-size: em(22, $desktop_fsz); }
	}

	@include media-from(mxl){ 
		h1, .h1														{ font-size: em(56, $desktop_fsz); }
		h2, .h2														{ font-size: em(42, $desktop_fsz); }
		h3, .h3														{ font-size: em(37, $desktop_fsz); }
		.packet-box-container h2									,
		.service-box-container h2									,
		h4, .h4														{ font-size: em(34, $desktop_fsz); }
		h5, .h5														{ font-size: em(27, $desktop_fsz); }
		h6, .h6														{ font-size: em(23, $desktop_fsz); }
	}

	@include media-from(xxl){ 
		h1, .h1														{ font-size: em(72, $desktop_fsz); }
		h2, .h2														{ font-size: em(54, $desktop_fsz); }
		h3, .h3														{ font-size: em(45, $desktop_fsz); }
		.packet-box-container h2									,
		.service-box-container h2									,
		h4, .h4														{ font-size: em(36, $desktop_fsz); }
	}