
/* masonry-gallery */

	.responsive-grid 												{ width: auto; margin: 0 -5px; }
	.responsive-grid .gutter-sizer 									{ width: 0px; }
	/*.responsive-grid .grid-sizer 									{ display: none; }*/
	.responsive-grid .grid-sizer 									,
	.responsive-grid .grid-item 									{ width: 50%; padding: 0 5px; margin-bottom: 10px; float:left; }
	.responsive-grid .grid-item img									{ -webkit-transform: translate3d(0, 0, 0); transform : translate3d(0, 0, 0); }
	.responsive-grid .grid-item .grid-item-content					{ width: calc(100% - 20px); background-color: #000; background-color: rgba(0,0,0,.8); padding: 5px 8px; font-size: .75em; text-align: center; position: absolute; bottom:0; z-index: 1; left:10px; opacity: 0; color: #fff; -webkit-transition:opacity .4s; transition:opacity .4s; -webkit-transform: translate3d(0, 0, 0); transform : translate3d(0, 0, 0); }
	.responsive-grid .grid-item:hover .grid-item-content			{ opacity: 1; }
	.responsive-grid .grid-item.width--1 							{ width: 50%; }
	.responsive-grid .grid-item.width--2 							{ width: 50%; }
	.responsive-grid .grid-item.width--3 							{ width: 50%; }
	.responsive-grid .grid-item.width--4 							{ width: 100%; }

	@include media-from(l){ 
		.grid-item a:hover 											{ opacity: 1; }
		.grid-item a:hover img 										{ opacity: 1; -webkit-animation: flash 1s; animation: flash 1s; }
	}

	@-webkit-keyframes flash {0% {opacity: .7; } 100% {opacity: 1; } } 
	@keyframes flash {0% {opacity: .7; } 100% {opacity: 1; } }

	@include media-from(m){ 
		.responsive-grid .grid-sizer 									,
		.responsive-grid .grid-item 									{ width: 33.3333%; }
		.responsive-grid .grid-item.width--1 							{ width: 33.3333%; }
		.responsive-grid .grid-item.width--2 							{ width: 33.3333%; }
		.responsive-grid .grid-item.width--3 							{ width: 33.3333%; }
		.responsive-grid .grid-item.width--4 							{ width: 66.6666%; }
	}
	/*
	@include media-from(l){ 
		.responsive-grid .grid-sizer 									,
		.responsive-grid .grid-item 									{ width: 25%; }
		.responsive-grid .grid-item.width--1 							{ width: 25%; }
		.responsive-grid .grid-item.width--2 							{ width: 25%; }
		.responsive-grid .grid-item.width--3 							{ width: 25%; }
		.responsive-grid .grid-item.width--4 							{ width: 50%; }
	}
	*/

