
/* --------------------------
 *
 * Main navigation
 *
** ----------------------- */

	/* Main nav */
	nav#main{ 
		& 															{ 
			div.submenu-container.show-click  						{ display: block !important; opacity: 1 !important; }
			li button.open-submenu-dropdown 						{ padding: 4px 4px 2px 4px; color: #ffffff; }
			li button.open-submenu-dropdown:focus					{ position: absolute; right: auto; left: 103%; top: 30%; bottom: 30%; }
			li button.open-submenu-dropdown i:before 				{ margin: 0 1px; color: #ffffff; }
			ul.sub-menu li button.open-submenu-dropdown  			{ display: none; }
		}
		ul.sub-menu { display:block; }
		&.mega-dropdown{ 
		 	& { position: static; z-index: 15; }

			 @include media-to(l){
				 & div.submenu-container { display: none !important; }
			 }
		
			//  submenu element styles
		 	li.menu-item-has-children { 
				& { position: relative; }
		 		& > a:after { display: none !important; }

		 		ul.sub-menu li.menu-item-has-children > a:after 	{ display: none; }

		 		ul.sub-menu li 										{ display: block; padding: 0; float:none; width: auto; margin: 0 0 .5em 0; line-height: 1.15; }
		 		ul.sub-menu li a									{ color: $light-text-color; padding: 6px 0 8px 0; display: inline-block; white-space: nowrap; }
		 		ul.sub-menu li[class*="current"] > a				{ color: #ffffff; font-weight: 700; }
		 		ul.sub-menu.menu-level-1 > li > a					{ font-size: 18px; }
				 @include media-from(mxl){ 
					 ul.sub-menu.menu-level-1 > li > a				{ font-size: 24px; }
				}
		 		ul.sub-menu.menu-level-1 > li:last-child			{ margin-bottom: 0; }

		 		ul.sub-menu ul.sub-menu li 							{ padding:0; float:none; width: 100%; border:0; margin-bottom: 9px; }
		 		ul.sub-menu ul.sub-menu li a						{ padding-left: 15px; }

		 		ul.sub-menu ul.sub-menu 							{ position: static; margin-top: 0; padding:0 0 0 5px; border: 0; display: block; width: 100%; @include box-shadow(0, 0, 0, #fff); }
		 		ul.sub-menu ul.sub-menu:after 						{ content:''; display:table; clear:both; }
		 		ul.sub-menu ul.sub-menu li  						{ border-left: 1px dashed $secondary-color-1; margin:0; }
		 		ul.sub-menu ul.sub-menu li.menu-item-has-children > a:after { display: none; }

		 		ul.sub-menu ul.sub-menu ul.sub-menu.menu-level-3 		{ padding: .5em 0 0 .5em;  }
		 		ul.sub-menu ul.sub-menu ul.sub-menu.menu-level-3 li		{ position: relative; padding-left: 11px; }
		 		ul.sub-menu ul.sub-menu ul.sub-menu.menu-level-3 li>a 	{ padding: 4px 20px 6px 15px; }
		 		ul.sub-menu ul.sub-menu ul.sub-menu.menu-level-3 li>a:before { -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased; display:inline-block;font-style:normal; font-variant:normal;text-rendering:auto;line-height:1; content:"\f0c8"; font-size: .4em; vertical-align: middle; font-family:'Font Awesome 5 Pro';font-weight:900; margin: 0; position: absolute; left: 0; top:0; line-height: 2.5 }

		 		ul.sub-menu li:hover								{ background-color: transparent; }
		 		ul.sub-menu li a:hover								{ color: #ffffff; opacity: 1; }
		 	}

			// dropdown styles
			div.submenu-container { 
				& { display: none; 
					position: absolute; z-index: 10; top:100%; right:auto; left:-45px; 
					min-width: 100%; width: auto;
					margin-top: 12px; padding: 40px 55px 50px 45px; 
					background-color: $secondary-color;
					border-radius: 6px; border:0;  
				}
				div.submenu-inner > ul.sub-menu							{ order: 5; }
				div.submenu-inner > div.dropdown-content-container		{ order: 1; padding-right: 2em; width: 350px; font-size: 15px; }
				div.submenu-inner > div.dropdown-content-container p	{ color: $light-text-color; line-height: 1.3; }
				&.menu-level-1 											{ @include box-shadow(5px, 6px, 27px, unquote('#0000004d')); }
				&.menu-level-1:before									,
				&.menu-level-1:after									{ content:' '; position: absolute; z-index: 12; transition: all .5s; pointer-events:none; display: block; }
				&.menu-level-1:before									{ left:0; right:0; bottom:100%; height:12px; background-color: transparent; }
				// &.menu-level-1:before									{ z-index: -1; left: -100vw; right: -100vw; top: -12px; height: 120%; background: linear-gradient(180deg, transparentize($secondary-color, .5), transparent); }
				&.menu-level-1:after									{ left:55px; bottom:100%; margin-top:2px; border-style: solid; border-color: transparent transparent $secondary-color; border-width: 0 13px 10px; }
			}
			
			// hover index
			li.menu-item-has-children:hover > div.submenu-container { z-index: 12; }
		}
		ul.menu{ 
			& 														{ display:flex; }
			& > li 													{ margin: 0 10px 0 10px; float:left; line-height: 1; }
			& > li > a												{ padding: 5px 0; display:flex; align-items: center; font-size: 1em; font-weight: 500; color: $lighter-text-color; border-bottom: 4px solid transparent; border-top: 2px solid transparent; white-space: nowrap; }
			& > li i.dropdown-icon									{ color: $lighter-text-color;}
			& > li > a:hover										{ color: #ffffff; opacity: 1; }
			& > li[class*="current"] > a							{ color: #ffffff; border-bottom-color: $theme-color-1; }

			@include media-from(l){ 
				& > li 												{ margin: 0 0 0 30px; }
			}
			@include media-from(xl){ 
				& > li 												{ margin: 0 0 0 40px; }
			}
		}

		@include media-to(l){ 
			& 													{ overflow: hidden; }
		}
	}

/* --------------------------
 *
 * Subpage navigation
 *
** ----------------------- */

	#sidebar {
		.sub-navigation-alt {

			& 														{  }

			nav#subnav 												{ padding: 0; } 

			li  													{ margin-bottom: 12px; }
			li.menu-item-has-children > a  							{ padding-right:15px; position: relative; }
			li.menu-item-has-children > a:after						{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f105";font-family:'Font Awesome 5 Pro';font-weight:900; display: inline-block; padding: 0; position: absolute; right: 2px; margin-top:2px; top: 2px; }
			li a 													{ color: $default-text-color; display: block; padding: 0; font-size: 1em; line-height: 1.5; margin-left: 0; }

			ul li[class*="current"]>a								{ color: $primary-color; font-weight: 700; }
			ul.sub-menu li[class*="current"]>a						{ color: $primary-color;  }

			li.level-0									 			{  }
			li.level-0 > a									 		{  }
			li.level-0:first-child						 			{  }

			ul.menu-level-1, ul.menu-level-2, ul.menu-level-3,
			ul.menu-level-4, ul.menu-level-5 						{ padding: .6em 0 .6em .6em; margin: 0; }

			ul.sub-menu li > a										{ font-size: 1em; }

			li a:before 											{ display: none; }

		}
	}

/* --------------------------
 *
 * Mobilenav
 *
** ----------------------- */

	button.open-mobile-nav 											{ padding: 10px 8px; margin:0; top:auto !important; background-color: transparent; border-color: transparent; }
	button.open-mobile-nav:hover 									{ background-color: transparent; border-color: transparent; }
	button.open-mobile-nav span.mobile-nav-button-html 				{ width: 19px; }
	button.open-mobile-nav span.mobilenav-button-lines 				{ background-color: $secondary-color-2; height: 2px; }
	button.open-mobile-nav span.mobilenav-button-lines.top 			{ width: 89.5%; top:1px; }
	button.open-mobile-nav span.mobilenav-button-lines.middle 		{ width: 63.2%; margin-top: -1px;; }
	button.open-mobile-nav span.mobilenav-button-lines.bottom 		{ width: 100%; bottom: 1px }
	button.open-mobile-nav span.button-text							{ text-transform: initial; display: none; }

	#mobilenav {
		& 															{ max-width: 330px; left: -100%; right: auto; -moz-transition: left .4s; -webkit-transition: left .4s; -o-transition: left .4s; transition: left .4s; }
		&.open 														{ left: 0; right: auto; }

		.mobilenav-bg 												{ width: 100%; }

		#mobilenav-top-container  									{ padding: 6px 20px; }
		#mobilenav-top-container .mobilenav-close 					{ float:left; margin: 0; border-radius: 6px; border:2px solid transparent; padding: 10px 8px; font-size: 19px; }
		.symbol-cancel span.line-vertical 							{ width: 2px; margin-left: -1px; }
		.symbol-cancel span.line-horizontal 						{ height: 2px; margin-top: -1px; }
		#mobilenav-mid-container  									{ display: none; }
		#mobilenav-language-switcher  								{ float:left; /*margin-left: .5em;*/ background: transparent; border-radius: 2px; border: 1px solid #4E5964; }
		#mobilenav-language-switcher button 						{ padding: .5em .6em;  color: #ffffff;}
		
		.custom-dropdown>label:after 								{ color: $primary-color; }
		
		.mobilenav-searchform 										{ margin: .5em 0 1em 0; }
		
		.open>.open-submenu .symbol span.line-horizontal,
		.symbol span.line-horizontal,
		.symbol span.line-vertical 									{ background-color: #ffffff; }
		.mobilenav-inner  											{ padding: 7px }
		.mobilenav-inner li  										{ border:0 }
		.mobilenav-inner li .submenu-page-content-container 		{ display:none; padding-left: 34px; padding-right: 15px; color: $light-text-color; font-size: .65em; }
		.mobilenav-inner li.open .submenu-page-content-container 	{ display:block; }
		.mobilenav-inner li a 										{ font-family: $secondary-font; font-weight: 900; }
		.mobilenav-inner li.open>ul.sub-menu 						{  }
		.mobilenav-inner li.open>ul.sub-menu li:last-child			{ border-bottom: 1px solid $secondary-color; margin-bottom: 24px; padding-bottom: 24px; }
		.mobilenav-inner li.menu-item-has-children>ul.sub-menu  	{ padding-left: 34px; }
		.mobilenav-inner ul.sub-menu li a 							{ font-family: $primary-font; font-weight: 400; font-size: .85em; min-height: 40px; }
		.mobilenav-inner ul.sub-menu li>span 						{ min-height: 40px; line-height: 40px;  }

		#mobilenav-additional  										{ color: #ffffff; margin-top: auto; }
		#mobilenav-additional a#mobilenav-logo  					{ max-width: 100%; width: 241px; /* logo size */ display: inline-block; }
		#mobilenav-additional a#mobilenav-logo img 					{ display: inline-block; }
		#mobilenav-additional {
			.quick-links {
				& 													{ font-size: .85em; }
				ol li 												,
				ul li 												{ line-height: 1.3; margin-bottom: 1em; }
				a													{ color: var(--light-text-color); }
				a:before											{ margin: 0 .6em 0 0; }
				.lgpi_user_details_container a span[class*="fa-"]:before { margin-right: .1em; margin-left: 0; }
				.lgpi_user_details_container > span.lgpi_login_username { margin-right: 1.2em; margin-bottom: 1em; }
				.lgpi_user_details_container > span.lgpi_login_username > a:before { color: $theme-color-1; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f2bd";font-family:'Font Awesome 5 Pro';font-weight:400; }
				.lgpi_user_details_container .lgpi_login_links_container {  }
				.lgpi_user_details_container .lgpi_login_links_container .lgpi_user_dropdown_item > a { display: inline-block; padding-left: 1em; margin-bottom: .7em; }
			}
			.mobilenav-languages-container 							{ margin-top: 1.5em; }
			.mobilenav-languages-container .custom-dropdown>ul		{ top: auto; bottom: 100%; }
			.mobilenav-languages-container .custom-dropdown>ul:after {
				right: 13px;
				bottom:auto;
				top: 100%;
				margin-top: 0px;
				border-style: solid;
				border-color: #ffffff transparent #ffffff transparent;
				border-width: 7px 9px 0;
			}
		}
	}
