/* --------------------------
 *
 * Theme variables
 *
** ----------------------- */

body{
	// websupport brick #DD5656
	--primary-color: #DD5656;
	--primary-color-1b: rgb(255,0,90);

	// websupport navy+1 #1E262D
	--secondary-color-p1: #1E262D; 
	// websupport navy #2C3843
	--secondary-color: #2C3843; 
	// websupport navy -1 #4E5964
	--secondary-color-1: #4E5964; 
	// websupport navy -2 #717C86
	--secondary-color-2: #717C86; 
	// websupport navy -3 #97A1AB
	--secondary-color-3: #97A1AB; 
	// websupport navy -4 #BEC8D1
	--secondary-color-4: #BEC8D1; 
	// websupport navy -5 #E7F0F8
	--secondary-color-5: #E7F0F8; 
	
	// websupport aqua #46E1D7;
	--tertiary-color: #46E1D7;
	// --tertiary-color: #9ececa;

	// websupport gem #2FD17D;
	--theme-color-1: #2FD17D;
	--theme-color-1b: #00FFA0;

	// Websupport King #1487EB
	--theme-color-2: #1487EB;

	// Websupport Flamingo #D750AF
	--theme-color-3: #D750AF;

	// Websupport Plum #7A4BE3;
	--theme-color-4: #7A4BE3;

	// Websupport Pumpkin #F07828
	--theme-color-5: #F07828;

	// Websupport Sun #F9C20E
	--theme-color-6: #F9C20E;

	--lightgrey-color: var(--secondary-color-5);
	--background-color: var(--secondary-color-p1);
	--default-border-color: var(--secondary-color-1);
	// --default-border-color: #bfbfbf;
	--input-border-color: var(--secondary-color-4);
	--default-link-color: var(--primary-color);

	--default-text-color: #2C3843;
	--light-text-color: #BEC8D1;
	--lighter-text-color: #97A1AB;

	/* Heading-colors / defaults */
	--default-h1-color: var(--secondary-color);
	--default-h2-color: var(--secondary-color);
	--default-h3-color: var(--secondary-color);
	--default-h4-color: var(--secondary-color);
	--default-h5-color: var(--secondary-color);
	--default-h6-color: var(--secondary-color);

	--light-h1-color: #fff; 
	--light-h2-color: #fff; 
	--light-h3-color: #fff; 
	--light-h4-color: #fff; 
	--light-h5-color: #fff; 
	--light-h6-color: #fff; 
}

// websupport brick #DD5656
$primary-color: #DD5656;
$primary-color-1b: rgb(255,0,90);

// websupport navy+1 #1E262D
$secondary-color-p1: #1E262D; 
// websupport navy #2C3843
$secondary-color: #2C3843; 
// websupport navy -1 #4E5964
$secondary-color-1: #4E5964; 
// websupport navy -2 #717C86
$secondary-color-2: #717C86; 
// websupport navy -3 #97A1AB
$secondary-color-3: #97A1AB; 
// websupport navy -4 #BEC8D1
$secondary-color-4: #BEC8D1; 
// websupport navy -5 #E7F0F8
$secondary-color-5: #E7F0F8; 

// websupport aqua #46E1D7;
$tertiary-color: #46E1D7;

// $tertiary-color: #9ececa;

// websupport gem #2FD17D;
$theme-color-1: #2FD17D;
$theme-color-1b: #00FFA0;

// Websupport King #1487EB
$theme-color-2: #1487EB;

// Websupport Flamingo #D750AF
$theme-color-3: #D750AF;

// Websupport Plum #7A4BE3;
$theme-color-4: #7A4BE3;

// Websupport Pumpkin #F07828
$theme-color-5: #F07828;

// Websupport Sun #F9C20E
$theme-color-6: #F9C20E;

$default-text-color: $secondary-color;
$light-text-color: $secondary-color-4;
$lighter-text-color: $secondary-color-3;

$lightgrey-color: $secondary-color-5;
$background-color: $secondary-color-p1;
$default-border-color: $secondary-color-1;
// $default-border-color: #bfbfbf;
$input-border-color: $secondary-color-4;
$default-link-color: $primary-color; 
$focus-outline-color: $theme-color-2;

/* Heading-colors / defaults */
$default-h1-color: $secondary-color; 
$default-h2-color: $secondary-color; 
$default-h3-color: $secondary-color; 
$default-h4-color: $secondary-color; 
$default-h5-color: $secondary-color; 
$default-h6-color: $secondary-color; 

$light-h1-color: #fff; 
$light-h2-color: #fff; 
$light-h3-color: #fff; 
$light-h4-color: #fff; 
$light-h5-color: #fff; 
$light-h6-color: #fff; 

$primary-font: Arial;
$secondary-font: "Websupport Sans", Arial;

/*$narrow_wrapper: 920px;*/
$wide_wrapper: 1920px;
$wide_alt_wrapper: 1540px;
$theme_wrapper_padding_px: 16px;

$mobile_fsz: 14;
$desktop_fsz: 18;

$gutter_px_override: 32px;

/* mobilenav */
	$override_close_btn_color: transparent;
	$override_close_icon_color: #fff;

	$override_bg_color: $secondary-color-p1;
	$override_top_bg_color: $secondary-color-p1;
	$override_menu_bg_color: $secondary-color-p1;

	$override_mid_bg_color: $secondary-color-p1;
	$override_mid_color: #ffffff;

	$override_link_color: #ffffff;
	$override_link_active_color: $theme-color-1b;

	$override_submenu_bg_color: $secondary-color-p1;
	$override_submenu_link_color: #ffffff;

	$override_sub_submenu_bg_color: $secondary-color-p1;
	$override_sub_submenu_link_color: #ffffff;
/* /mobilenav */

/*$content-default-padding-xs: 15px;*/
/*$content-default-padding-s: 15px;*/
/*$content-default-padding-m: 20px;*/
/*$content-default-padding-l: 30px;*/
/*$content-default-padding-xl: 40px;*/


@mixin override-button-styles {
	display: inline-block; position: relative; z-index: 1;
	padding: .83334em 1.6em .72223em 1.6em;
	line-height: 1.1; font-size: 1em; text-transform: initial; font-family: $secondary-font; font-weight: 700; 
	border-radius:6px; border:2px solid $primary-color; 
	background-color: $primary-color; color: #fff; 
	transition: all .3s;

	&[class*="icon-"]:after,
	&[class*="icon-"]:before 										{ width: auto;  }
	&.block-button 													{ display: block; width: 100%;  }
	&.bigger-button													{ font-size: 1.15em; padding: 1.17em 1.477em 1.17em 1.477em; }
	@media only screen and (min-width: 768px) {
		&.bigger-button { font-size: 1.55em; }
	}
	&.bigger-button.fa-align-bottom-right							{ padding-bottom: 2.17em; }
	&.bigger-button.fa-align-bottom-right [class*="fa-"]			{ position: absolute; right: 1.1em; bottom: 1.17em; }
	&.bigger-button.fa-align-bottom-right [class*="fa-"]:before		{ margin: 0; font-size: .7em; color: $secondary-color-1; }
	&.bigger-button:not(.disable-button-styles) i:before 			{ transition: all .3s; }
	&.bigger-button.button-navy:not(.disable-button-styles):hover 	{ background-color: $theme-color-2; box-shadow: 0 0.1875rem 1rem transparentize($theme-color-2,.5); opacity: 1; }
	&.bigger-button:not(.disable-button-styles):hover i:before		{ color:inherit; }
	&.text-left 													{ text-align: left; }
	&.fa,&.far,&.fas,&.fal,&.fab 									{ font-family: $secondary-font; font-weight: 700; line-height: 1.1; &:before { margin-left:0; font-size:.85em; display: inline-block; } &.fa--after:before { margin-left:.5em; } }
	&.fa.hover-animate:hover,
	&.far.hover-animate:hover,
	&.fas.hover-animate:hover,
	&.fal.hover-animate:hover,
	&.fab.hover-animate:hover { &:before 							{ animation: shuffleb 1.5s ease 0s infinite alternate; } &.fa--after:before { animation: shufflea 1.5s ease 0s infinite alternate; } }
	&:not(.disable-button-styles):after 							{ background-color: inherit; content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; transition: left .2s, right .2s, top .2s, bottom .2s; border-radius: inherit; }
	&:not(.disable-button-styles):focus:after 						{ left:-.3em; right:-.3em; top:-.3em; bottom:-.3em; }
	&:not(.disable-button-styles):hover:after						{ left:-.3em; right:-.3em; top:-.3em; bottom:-.3em; }
	&:not(.disable-button-styles):hover 							{ box-shadow: 0 0.1875rem 1rem transparentize($primary-color,.5); opacity: 1; }
	&:not(.disable-button-styles):focus:after						{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
	&:not(.disable-button-styles):focus:not(:focus-visible):after	{ outline: 0; box-shadow: none; }
	&:not(.disable-button-styles):focus-visible:after				{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
	&:not(.disable-button-styles):active:not(:disabled), 
	&:not(.disable-button-styles):active:not(.disabled) { transform: scale(.9); } 
	&:not(.disable-button-styles):active:not(.processing) { transform: scale(.9); }
	&:not(.disable-button-styles).square-social-link 				{ width: 3em; height: 3em; line-height: 3em; text-align: center; padding: 0; & i:before, &:before { margin: 0; padding: 0; } }
} 
@mixin override-button-styles-alt  { 
	// green-color
	background-color: $theme-color-1b; color: $secondary-color; border-color:$theme-color-1b; 
	&:focus { background-color: $theme-color-1b; color: $secondary-color; border-color:$theme-color-1b;  outline:none; }
	&:hover { background-color: $theme-color-1b; color: $secondary-color; border-color:$theme-color-1b;  outline:none; }
	&:not(.disable-button-styles):hover 							{ box-shadow: 0 0.1875rem 1rem transparentize($theme-color-1b,.5); opacity: 1; }
	&:not(.disable-button-styles):focus:after						{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
	&:not(.disable-button-styles):focus:not(:focus-visible):after	{ outline: 0; box-shadow: none; }
	&:not(.disable-button-styles):focus-visible:after				{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
} 
@mixin override-button-styles-cta  { 
	// primary-color CTA
	background-color: $primary-color; color: #fff; border-color:$primary-color; 
	&:not(.disable-button-styles):hover 							{ box-shadow: 0 0.1875rem 1rem transparentize($primary-color,.5); opacity: 1; }

	&.button-green 												{ color: $secondary-color; background-color: $theme-color-1b; border-color: $theme-color-1b; }
	&.button-green:hover { color: $secondary-color; background-color: $theme-color-1b; border-color: $theme-color-1b; box-shadow: 0 0.1875rem 1rem transparentize($theme-color-1b,.5); } 
	&.button-navy 												{ color: #fff; background-color: $secondary-color; border-color: $secondary-color; }
	&.button-navy:hover { color: #fff; background-color: $secondary-color; border-color: $secondary-color; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color,.5); } 
	&.button-navy-1 											{ color: #fff; background-color: $secondary-color-1; border-color: $secondary-color-1; }
	&.button-navy-1:hover { color: #fff; background-color: $secondary-color-1; border-color: $secondary-color-1; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color-1,.5); } 
	&.button-darknavy 											{ color: #fff; background-color: $secondary-color-p1; border-color: $secondary-color-p1; }
	&.button-darknavy:hover { color: #fff; background-color: $secondary-color-p1; border-color: $secondary-color-p1; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color-p1,.5); } 
	&.button-white 												{ color: $secondary-color; background-color: #fff; border-color: #fff; }
	&.button-white:hover { color: $secondary-color; background-color: #fff; border-color: #fff; box-shadow: 0 0.1875rem 1rem transparentize(#fff,.5); } 
	&.hover-theme-color-2:hover 								{ background-color: $theme-color-2; box-shadow: 0 0.1875rem 1rem transparentize($theme-color-2,.5); opacity: 1; }
} 

// transparent button
.transparent-button												{ @include override-button-styles; 
	/* override defaults */
	&															{ background-color: transparent; color: $primary-color; border-color: $primary-color; }
	&:focus,
	&:hover { color: #fff; background-color: $primary-color; border-color: $primary-color; outline:none; }
	&.button-primary 											{ color: $primary-color; border-color: $primary-color; }
	&.button-primary:focus,
	&.button-primary:hover { color: #fff; background-color: $primary-color; border-color: $primary-color; } 
	&.button-green 												{ color: $theme-color-1b; border-color: $theme-color-1b; }
	&.button-green:focus,
	&.button-green:hover { color: $secondary-color; background-color: $theme-color-1b; border-color: $theme-color-1b; box-shadow: 0 0.1875rem 1rem transparentize($theme-color-1b,.5); } 
	&.button-navy 												{ color: $secondary-color; border-color: $secondary-color; }
	&.button-navy:focus,
	&.button-navy:hover { color: #fff; background-color: $secondary-color; border-color: $secondary-color; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color,.5); } 
	&.button-navy-1 												{ color: $secondary-color-1; border-color: $secondary-color-1; }
	&.button-navy-1:focus,
	&.button-navy-1:hover { color: #fff; background-color: $secondary-color-1; border-color: $secondary-color-1; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color-1,.5); } 
	&.button-darknavy 											{ color: $secondary-color-p1; border-color: $secondary-color-p1; }
	&.button-darknavy:focus,
	&.button-darknavy:hover { color: #fff; background-color: $secondary-color-p1; border-color: $secondary-color-p1; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color-p1,.5); } 
	&.button-grey 												{ color: #fff; border-color: $default-border-color; }
	&.button-grey:focus,
	&.button-grey:hover { color: $secondary-color; background-color: #fff; border-color: #fff; box-shadow: 0 0.1875rem 1rem transparentize(#fff,.5); } 
	&.button-white 												{ color: #fff; border-color: #fff; }
	&.button-white:focus,
	&.button-white:hover { color: $secondary-color; background-color: #fff; border-color: #fff; box-shadow: 0 0.1875rem 1rem transparentize(#fff,.5); } 
	&.button-color-white 										{ color: #fff; }
	&.thin-border 												{ border-width: 1px; }
}

@mixin default-button-styles 									{ @if mixin-exists(override-button-styles){ @include override-button-styles; }@else{ display: inline-block; padding: .8em 1.3em; font-size: 1em; margin: 0 3px 3px 0; border-radius:0; border:0px; background-color: $secondary-color; color: #fff; } } 
@mixin default-button-styles-alt 								{ @if mixin-exists(override-button-styles-alt){ @include override-button-styles-alt; }@else{ background-color: $secondary-color; color: #fff; } } 
@mixin default-button-styles-cta 								{ @if mixin-exists(override-button-styles-cta){ @include override-button-styles-cta; }@else{ background-color: $primary-color; color: #fff; } } 

input[type="button"].link-button:not(.ws-button) 				{ @include default-button-styles; }
input[type="submit"].link-button:not(.ws-button) 				{ @include default-button-styles; }
button[type="submit"].link-button:not(.ws-button) 				{ @include default-button-styles; }
button.link-button:not(.ws-button) 								{ @include default-button-styles; }
.link-button-alt:not(.ws-button)								{ @include default-button-styles; }
.link-button:not(.ws-button)									{ @include default-button-styles; }
.button.cta:not(.ws-button) 									{ @include default-button-styles; }

input[type="button"].link-button-alt:not(.ws-button) 			{ @include default-button-styles-alt; }
input[type="submit"].link-button-alt:not(.ws-button) 			{ @include default-button-styles-alt; }
button[type="submit"].link-button-alt:not(.ws-button) 			{ @include default-button-styles-alt; }
button.link-button-alt:not(.ws-button) 							{ @include default-button-styles-alt; }
.link-button-alt:not(.ws-button)								{ @include default-button-styles-alt; }


.submit-container input[type="button"]:not(.ws-button) 			{ @include default-button-styles-cta; }
input[type="submit"]:not(.ws-button)  							{ @include default-button-styles-cta; }
input[type="button"]:not(.ws-button)							{ @include default-button-styles-cta; }
.link-button:not(.ws-button)									{ @include default-button-styles-cta; }
.button.cta:not(.ws-button) 									{ @include default-button-styles-cta; }