@import "_fonts.scss";
@import "_theme_variables.scss";

body#tinymce.wp-editor {
	& 																{ color: $default-text-color; font-weight: 400; line-height: 1.23em; }
	a 																{ color: $default-link-color; }
	a.fa,a.fal,a.fab,a.fas											{ font-family: inherit; font-weight: inherit; }

	/* all headings */
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6        	{ font-family: $secondary-font; line-height: 1em; margin-bottom: 20px; margin-top: .1em; }
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6        	{ & strong, & b {font-weight: 900;} }
	p 																{ margin-bottom: 20px; }
	p + h1 , p + h2, p + h3, p + h4, p + h5, p + h6					{ margin-top: 40px; }

	/*p a 															{ font-weight: 400; }*/
	/*p a[class*="fa-"] 											{ font-weight: 600; }*/
	b,strong 														{ font-weight: 700; }

	h1, .h1															{ font-size: 72px; color: $default-h1-color; font-weight: 900; margin-bottom: .2em; margin-top: 0; }
	h2, .h2															{ font-size: 54px; color: $default-h2-color; font-weight: 900; }
	h3, .h3															{ font-size: 45px; color: $default-h3-color; font-weight: 800; }
	h4, .h4															{ font-size: 36px; color: $default-h4-color; font-weight: 800; }
	h5, .h5															{ font-size: 27px; color: $default-h5-color; font-weight: 800; }
	h6, .h6															{ font-size: 23px; color: $default-h6-color; font-weight: 700; }

	h1 a, .h1 a,
	h2 a, .h2 a,
	h3 a, .h3 a,
	h4 a, .h4 a,
	h5 a, .h5 a,
	h6 a, .h6 a              										{ color: inherit; }

	blockquote 														{ font-size: 1.15em; margin: 2.4em; margin-right: 2.5em; opacity: .85; font-style: italic; position: relative; }
	blockquote:before 												{ font-size: 3.6em; opacity: .75; content: "\201C"; display: block; position: absolute; left: -0.65em; top: -0.3em; line-height: 1; }

	.ingress 														{ font-size: 1.1em; font-weight: 300; line-height: 1.5; }

	.link-button-alt,
	.link-button													{ @include override-button-styles; text-decoration: none; }
	.link-button-alt												{ @include override-button-styles-alt; }
	.link-button 													{ @include override-button-styles-cta; }

	.transparent-button												{ @include override-button-styles; 
		/* override defaults */
		&															{ text-decoration: none; background-color: transparent; color: $primary-color; border-color: $primary-color; }
		&:hover { color: #fff; background-color: $primary-color; border-color: $primary-color; }
		&.button-primary 											{ color: $primary-color; border-color: $primary-color; }
		&.button-primary:hover { color: #fff; background-color: $primary-color; border-color: $primary-color; } 
		&.button-green 												{ color: $theme-color-1b; border-color: $theme-color-1b; }
		&.button-green:hover { color: $secondary-color; background-color: $theme-color-1b; border-color: $theme-color-1b; box-shadow: 0 0.1875rem 1rem transparentize($theme-color-1b,.5); } 
		&.button-navy 												{ color: $secondary-color; border-color: $secondary-color; }
		&.button-navy:hover { color: #fff; background-color: $secondary-color; border-color: $secondary-color; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color,.5); } 
		&.button-navy-1 												{ color: $secondary-color-1; border-color: $secondary-color-1; }
		&.button-navy-1:hover { color: #fff; background-color: $secondary-color-1; border-color: $secondary-color-1; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color-1,.5); }
		&.button-darknavy 											{ color: $secondary-color-p1; border-color: $secondary-color-p1; }
		&.button-darknavy:hover { color: #fff; background-color: $secondary-color-p1; border-color: $secondary-color-p1; box-shadow: 0 0.1875rem 1rem transparentize($secondary-color-p1,.5); } 
		&.button-grey 												{ color: #fff; border-color: $default-border-color; }
		&.button-grey:hover { color: $secondary-color; background-color: #fff; border-color: #fff; box-shadow: 0 0.1875rem 1rem transparentize(#fff,.5); } 
		&.button-white 												{ color: #fff; border-color: #fff; }
		&.button-white:hover { color: $secondary-color; background-color: #fff; border-color: #fff; box-shadow: 0 0.1875rem 1rem transparentize(#fff,.5); } 
		&.button-color-white 										{ color: #fff; }
		&.thin-border 												{ border-width: 1px; }
	}

	a.button-grey { background: #ddd !important; }
	a.button-white { background: #ddd !important; }

	ul.checklist 													{ list-style:none; margin: 1.5em auto 2em 0; padding-left: 0; max-width: 90%; font-size: 1em;/* font-weight: 400;*/
		& li 														{ text-align: left; margin-bottom: 5px; position: relative; padding-left: 1.6em; }
		& li:before 												{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f00c";font-family:'Font Awesome 5 Pro';font-weight:900; position: absolute; left:.5em; font-size: .8em; top: .3em; color: #7ac35c; }
		& li.not-enabled:before 									{ content:"\f00d"; color: #dd5656; }
		& ul 														{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul ul 													{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul li:before 												{ content: '\f00c'; }
		& ul ul li:before 											{ content: '\f00c'; }
	}

	ul.targetlist 													{ list-style:none; margin: 1.5em auto 2em 0; padding-left: 0; max-width: 100%; font-size: 1em;
		& li 														{ text-align: left; margin-bottom: .5em; position: relative; padding-left: 2.2em; }
		& li:before 												{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;content:"\f140";font-family:'Font Awesome 5 Pro';font-weight:900; 
			position: absolute; left:.1em; top: -.1em; color: $primary-color; font-size: 1.2em; }
		& ul 														{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul ul 													{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul li:before 												{ content: '\f140'; }
		& ul ul li:before 											{ content: '\f140'; }
	}

	div.target-container											{ margin-bottom: 3em; position: relative; padding-left: 2.2em; position: relative; text-align: left;
		&:before 													{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;content:"\f140";font-family:'Font Awesome 5 Pro';font-weight:900; 
			position: absolute; left:.1em; top: -.05em; color: $primary-color; font-size: 1.2em; }
	}

	.aspect-container 												{ width: 100%; padding-bottom:56.25%; position: relative; overflow:hidden; }
	.aspect-container.aspect-16-9									{ padding-bottom:56.25%; }
	.aspect-container.aspect-21-9									{ padding-bottom:42.857142857142854%; }
	.aspect-container.aspect-4-3									{ padding-bottom:75%; }
	.aspect-container .mce-preview-object.mce-object-iframe			{ width: 100%; height:100%; position: absolute; left:0; top:0; }
	.aspect-container .mce-preview-object.mce-object-iframe:after	{ width: 100%; content: ''; height:100%; position: absolute; left:0; top:0; background: #00000077; }
	.aspect-container iframe										{ width: 100%; height:100%; position: absolute; left:0; top:0; }


}
