
/* Required variables */
@import "_theme_variables.scss";

/* Required styles from master theme*/
@import "../../../sf-master-twig/assets/css/styles.scss";

@import "_font_styles.scss";
@import "_banners.scss";
@import "_flex.scss";
@import "_cols.scss";
@import "_carousel.scss";
@import "_gallery.scss";
@import "_navigation.scss";
@import "_dropdown.scss";

/* --------------------------
 *
 * Brand logo
 *
** ----------------------- */

	.logo-small 													{ color: #ffffff; fill: #ffffff; width: 100%; display: inline-block; vertical-align: middle; }
	.logo-big 														{ color: #ffffff; fill: #ffffff; width: 100%; display: inline-block; vertical-align: middle; }
	.big-logo-container 											{ width: 153px; max-width:100%; }
	.small-logo-container 											{ width: 40px; max-width:100%; }

/* --------------------------
 *
 * Base Structure
 *
** ----------------------- */

	body 															{ background: #ffffff; }
	.wrapper 														{ max-width: 1280px;}
	#page-top 													{ 
		& 															{ border-bottom: 1px solid #4E5964; padding: 6px 0;  }
		a 															{ text-decoration: none; }
		.page-top-left-widgets 										{  }
		.header-top-item							 				{ display: block; margin: 0 0 0 0; float:left; }
		#header-language-switcher 									{ background-color: transparent; }
		#header-language-switcher button							{ color: $lighter-text-color; line-height: 1; 
			&:hover { color: #ffffff; background:transparent; border:0; box-shadow:none; opacity:1; }
			&:focus { color: #ffffff; background:transparent; border:0; box-shadow:none; opacity:1; } 
		}
		
		#header-language-switcher button span.language-name			{ line-height: 1; }
		#header-language-switcher button:before						{ line-height: 1.1; margin-left: .4em; }
		#header-language-switcher label								{ color: $lighter-text-color; }
		.page-top-content-middle  									{ font-size: 14px; margin: 0 10px; }
		.page-top-content-middle .big-logo-container 				{ width: 102px; }
		.page-top-content-left  									{ font-size: 14px; margin: 0 auto 0 0; color: $lighter-text-color; }
		.page-top-content-left .widget-container a 					{ color: $lighter-text-color;
			&:hover { color: #ffffff; opacity:1; }
			&:focus { color: #ffffff; opacity:1; } 
		}
		.page-top-content-left .widget-container p 					{ display: inline-block; margin: 0 10px; }
		.page-top-content-right  									{ font-size: 14px; margin: 0 0 0 auto; padding:0; min-width: 0; }
		.page-top-content-right .widget-container p 				{ display: inline-block; margin: 0 10px; }
		.page-top-content-right .widget-container p.lgpi_toggle_cart_button_container { margin: 0; }
		.page-top-content-right .widget-container ul 				{ list-style: none; margin: 0; padding: 0; color: $lighter-text-color; display: block; float:right; }
		.page-top-content-right .widget-container ul li				{ /*padding: 10px 15px;*/ display: block; float:left; }
		.page-top-content-right .widget-container ul li p			{ margin:0; }
		/*.page-top-content-right .widget-container ul li:last-child	{ padding-right: 0; }*/
		.page-top-content-right .widget-container ul li a:before	{ margin-right: .6em; margin-left: 0; }
		.page-top-content-right .widget-container .lgpi_login_button_container a span[class*="fa-"]:before { margin-right: .1em; margin-left: 0; }
		.page-top-content-right .widget-container ul li a			,
		.page-top-content-right .widget-container ul li button		{ color: $lighter-text-color; padding: 10px 13px; border:0; 
			&:hover { color: #ffffff; opacity:1; }
			&:focus { color: #ffffff; opacity:1; } 
		}
		@include media-from(l){
			.page-top-content-right #header-language-switcher button	{ padding: 10px 15px; line-height: 1; display: inline-block;  }
			.page-top-content-right .widget-container ul li a			{ padding: 10px 15px; line-height: 1; display: inline-block;  }
			.page-top-content-right .widget-container ul li button		{ padding: 10px 15px; line-height: 1; display: inline-block;  }
			.page-top-right-widgets 									{ margin-right: -15px; }
		}
	}
	header#header 												{ & {  }
		.header-outer-container  									{  }
		.header-left 												{ width: auto; height: auto; margin: 0; transition: height .3s; }
		.header-middle 												{ width: auto; margin: 0 auto 0 0; }
		.header-right												{ width: auto; margin: 0 0 0 auto;  }
		.header-left												,
		nav#main ul.menu > li > a 									,
		.header-right .widget-container button						{ height: 96px; transition: height .3s; }
		a 															{ text-decoration: none; }
		@include media-to(l){ 
			.header-inner-container  								{ overflow-y:hidden; padding: 0 $wrapper_padding_px; margin: 0px (-$wrapper_padding_px); }
			.header-left											{ display: none; }
			.header-right											{ display: none; }
			nav#main ul.menu > li > a 								,
			.header-right .widget-container button					{ height: 64px; }
		}
	}

	@include media-from(xxl){ 
		.banner-notice-container .wrapper.wide,
		header#header .wrapper.wide,
		#page-top .wrapper.wide 									{ padding: 0 48px; }
	}

	/* Sticky header */
	.header-placeholder 											{ display:block; background: $secondary-color; height:145px; transition: height 300ms; }
	.header-fixed 													{ position: fixed; left:0; right:0; top:0; z-index: 280; transition: background-color .3s; background: linear-gradient(180deg, $secondary-color 72%, transparentize($secondary-color, 1) 77%, transparentize($secondary-color, 1)); }
	.header-fixed header#header 									{ border-bottom: 1px solid transparent; transition: border .3s; }
	.header-fixed.sticky   											{ z-index: 300; background: $secondary-color; }
	.header-fixed.sticky header#header  							{ border-color: $default-border-color; }
	.header-fixed.sticky header#header .header-left 				{  }
	.header-fixed.sticky header#header .header-right				{  }
	.header-fixed.sticky header#header 	{ 
		.header-left												,
		nav#main ul.menu > li > a 									,
		.header-right .widget-container button						{ height: 72px; }
	}
	@include media-to(l){
		.header-fixed 												{ background: linear-gradient(180deg, $secondary-color 92%, transparent); }
		.header-fixed.sticky header#header 	{ 
			.header-left											,
			nav#main ul.menu > li > a 								,
			.header-right .widget-container button					{ height: 40px; }
		}
	}

	// cart widget
	.cart-widget-area .widget-container button 						{ font-family: $primary-font; color: #ffffff; }
	.cart-widget-area .widget-container button [class*="fa-"]		{ color: $theme-color-1b; }

	.logged-in.admin-bar {
		@include media-to(783px){ 
			#mobilenav 												,
			.lgpi_cart_html_abs_container 							,
			.header-fixed 											{ border-top: 46px solid #23282d; }
		}
		@include media-from(783px){ 
			#mobilenav 												,
			.lgpi_cart_html_abs_container 							,
			.header-fixed 											{ border-top: 32px solid #23282d; }
		}
	}
		
	#outer-content-area-container 									{ padding: 0; }
	hr.footer-border 												{ margin:0; }
	footer#footer 													{ min-height: 20vh; font-size: 14px; padding: 2em 0 4em 0; color: $light-text-color; }
	footer#footer a:not(.link-button):not(.link-button-alt)			{ text-decoration: none; color: $secondary-color-2; &:hover { color: $theme-color-1b; } }
	footer#footer .footer-content 									{ padding: 2em 0 2em 0; }
	footer#footer .footer-top-widget-container						{ padding: 0 0 2em 0; }
	footer#footer .footer-menu-middle								{ margin-right: auto; margin-bottom: 1.5em; }
	footer#footer .footer-menu-right								{ margin-right: auto; margin-bottom: 1.5em; }
	footer#footer .footer-menu-left									{ margin-right: auto; margin-bottom: 1.5em; }
	footer#footer .footer-menu-inner 								{ padding: 0 2em 0 0; width: auto; }
	footer#footer .footer-menu-inner .footer-additional-widget-title { margin-bottom: 0; }
	footer#footer .footer-menu-inner .widget-container 				{ margin: 0 0 1.5em 0; }
	footer#footer .footer-menu-inner .mobile-toggle-widget-content .textwidget { display:none; }
	footer#footer .footer-menu-inner > div:last-child				{ margin: 0; }
	footer#footer .widget-container ul 								{ list-style: none; padding:0; margin: 1.5em 0 1.5em 0; }
	footer#footer .widget-container ul li 							{ line-height: 1.25; margin-bottom: .5em; }
	footer#footer .some-widget-container i 							{ font-size: 1.8em; }
	footer#footer .some-widget-container i.size-2x					{ font-size: 2.1em; }
	footer#footer .some-widget-container i:before					{ margin:0; }
	footer#footer .footer-help-buttons-container .link-button.block-button { height:100%; }
	footer#footer .footer-help-search-container 					{ margin-bottom: 1.5em; width: 500px; max-width: 100%; }
	footer#footer .footer-help-search-container input[type="text"]	{ color:$default-text-color;  opacity: 1; width: 100%; max-width: 100%; }
	footer#footer .footer-help-search-container input[type="text"]::placeholder	{ color:$default-text-color; opacity: .6; }
	footer#footer .footer-help-text-container 						{ margin-bottom: 1.5em; width: 500px; max-width: 100%; }
	footer#footer .footer-logo 										{ width: 95px; display: inline-block; margin-right: 1em; }
	footer#footer b 												,
	footer#footer strong 											{ color: #ffffff; font-size: 1.1em; font-family: $secondary-font; font-weight: 700; display: inline-block; }

	footer#footer nav#footer-nav { 
		& 															{  }
		ul.menu  													{  }
		ul.menu > li a 												{ &:hover { color: $theme-color-1b; } }
		ul.menu > li 												{ margin-right: 0; margin-bottom: .5em; max-width:100%; display: block;  }
		ul.menu > li > a											{ color: #ffffff; font-size: 1.86667em; font-family: $secondary-font; font-weight: 900; margin-bottom: 0; display: inline-block; text-transform: uppercase; }
		ul.sub-menu													{ display: block; }
		ul.sub-menu > li 											{ display: block; line-height: 1.25; margin-bottom: .5em; }
	}
	@include media-to(s){
		footer#footer .footer-logo 									{ display:block; margin-bottom: 1em; }
		// footer#footer .footer-copyright-text 						{ display:block; }
		// footer#footer .footer-loopia-group-text 					{ display:block; }
		// footer#footer span.separator 								{ display:none; }
	}
	@include media-to(l){
		footer#footer .footer-menu-inner .mobile-toggle-widgets-trigger { cursor: pointer; }
		footer#footer .footer-menu-inner .mobile-toggle-widgets-trigger:after { color: $secondary-color-2; margin-left: .9em; width: 1em; height: 1em; float:right; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f105";font-family:'Font Awesome 5 Pro';font-weight:400; }
		footer#footer .footer-menu-inner .mobile-toggle-widgets-trigger.open:after { content:' \f107'; }
		footer#footer .footer-menu-inner .mobile-toggle-widgets-trigger.open ~ .textwidget { display: block; }
	}
	@include media-from(l){
		footer#footer .footer-menu-inner .widget-container 				{ margin-bottom: 4em; }
		footer#footer .footer-menu-middle								{ margin-bottom: 4em; }
		footer#footer .footer-menu-right								{ margin-bottom: 4em; }
		footer#footer .footer-menu-left									{ margin-bottom: 4em; }
		footer#footer .footer-menu-inner .mobile-toggle-widget-content .textwidget { display:block !important; }
	}
	@include media-from(mxl){
		footer#footer .footer-help-search-container 				{ max-width: 80%; }
		footer#footer .footer-help-text-container 					{ max-width: 80%; }
		footer#footer 												{ background-image: url("../img/pattern-primary-right.png"); background-position: 112% 10%; background-repeat: no-repeat; }
	}
	@include media-from(xxl){
		footer#footer 												{ background-position: 100% 10%; }
		footer#footer .footer-content 								{ padding: 2em 3em; }
		footer#footer .copyright-container 							{ padding: 1em 3em; }
	}

	#footer-language-switcher 										{ margin: 0; background-color: transparent; border-radius: 2px; border: 1px solid $secondary-color-1; }
	#footer-language-switcher button.language-dropdown-button 		{ width: 100%; text-align: left; color: #ffffff;  }
	#footer-language-switcher button.language-dropdown-button:after { float:right; }
	#footer-language-switcher label									{ color: $light-text-color; }

	.copyright-container .copy-left 								{ float:left; width: 100%; margin-bottom: 1em; font-size: 14px; }
	.copyright-container .copy-right 								{ float:right; width: 100%; }
	#copyright 														{ margin-bottom: 1em; color: #ffffff; }

	@include media-from(l){ 
		.copyright-container .copy-left 							{ width: 50%; text-align: left; }
		.copyright-container .copy-right 							{ width: 50%; text-align: right; }
	}



/* --------------------------
 *
 * Pages
 *
** ----------------------- */

	#main-content-area-wrapper.ultrawide 							{ width: 100%; /*overflow: hidden;*/ }
	#main-content-area-wrapper.ultrawide .main-content-inner-padding { padding: 0; }

	.main-content-inner-padding 									{ padding: 40px 0; }

	#subpage_cols2_boxes_container 									{ padding: 1em 0; }
	#subpage_cols3_boxes_container 									{ padding: 1em 0; }
	#subpage_cols4_boxes_container 									{ padding: 1em 0; }

	.services-lift-box-content img.size-full {
	    box-shadow: 0 0 15px #00000044;
	}

	/* notices and banners */
	.banner-notice-container  {
		 & 															{ position: relative; }
		.notice-has-thumb .notice-item 								{ width: 100%; }
		.notice-item 												{ padding: 1em 0; }
		.notice-item .notice-item-content > p:last-child			{ margin-bottom: 0; }
		.notice-has-thumb .notice-item .notice-item-content			{ margin-right: auto; float:left; max-width: 70%; }
		.notice-has-thumb .notice-item .notice-thumbnail			{ margin-left: auto; float:right; max-width: 30%; }
		.notice-item.inline-elements								{ padding: 0; }
		.notice-item.inline-elements .notice-item-content > *		{ display: inline-block; vertical-align: top; margin: .5em 1em; }
		.notice-item .notice-item-content a							{ text-decoration: underline; }
		.notice-item .notice-item-content a.link-button				{ text-decoration: none; }
		.notice-item .notice-item-content a.link-button-alt			{ text-decoration: none; }
		.dismiss-notice-item										{ position: absolute; right:1em; top:.35em; }
		.dismiss-notice-item button									{ padding: 1px; margin:0; }

		@include media-from(m){
			.notice-has-thumb .notice-item .notice-item-content		{ margin-right: auto; float:left; max-width: 50%; }
			.notice-has-thumb .notice-item .notice-thumbnail		{ margin-left: auto; float:right; max-width: 50%; }
		}
	}

/* --------------------------
 *
 * Page-front
 *
** ----------------------- */

	#frontpage-inner-main-content-area 								{ padding: 20px 0; }
	@include media-from(xl){ 
		#frontpage-inner-main-content-area 							{ padding: 40px 0; }
	}

/* --------------------------
 *
 * Post-single
 *
** ----------------------- */

	article.post-type-post {
		.post-meta 													{ margin: 1em 0; }
		figure.single-image 										{ margin: 1.5em 0; }
		.post-category:before 										{ content: '-'; display: inline-block; margin: 0 .3em; line-height: 1.15; font-size: 1em;  }
		.sf_single-tag-list-title 									{ display: none; }
		.sf_single-tag-list 										{ }
	}

	.entry-date { font-size: 1em; opacity: 1; }

/* --------------------------
 *
 * Archives
 *
** ----------------------- */

	.archive section {
		article.tease-post {
			.tease-meta 											{ margin: 1em 0; }
			figure.tease-image 										{ margin: 1.5em 0; }
			.tease-category:before 									{ content: '-'; display: inline-block; margin: 0 .3em; line-height: 1.15; font-size: 1em;  }
		}
	}

/* --------------------------
 *
 * Teases
 *
** ----------------------- */

	

/* --------------------------
 *
 * Content modules
 *
** ----------------------- */
	
	.content_module_outer-container {
 		& 															{ overflow:hidden; }
		.content_module-background-image 							{ background-repeat: no-repeat; background-position: center center; }
 		.hero-image-content-area & 									{ overflow: visible; }

		.content_module_content-container.has-theme 				{ padding: 1.5em; min-height: 100%; }
		
		@include media-to(l){ 
 			&.module_has_bg .content_module-background-image:not(.show_bg_mobile) { background-image: none !important; }
 		}
		.content_module_thumbnail-container 						{ text-align: center; pointer-events: none; }
		.content_module_thumbnail-container img 					{ pointer-events: none; height: auto; width: auto; max-height: 76vh; }
		.content_module_inner-container 							{ padding: 20px 0; position: relative; z-index: 1; }
		@include media-from(l){ 
			&.module_has_bg .row.flex-middle						{ min-height: 325px; }
			.content_module_thumbnail-container 					{ text-align: left; margin-right: -50%; margin-top: -30px; margin-bottom: -30px; margin-left: auto; }
			&.module-flipped .content_module_thumbnail-container 	{ text-align: right; margin-left: -50%; margin-top: -30px; margin-bottom: -30px; margin-right: auto; }
			.content_module_content-container.has-theme 			{ padding: 2.5em 2em; }
			.col-l-12 .content_module_content-container.has-theme 	{ padding: 3.5em 3em 3.5em 3em; }
		}
		@include media-from(xl){ 
			.content_module_inner-container 						{ padding: 40px 0; }
		}
		@include media-from(xxl){ 
		}

		// module graphics
		&.module_has_graphic   										{ position: relative; }
		&.module_has_graphic .module-graphic-container 				{ position: absolute; z-index: 0; display: none; pointer-events: none; }
		&.module_has_graphic .module-graphic-container img			{ width: auto; height: auto; }
		&.module_has_graphic.graphic-right-middle .module-graphic-container 	{ right:-15%; top:50%; transform:translateY(-50%) }
		&.module_has_graphic.graphic-right-top .module-graphic-container 		{ right:-15%; top:5%; }
		&.module_has_graphic.graphic-right-bottom .module-graphic-container 	{ right:-15%; bottom:5%; }
		&.module_has_graphic.graphic-left-middle .module-graphic-container 		{ left:-15%; top:50%; transform:translateY(-50%) }
		&.module_has_graphic.graphic-left-top .module-graphic-container 		{ left:-15%; top:5%; }
		&.module_has_graphic.graphic-left-bottom .module-graphic-container 		{ left:-15%; bottom:5%; }
		@include media-from(xl){ 
			&.module_has_graphic .module-graphic-container 							{ display: block; }
			&.module_has_graphic.graphic-right-middle .module-graphic-container 	{ right:-10%; }
			&.module_has_graphic.graphic-right-top .module-graphic-container 		{ right:-10%; }
			&.module_has_graphic.graphic-right-bottom .module-graphic-container 	{ right:-10%; }
			&.module_has_graphic.graphic-left-middle .module-graphic-container 		{ left:-10%; }
			&.module_has_graphic.graphic-left-top .module-graphic-container 		{ left:-10%; }
			&.module_has_graphic.graphic-left-bottom .module-graphic-container 		{ left:-10%; }
		}
		@include media-from(xxl){ 
			&.module_has_graphic.graphic-right-middle .module-graphic-container 	{ right:0; }
			&.module_has_graphic.graphic-right-top .module-graphic-container 		{ right:0; }
			&.module_has_graphic.graphic-right-bottom .module-graphic-container 	{ right:0; }
			&.module_has_graphic.graphic-left-middle .module-graphic-container 		{ left:0; } 
			&.module_has_graphic.graphic-left-top .module-graphic-container 		{ left:0; }
			&.module_has_graphic.graphic-left-bottom .module-graphic-container 		{ left:0; }
		}
		// ./module graphics/

		// inset layout
		&.module-inset-layout {
			.content_module_inset 									{ max-width: 1444px; width: 100%; margin: 0 auto; padding: 20px; }
			.content_module_content-container 						{ padding: 20px 10px; }
			.content_module_inner-container 						{ padding: 0; }
			.content_module_thumbnail-container 					{ text-align: center; margin-right: -25%; margin-top: -55px; margin-bottom: -$gutter_px_override; margin-left: -40px; }
			&.module-flipped .content_module_thumbnail-container 	{ text-align: center; margin-left: -25%; margin-top: -55px; margin-bottom: -$gutter_px_override; margin-right: -40px; }
		}
		@include media-from(m){ 
			&.module-inset-layout {
				.content_module_thumbnail-container 				{  }
				&.module-flipped .content_module_thumbnail-container {  }
			}
		}
		@include media-from(xl){ 
			&.module-inset-layout {
				.content_module_inset 								{ padding: 40px; }
			}
		}
		@include media-from(xxl){ 
			&.module-inset-layout {
				.content_module_thumbnail-container 				{ text-align: right; }
				&.module-flipped .content_module_thumbnail-container { text-align: left; }
			}
		}
		// /inset layout/

		// helpdesk layout/
		&.helpdesk_module .content_module_content-container { position: relative; z-index: 4; }	
		.content_module_helpdesk_thumbnail-container 	{ padding-bottom: 28%; max-width: 576px; margin: 0 auto; }
		.content_module_helpdesk_thumbnail-image 		{ position: relative; }
		.content_module_helpdesk_thumbnail-image .helpdesk-graphic { position:absolute; max-width: 50%; z-index: 2; }
		.content_module_helpdesk_thumbnail-image.graphic-right-middle .helpdesk-graphic { right:-11%; top:60%; transform:translateY(-50%) }
		.content_module_helpdesk_thumbnail-image.graphic-right-top .helpdesk-graphic 	{ right:-11%; top:0; }
		.content_module_helpdesk_thumbnail-image.graphic-right-bottom .helpdesk-graphic { right:-11%; bottom:-10%; }
		.content_module_helpdesk_thumbnail-image.graphic-left-middle .helpdesk-graphic 	{ left:-11%; top:60%; transform:translateY(-50%) }
		.content_module_helpdesk_thumbnail-image.graphic-left-top .helpdesk-graphic 	{ left:-11%; top:0; }
		.content_module_helpdesk_thumbnail-image.graphic-left-bottom .helpdesk-graphic 	{ left:-11%; bottom:-10%; }
		.content_module_helpdesk_thumbnail-image .helpdesk-graphic-portrait { position:absolute; left:0; top:30%; width: 100%; height: auto; z-index: 1; }
		.content_module_helpdesk_thumbnail-image img.helpdesk-image { position:relative; z-index: 3; width: 100%; height: auto; }
		.content_module_helpdesk_thumbnail-info 		{ position: absolute; left:0; bottom:0; align-items: flex-start; z-index: 4; }
		.content_module_helpdesk_thumbnail-title 		{ font-size: .8em; font-family: $secondary-font; font-weight:900; background-color: $secondary-color; color: #ffffff; padding: .5em 24px .5em 16px; display: inline-block; }
		.content_module_helpdesk_thumbnail-name 		{ font-size: 1.2em; font-family: $secondary-font; font-weight:400; background-color: $primary-color; color: #ffffff; padding: .3em 24px .3em 16px; display: inline-block; }
		@include media-to(m){ 
			.content_module_helpdesk_thumbnail-container 	{ width: 90%; padding-bottom: 0; }
			.content_module_helpdesk_thumbnail-image .helpdesk-graphic-portrait { display: none; }
		}
		// /helpdesk layout/

		/* custom_edit_buttons */
		.content_module_inner-container .module_edit_button			{ position: absolute; right:0; top: 0; z-index: 3; opacity: 0; transition: all .3s; }
		&:hover .module_edit_button									{ opacity: 1; }
	}

/* --------------------------
 *
 * VPS module
 *
** ----------------------- */

	.vps-select-custom-container {
		& 								{ padding: 2.5em; box-shadow: 0 16px 72px -48px transparentize($secondary-color, .4); position: relative; }

		.vps-select-os-template 		{ margin-bottom: 2em; }

		.vps-slider-row 				{ justify-content: space-between; margin-bottom: 2.5em; }
		.vps-row-heading 				{ font-family: $secondary-font; font-weight: 600; font-size: 1em; }
		.vps-price-container 			{ margin-left: auto; }
		.vps-price-campaign-active .lgpi_price_regular { font-size: .8em; }
		.vps-slider-container{
			& 							{ padding: 0; margin: 16px 0; float: left; position: relative; width: 100%; cursor: pointer;  }
			.vps-slider 				{ position: relative; width: 100%; height: 8px; background: rgb(231,240,248); border-radius: 3px; }
			.ui-widget-content 			{ border: none; }
			.ui-slider-range-min 		{ border: none; margin: 0; border-radius: 3px; background: $primary-color-1b; font-weight: 700; height:8px; display: block; max-width: 100%; /*transition: width 200ms;*/ }
			.ui-slider-handle 			{ display: inline-block; position: absolute; top:50%; }
			.ui-slider-handle .handle-item { display: inline-block; border-radius: 16px; position: absolute; top:50%; width: 32px; height: 32px; margin-top: -16px; margin-left: -16px; cursor: pointer; background: $primary-color-1b; z-index: 2; border: 4px solid #ffffff; outline: none; /*transition: left 200ms;*/ box-shadow: 0 0.25em 0.5rem -0.25em transparentize($secondary-color-p1, .5); transition: box-shadow .15s, transform .15s; }
			.ui-slider-handle:focus .handle-item { box-shadow: 0 0.25em 0.5rem -0.15em transparentize($secondary-color-p1, .4); transform: scale(1.1); }
			.vps-slider-tooltip-container		{ width: auto; font-family: $secondary-font; font-weight: 600; white-space: nowrap; font-size: .7em; line-height: 1.1; position: absolute; top:24px; transform: translate(-50%); left: 50%; background: $secondary-color; color: #ffffff; border-radius: 6px; padding: 7px 12px 4px 12px; text-align: center; }
			.vps-slider-tooltip-container:before{ display: block; height: 0; margin: auto; position: absolute; right: 0; left: 0; width: 0; content: ""; top: -5px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid $secondary-color; }
		
		}

		.vps-totals-price-container 	{ margin-bottom: 1em;
			.price_prefix 				{ display: block; font-family: $secondary-font; font-size: 1.3em; font-weight: 600; }
			.vps-slider-price 			{ line-height: 1; }
			.lgpi_price_inner_container.campaign_active .lgpi_price_regular { font-size: .9em; }
			.lgpi_price_inner_container:not(.campaign_active) .lgpi_price_regular,
			.lgpi_price_inner_container.campaign_active .lgpi_price_campaign { font-family: $secondary-font; font-size: 3em; font-weight: 700; }
			.price_period { display: block;}
		 }

		.lgpi_price_regular 			{ transition: all .3s; }

		.smallprint						{ font-size: .9em; margin-top: 1.5em; text-align: center; }

		select 							{ transition: all .3s; }
		select:focus 					{ box-shadow: 0 0.25em 0.5rem -0.15em transparentize($secondary-color-p1, .4); }

		.vps-module-graphic-container 	{ position: absolute; right: 98%; left: auto; bottom:0; z-index: -1; width: 80%; height: 70%; }

		@include media-from(xl){ 
			& 							{ padding: 3.5em; }
		}

	}

/* --------------------------
*
* VPS Packet styles
*
** ----------------------- */
	
	.vps-select-packages-tabbed-container {
		& 									{ margin: 2em 0 1em 0; }
		.vps-select-packages-tabs 			{ margin-bottom: 3.3em; text-align: center; }
		.vps-select-packages-tabs-border	{ display: inline-block; border-bottom: 1px solid var(--text-color); }
		.vps-select-packages-tabs .vps-select-packages-tab-link { display: inline-block; position: relative; z-index: 1; color: var(--text-color); opacity: .7; font-size: 1.3em; font-family: $secondary-font; font-weight: 700; padding: .35em 0em; margin-right: 1em; margin-bottom: -1px; border-bottom: 2px solid transparent; }
		.vps-select-packages-tabs .vps-select-packages-tab-link:last-child { margin-right: 0; }
		.vps-select-packages-tabs .vps-select-packages-tab-link:hover { opacity: 1; }
		.vps-select-packages-tabs .vps-select-packages-tab-link.active { color: var(--text-color); opacity: 1; border-color: $theme-color-1b; }
		.vps-select-packages-container 		{ display: none; }
		.vps-select-packages-container.active { display: block; }
	}
	.packet-box-container.vps-package{
		
		.packet-select-os-title 			{ position: relative; padding: 0 0 0 0; }
		.packet-select-os-title .text 		{ background-color: var(--background-color); display: inline-block; padding: 5px; margin: 0 5px; position: relative; z-index: 1; }
		.packet-select-os-title:before 		{ content:''; border-top:1px solid var(--text-color); opacity: .25; height: 1px; display: block; position: absolute; left:0; right:0; top:50%;  }
		.packet-vps-specifications 			{ margin-bottom: 1.5em; }
		.vps-specifications-spec 			{ font-weight: 700; }
		.packet-vps-os-select-container 	{ margin-bottom: 1.5em; }
		.packet-content + .packet-vps-ideal-for { margin-top: 3em; }
		.packet-ideal-for-title 			{ position: relative; padding: 0 0 0 0; }
		.packet-ideal-for-title .text		{ background-color: var(--background-color); display: inline-block; padding: 5px; margin: 0 5px; position: relative; z-index: 1; }
		.packet-ideal-for-title:before 		{ content:''; border-top:1px solid var(--text-color); opacity: .25; height: 1px; display: block; position: absolute; left:0; right:0; top:50%;  }
		

		.vps-package-price-container{
			& 								{ line-height: 1.1; margin-bottom: 1em; margin-top: 3em; }
			.price_prefix 					{ display: block;}
			.lgpi_price_inner_container.campaign_active .lgpi_price_regular { font-size: .9em; }
			.lgpi_price_inner_container:not(.campaign_active) .lgpi_price_regular,
			.lgpi_price_inner_container.campaign_active .lgpi_price_campaign { font-size: 2.54em; }
			.price_period 					{ display: block;}
		}

		select 								{ transition: all .3s; }
		select:focus 						{ box-shadow: 0 0.25em 0.5rem -0.15em transparentize($secondary-color-p1, .4); }
	}

/* --------------------------
 *
 * Packet styles
 *
** ----------------------- */

	.packet-count-3 												{ }
	.packet-box-container 	{
		& 															{ position: relative; width: 380px; min-height: 100%; max-width: 100%; /*border:3px solid #ffffff;*/ padding: 0; margin: 0 auto 
		0 auto; }
		&.highlighted												{ /*border-top: 5px solid $primary-color;*/ }

		/* custom_edit_buttons */
		.packet_edit_button											{ position: absolute; right:0; top: 0; z-index: 4; opacity: 0; transition: all .3s; }
		&:hover .packet_edit_button									{ opacity: 1; }

		.packet_badge-container 									{ position: absolute; width: 100%; height: auto; z-index: 3; left:0; top:0px; text-align: center; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
		.packet_badge-container .badge-inner						{ display: inline-block; min-width: 50%; max-width: 80%; font-weight: 700; font-size: .9em; padding: .5em 1.8em; background-color: $theme-color-1b; color: $secondary-color; border-radius: 50px; }
		.packet_thumbnail-container 								{ position: absolute; width: 100%; height: auto; z-index: 3; left:0; top:6px; text-align: center; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
		.packet_thumbnail-container img 							{ max-height: 90px; }

		.packet-content,
		.packet-price-container 									{ margin: 0 0 20px 0; }

		.packet-price-container  									{ 
			.lgpi_price_inner_container.campaign_active .lgpi_price_regular { font-size: .9em; }
			.lgpi_price_inner_container:not(.campaign_active) .lgpi_price_regular,
			.lgpi_price_inner_container.campaign_active .lgpi_price_campaign { font-size: 1.73em; }
		}

		.inner-packet-box-container {
			& 														{ text-align: center; padding: 3em 3em 2.5em 3em; width: 100%; }
			del 													{ opacity: .5; }
			.packet-top-content  		{ position: relative;
				ul:not(.targetlist), ol:not(.targetlist) 		{ 
					& 												{ list-style: none; margin: 20px 0; padding: 0; max-width: 100%; }
					li 												{ margin: 0; padding: 5px; text-align: center; font-size: .9em; }
					li:nth-child(even)								{ background-color: rgba(0,0,0,.2); }
				}
			}
			.packet-bottom-content  							{ 
				ul, ol 												{ max-width: 100%; }
			}
			.packet-top-content + .packet-bottom-content 			{ margin-top: 2em; }
		}

		.feature-container 										{ text-align: left; margin: 1em 0 }
		.feature-container.feature-1-container 					{ --bar-fill-color: var(--theme-color-6); }
		.feature-container.feature-2-container 					{ --bar-fill-color: var(--theme-color-1); }
		.feature-container.feature-3-container 					{ --bar-fill-color: var(--theme-color-3); }
		.feature-text-container 								{ font-size: .9em; font-weight: 700; }
		.feature-bars-container 								{ margin: .4em -5px 0 -5px; }
		.feature-bars-container .feature-bar 					{ display: block; float:left; width: 20%; padding: 0 5px; }
		.feature-bars-container .feature-bar .empty 			{ display: block; border-radius: 2px; overflow: hidden; width: 100%; height: .7em; background-color: $secondary-color-4; }
		.feature-bars-container .feature-bar .fill 				{ display: block; width: 0px; height: .7em; background-color: var(--bar-fill-color); }
		.feature-bars-container .feature-bar.feature-bar-filled .empty { box-shadow: 0 0 5px var(--bar-fill-color); }
		.feature-bars-container .feature-bar.feature-bar-filled .fill { width: 100%; }
		// .feature-bars-container .feature-bar.feature-bar-filled-half .empty { box-shadow: 0 0 5px var(--bar-fill-color); }
		.feature-bars-container .feature-bar.feature-bar-filled-half .fill { width: 47%; box-shadow: 0 0 7px 3px var(--bar-fill-color); }
		&.secondary-theme-m1 .feature-bars-container .feature-bar .empty { background-color: $secondary-color-2; }

		.packet-bottom-content-offer 							{ text-align: left; align-self: flex-end; padding: 1.5em 3em 1em 3em; width: 100%; border-top-left-radius: 0; border-top-right-radius: 0; }
	}

/* --------------------------
 *
 * Testimonials
 *
** ----------------------- */


	.testimonial-box-container {
		.testimonial-content 										{ padding: 2em; position: relative; }
		.testimonial_thumbnail-container 							{ width: 100%; margin-bottom: 1em; }
		.testimonial_thumbnail-container img						{ width: auto; display: inline-block; }
		.testimonial-content:before {
		    font-size: 5em;
		    font-family: arial;
		    opacity: .65;
		    content: "\201C";
		    display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    line-height: 1;
		}
		.testimonial-content:after {
		    font-size: 5em;
		    font-family: arial;
		    opacity: .65;
		    content: "\201D";
		    display: block;
		    position: absolute;
		    right: 0;
		    bottom: -.5em;
		    line-height: 1;
		}
	}

	.owl-carousel.testimonial-carousel.disable-default-styles .owl-dots {  }

/* --------------------------
 *
 * Service styles
 *
** ----------------------- */

	.service-box-container 	{
		& 															{ position: relative; width: 380px; height: 100%; max-width: 100%; padding: 50px 30px 50px 30px; margin: 0 auto; }
		& 															{ background-image: url('../img/dark-pattern-tips.png'); background-repeat: repeat-x; background-position-y: 100%; }
		// &.service_has_thumbnail 									{ height: calc(100% - 50px); margin-top: 50px; padding-top: 80px; }

		/* custom_edit_buttons */
		.service_edit_button										{ position: absolute; right:0; top: 0; z-index: 3; opacity: 0; transition: all .3s; }
		&:hover .service_edit_button								{ opacity: 1; }

		.svg_bg_image 												{ position: absolute; width: 100%; height: 100%; z-index: 1; left:0; top:0; }
		.service_thumbnail-container 								{ position: absolute; width: 100%; height: auto; z-index: 3; left:0; top:0; text-align: center; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
		.service_thumbnail-container img 							{ max-height: 125px; }
		.inner-service-box-container 								{ position: relative; z-index: 2; margin-bottom: .5em; }

		.service_thumbnail-container.placeholder 					{  }

		&.alternative_layout 										{ min-height: 150px; overflow: hidden; }
		&.alternative_layout .inner-service-box-container 			{  }
		&.alternative_layout .service-num 							{ position: absolute; transform: translateY(36%); bottom: 0; right: 5%; color: #ffffff; font-family: $secondary-font; font-weight: 700; font-size: 5.35em; line-height: 1; pointer-events: none; }
		@include media-to(920px){ 
			&.alternative_layout 									{ padding: 80px 20px 20px 20px; }
		}
	}

	.tips-carousel {
		.service-box-container 										{ width: auto; }
	}

/* --------------------------
 *
 * Tabbed Content shortcode
 *
** ----------------------- */
	.tabbed-list { 													  margin: 2em 0;	
		button + p 													{ display:none; }
		.tabbed-content-trigger 									{ font-size: 1.23em; font-weight: 600; background-color: transparent; text-decoration: none; z-index: 2; cursor: pointer; padding: 24px 0; width: 100%; text-align: left; border: none; border-radius: 0; outline: none; transition: 0.4s; }
		.tabbed-content-trigger.active 								{  }		
		.tabbed-content-trigger:hover 								{ opacity: .8; }		
		.tabbed-content-trigger:active:not(:disabled):after 		{ transform: scale(0.97,0.99); }
		.tabbed-content-trigger:focus:after 						{ transform: none; }
		.tabbed-content-trigger:hover:after 						{ transform: scale(1.01,1.11); }
		.tabbed-content-trigger:before 								{ content: "\f078"; font-family: 'Font Awesome 5 Pro'; font-weight: 400; display: inline-block; float:right; margin: 0 0 0 .5em; }
		.tabbed-content-trigger.active:before 						{ content: "\f077"; }
		.tabbed-content-panel 										{ padding: 0; height:auto; opacity: 0; /*overflow: hidden;*/ transition: opacity .6s; }
		.tabbed-content-panel .panel-inner							{ padding: .7em 0 2.5em 0; text-align: left; }
		&.indent .tabbed-content-panel .panel-inner					,
		&.faq .tabbed-content-panel .panel-inner					{ padding: .7em 2em 2.5em 1em; }
		.tabbed-content-panel.initial-load 							{ height:1px; }
		.tabbed-content-panel.open 									{ opacity: 1; }
		.list-single-tab 											{ border-bottom: 1px solid $secondary-color-2; }
	}
	.white-theme .tabbed-list .list-single-tab 						{ border-bottom: 1px solid $secondary-color-4; }

/* --------------------------
 *
 * Feature-icons shortcode
 *
** ----------------------- */

	.feature-icons-outer-container {
		& 												{ margin: 1.5em 0 }
		.content-feature-icon 							{ margin-right: 15px; font-size: 1.25em; line-height: 1; }
		.content-feature-icon i:before 					{ margin:0; }
		.content-feature-text 							{ margin-right: 0; font-size: .8em; line-height: 1.15; font-family: $secondary-font; font-weight: 700; }
		
		@include media-from(s){ 
			.content-feature-icon 						{ font-size: 1.5em; }
			&.all-features .content-feature 			{ max-width: 33%; }
		}
	}

/* --------------------------
 *
 * Domain cards shortcode
 *
** ----------------------- */

	.domain-cards-grid 									{ margin: 1em 0;}
	.domain-cards-grid.card-type-large 					{ margin: 1em 0 2em 0;}
	.singular-domain-card {
		& 												{ padding: 1.5em; height: 100%; z-index: 1; }
		&:focus 										{ z-index: 2; }
		&:hover 										{ z-index: 3; }
		.domain-card-tld 								{ margin: 0 0 .2em 0; }
		.content-show-hover 							{ display: none; }
		&:focus .content-show-hover 					,
		&:hover .content-show-hover 					{ display: block; }
		& .content-show-hover-absolute 					{ padding: 1.7em;  opacity: 0; transition: all .3s; pointer-events: none; position: absolute; left:0%; top:0%; right:0%; min-height: 100%; min-height: 100%; background-color: inherit; box-shadow: 0px 34px 56px rgba(17, 21, 24, 0.64393); }
		&:focus .content-show-hover-absolute 			,
		&:hover .content-show-hover-absolute 			{ opacity: 1; pointer-events: all; left:-15px; top:-20%; right:-15px; min-height: 140%; }

		.lgpi_price_inner_container  .lgpi_price_amount { font-size: 3em; line-height: 1; }
		.lgpi_price_inner_container.campaign_active .lgpi_price_regular { font-size: .9em; }
		.lgpi_price_inner_container:not(.campaign_active) .lgpi_price_regular,
		.lgpi_price_inner_container.campaign_active .lgpi_price_campaign {  }
		.lgpi_price_inner_container .lgpi_price_additional_prefix { display: block; }
		.lgpi_price_inner_container:not(.alternative_campaign_active) .lgpi_price_additional_suffix { display: block; }

		.alternative_campaign_active {
			.lgpi_price_campaign_text:before { content: ''; display:none; }
			.lgpi_price_amount { font-size: 1em; }
			.lgpi_price_campaign { font-size: 3em; }
			.lgpi_price_additional_prefix { display:none; }
			.lgpi_price_additional_suffix { display:block; }
			.lgpi_price_campaign_text { display:none; }
			.lgpi_price_regular { display:none; }
			.lgpi_price_currency { display:none; }
			.lgpi_price_currency:nth-child(2) { display:inline; }
		}

		& .content-show-hover-absolute {
			.alternative_campaign_active {
				.lgpi_price_campaign_text:before { display:block; }
				.lgpi_price_additional_prefix { display:block; }
				.lgpi_price_additional_suffix { display:inline; }
				.lgpi_price_campaign_text { display:inline; }
				.lgpi_price_regular { display:inline; }
				.lgpi_price_currency { display:inline; }
			}
		}
		
		@include media-from(s){ 
			.content-feature-icon 						{ font-size: 1.5em; }
		}
	}
	
	
	// large cards only
	.card-type-large .singular-domain-card {
		& 												{ padding: 2em 1.5em 2.5em 1.5em; }
		& .content-show-hover-absolute 					{ padding: 2em 1.5em 2.5em 1.5em; }
		&:hover .content-show-hover-absolute 			{ top:-10%; min-height: 130%; }
		.domain-card-tld 								{ margin-bottom: .7em; }

		& .content-show-hover-absolute {
			.domain-card-tld 							{ margin-top: .3em; }
			.domain-card-price 							{ margin-bottom: 1.5em; }
			// position: absolute;
			// width: 100%;
			// left:0;
		}
	}

	.domain-card-filters {
		& 												{ position: relative; padding: 0; margin: 2em 0; border-bottom: 1px solid $default-border-color; border-right: 1px solid $default-border-color; border-bottom-right-radius: 15px; }
		&:before 										{ content: ''; display: block; width: 9000px; width: 100vh; position: absolute; bottom:-1px; right:100%; border-bottom: 1px solid $default-border-color; border-right: 1px solid $default-border-color; }
		.domain-card-filters-input-container 			{ border-left: 1px solid $default-border-color; float:right; position: relative; }
		.domain-card-filters-input-container input[type="text"].filter_domains { padding: 0.868em 3.2em 0.8em 1.3em; border-radius: 0; border-bottom-right-radius: 15px; border:0; background: transparent; color: var(--text-color); }
		.domain-card-filters-input-container input[type="text"].filter_domains:focus { outline: 1px solid $theme-color-2; }
		.domain-card-filters-input-container button.activate_filter { padding: 0.3em; position: absolute; top: 0.4em; bottom: 0.4em; right: .4em; font-size: 1em; }
	}

/* --------------------------
 *
 * Common
 *
** ----------------------- */

	.smallest-fsz 												{ font-size: .8em; }
	.smaller-fsz 												{ font-size: .9em; }
	.rounded 													{ border-radius: 6px; }
	.bg-cover 													{ background-size: cover !important; }
	.bg-contain 												{ background-size: contain !important; }
	.bg-center-top 												{ background-position: center top !important; }
	.bg-center-bottom 											{ background-position: center bottom !important; }
	.bg-auto 													{ background-size: auto !important; }

	/* Theme backgrounds */
	.hover-white-theme:hover									,
	.white-bg, .white-theme										{ background-color: #ffffff; --background-color: #ffffff; 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em rgba(255,255,255,.8); } }
	.hover-lightgrey-theme:hover 								,
	.lightgrey-bg, .lightgrey-theme 							{ background-color: $lightgrey-color; --background-color: var(--lightgrey-color); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($lightgrey-color, .80); } }
	.dark-bg, .dark-theme, .secondary-theme 					{ background-color: $secondary-color; --background-color: var(--secondary-color); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color, .80); } }
	.secondary-theme-m1 										{ background-color: $secondary-color-1; --background-color: var(--secondary-color-1); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color-1, .80); } }
	.secondary-theme-m2 										{ background-color: $secondary-color-2; --background-color: var(--secondary-color-2); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color-2, .80); } }
	.secondary-theme-m3 										{ background-color: $secondary-color-3; --background-color: var(--secondary-color-3); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color-3, .80); } }
	.secondary-theme-m4 										{ background-color: $secondary-color-4; --background-color: var(--secondary-color-4); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color-4, .80); } }
	.secondary-theme-m5 										{ background-color: $secondary-color-5; --background-color: var(--secondary-color-5); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color-5, .80); } }
	.hover-primary-theme:hover 									,
	.primary-theme 												{ background-color: $primary-color; --background-color: var(--primary-color); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($primary-color, .80); } }
	.hover-theme-color-2-theme:hover							,
	.theme-color-2-theme 										{ background-color: $theme-color-2; --background-color: var(--theme-color-2); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($theme-color-2, .80); } }
	.hover-theme-color-3-theme:hover							,
	.theme-color-3-theme 										{ background-color: $theme-color-3; --background-color: var(--theme-color-3); 
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($theme-color-3, .80); } }
	.dark-theme.gradient-to-deepdark 							{ background: linear-gradient(180deg, $secondary-color, $background-color); --background-color: var(--secondary-color);  }
	.background-bg, .background-theme 							{ background-color: $background-color; --background-color: var(--background-color);
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($background-color, .80); } }
	.deepdark-theme 											{ background-color: $secondary-color-p1; --background-color: var(--secondary-color-p1);
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color-p1, .80); } }
	.deepdark-theme.gradient-to-dark 							{ background: linear-gradient(180deg, $secondary-color-p1, $secondary-color); --background-color: var(--secondary-color-p1); }
	.hover-lightblue-theme:hover								,
	.lightblue-theme 											{ background-color: $secondary-color-4; --background-color: var(--secondary-color-4);
		&.box-shadow { box-shadow: 0 .7em 1.5em -1em transparentize($secondary-color-4, .80); } }

	.hover-lightgrey-theme,
	.hover-primary-theme,
	.hover-theme-color-2-theme,
	.hover-theme-color-3-theme,
	.hover-lightblue-theme,
	.hover-white-theme											{ position: relative;
		&:after { background-color: inherit; content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; transition: all .3s; border-radius: inherit; }
		&:hover:after { transform: scale(1.08,1.13); }
		// .card-type-large &:after { transition: transform .25s, bottom .25s; }
		// .card-type-large &:hover:after { bottom: -3em; }
	}

	// dark theme text colors
	.background-bg,
	.secondary-theme, 
	.secondary-theme-m1, 
	.secondary-theme-m2, 
	.secondary-theme-m3, 
	.dark-theme, 
	.deepdark-theme,
	.light-color {
		& { 
			--text-color: var(--light-text-color); 
			--h1-color: var(--light-h1-color); 
			--h2-color: var(--light-h2-color); 
			--h3-color: var(--light-h3-color); 
			--h4-color: var(--light-h4-color); 
			--h5-color: var(--light-h5-color); 
			--h6-color: var(--light-h6-color); 
			color: $light-text-color; 
			color: var(--text-color);
		}
		h1,.h1 													{ color: $light-h1-color; color: var(--h1-color) }
		h2,.h2 													{ color: $light-h2-color; color: var(--h2-color) }
		h3,.h3 													{ color: $light-h3-color; color: var(--h3-color) }
		h4,.h4 													{ color: $light-h4-color; color: var(--h4-color) }
		h5,.h5 													{ color: $light-h5-color; color: var(--h5-color) }
		h6,.h6 													{ color: $light-h6-color; color: var(--h6-color) }

		table.tablepress .row-hover tr td 						{ transition: background-color .1s; }
		table.tablepress .row-hover tr:hover td 				{ background-color: $secondary-color-1; }
		table.tablepress .row-hover tr td:first-child 			{ border-radius: 6px 0 0 6px; }
		table.tablepress .row-hover tr td:last-child 			{ border-radius: 0 6px 6px 0; }
		table.tablepress tfoot th,
		table.tablepress thead th 								{ border-bottom: 1px solid $secondary-color-1; }
	}
	.deepdark-theme { --text-color: var(--lighter-text-color);  }

	.background-bg hr 											{ border-color: $secondary-color; }
	.secondary-theme hr 										{ border-color: $secondary-color-p1; }
	.secondary-theme-m1 hr 										{ border-color: $secondary-color-p1; }
	.secondary-theme-m2 hr 										{ border-color: $secondary-color-p1; }
	.secondary-theme-m3 hr 										{ border-color: $secondary-color-p1; }
	.dark-theme hr 												{ border-color: $secondary-color-p1; }
	.deepdark-theme hr 											{ border-color: $secondary-color; }
	.light-color hr 											{ border-color: $secondary-color-5; }

	// white color
	.theme-color-2-theme,
	.theme-color-3-theme,
	.hover-primary-theme:hover,
	.hover-theme-color-2-theme:hover,
	.hover-theme-color-3-theme:hover,
	.primary-theme,
	.white-color {
		& 														{ 
			--text-color: #ffffff; 
			--h1-color: #ffffff; 
			--h2-color: #ffffff; 
			--h3-color: #ffffff; 
			--h4-color: #ffffff; 
			--h5-color: #ffffff; 
			--h6-color: #ffffff; 
			color: #ffffff; 
			color: var(--text-color);
		}
		h1,.h1 													{ color: #ffffff; color: var(--h1-color); }
		h2,.h2 													{ color: #ffffff; color: var(--h2-color); }
		h3,.h3 													{ color: #ffffff; color: var(--h3-color); }
		h4,.h4 													{ color: #ffffff; color: var(--h4-color); }
		h5,.h5 													{ color: #ffffff; color: var(--h5-color); }
		h6,.h6 													{ color: #ffffff; color: var(--h6-color); }
	}

	// light theme text colors
	.gem-color { color: $theme-color-1b; }
	.hover-white-theme:hover,
	.hover-lightgrey-theme:hover,
	.hover-lightblue-theme:hover,
	.white-bg,
	.white-theme,
	.secondary-theme-m4,
	.secondary-theme-m5,
	.lightgrey-theme,
	.lightblue-theme,
	.dark-color {
		& { 
			--text-color: var(--default-text-color); 
			--h1-color: var(--default-h1-color); 
			--h2-color: var(--default-h2-color); 
			--h3-color: var(--default-h3-color); 
			--h4-color: var(--default-h4-color); 
			--h5-color: var(--default-h5-color); 
			--h6-color: var(--default-h6-color); 
			color: $default-text-color; 
			color: var(--text-color);
		}
		h1,.h1 													{ color: $default-h1-color; color: var(--h1-color); }
		h2,.h2 													{ color: $default-h2-color; color: var(--h2-color); }
		h3,.h3 													{ color: $default-h3-color; color: var(--h3-color); }
		h4,.h4 													{ color: $default-h4-color; color: var(--h4-color); }
		h5,.h5 													{ color: $default-h5-color; color: var(--h5-color); }
		h6,.h6 													{ color: $default-h6-color; color: var(--h6-color); }
	}

	.white-theme hr 											{ border-color: $secondary-color-5; }
	.lightgrey-theme hr 										{ border-color: $secondary-color-4; }
	.lightblue-theme hr 										{ border-color: $secondary-color-4; }
	.dark-color hr 												{ border-color: $secondary-color; }

	ul.checklist 													{ list-style:none; margin: 1.5em auto 2em 0; padding-left: 0; max-width: 100%; font-size: 1em;
		& li 														{ text-align: left; margin-bottom: 5px; position: relative; padding-left: 1.6em; }
		& li:before 												{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f00c";font-family:'Font Awesome 5 Pro';font-weight:900; position: absolute; left:.5em; font-size: .8em; top: .3em; color: #7ac35c; }
		& li.not-enabled:before 									{ content:"\f00d"; color: #dd5656; }
		& ul 														{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul ul 													{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul li:before 												{ content: '\f00c'; }
		& ul ul li:before 											{ content: '\f00c'; }
	}
	
	ul.targetlist 													{ list-style:none; margin: 1.5em auto 2em 0; padding-left: 0; max-width: 100%; font-size: 1em;
		& li 														{ text-align: left; margin-bottom: .5em; position: relative; padding-left: 2.2em; }
		& li:before 												{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;content:"\f140";font-family:'Font Awesome 5 Pro';font-weight:900; 
			position: absolute; left:.1em; top: -.1em; color: $primary-color; font-size: 1.2em; }
		& ul 														{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul ul 													{ margin: 1em 0; list-style:none; padding-left: .5em; max-width: 100%; }
		& ul li:before 												{ content: '\f140'; }
		& ul ul li:before 											{ content: '\f140'; }
	}

	div.target-container											{ margin-bottom: 3em; position: relative; padding-left: 2.2em; position: relative; text-align: left;
		&:before 													{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;content:"\f140";font-family:'Font Awesome 5 Pro';font-weight:900; 
			position: absolute; left:.1em; top: -.05em; color: $primary-color; font-size: 1.2em; }
	}


	/* Lists with separators */
	.widgets-with-separator-list ul,
	.widgets-with-separator-list ol, 								
	ul.separator-list,
	ol.separator-list 												{ list-style:none; padding: 0; margin: 0; }

	.widgets-with-separator-list ul li,
	.widgets-with-separator-list ol li, 								
	ul.separator-list li,
	ol.separator-list li 											{ display: inline-block; }

	/* Items with separators & separator styles */
	.widgets-with-separator-list ul li:before,
	.widgets-with-separator-list ol li:before, 	
	.separator-before:before, 
	.separator-list li:before,
	span.separator:before 											{ content: '|'; /*height:2em; border-left: 1px solid transparentize($primary-color,.8);*/ margin: 0 .6em; color: $secondary-color-2; display: inline-block; vertical-align: middle; }
	.widgets-with-separator-list ul li:before,
	.widgets-with-separator-list ol li:before, 	
	.separator-list li:before 										{ margin: -.3em .5em 0 .5em; }

	/* hide first separator from lists */
	.widgets-with-separator-list ul li:first-child:before,
	.widgets-with-separator-list ol li:first-child:before,
	.separator-before:first-child:before 							{ content:''; display: none; }

	.img-bg-shadow 													{ position: relative; background-color: #ffffff;; }
	.img-bg-shadow a:hover											{ opacity: 1; }
	.img-bg-shadow a:hover img										{ -webkit-animation: flash 1s; animation: flash 1s; }
	.img-bg-shadow:before 											{ content: ''; position: absolute; left: 7%; right: 7%; bottom: 10%; top: 10%; border-radius: 26%; box-shadow: 0 0 3em #777; z-index: -1; }

	.read-more-link 												{ text-transform: uppercase; font-weight: 700; font-size: .85em; margin: .5em auto .2em auto; display: inline-block; }

	#site_breadcrumbs {
		& 															{ padding-bottom: 1.5em; margin-bottom: 1.5em; border-bottom: 1px solid $default-border-color;}

		a 															{ color: $default-text-color; }

		a + strong:before  												,
		&>span span:before  										{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1.1; vertical-align: middle;content:"\f105";font-family:'Font Awesome 5 Pro';font-weight:300; margin: 0 5px; }
		&>span>span:before  										{ display: none; }
		.breadcrumb_last 											{ color: $primary-color; font-weight: 700; }
	}

	figure 															{ display: block; margin: 0; }
	
	.aspect-container 												{ width: 100%; padding-bottom:56.25%; position: relative; overflow:hidden; }
	.aspect-container.aspect-16-9									{ padding-bottom:56.25%; }
	.aspect-container.aspect-21-9									{ padding-bottom:42.857142857142854%; }
	.aspect-container.aspect-4-3									{ padding-bottom:75%; }
	.aspect-container iframe										{ width: 100%; height:100%; position: absolute; left:0; top:0; }

	/* accessibility */
	a:not(.button):not(.link-button-alt):not(.link-button):not(.transparent-button):focus { border-radius: 6px; outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
	a:not(.button):not(.link-button-alt):not(.link-button):not(.transparent-button):focus:not(:focus-visible) { border-radius: 0; outline: 0; box-shadow: none; }
	a:not(.button):not(.link-button-alt):not(.link-button):not(.transparent-button):focus-visible { border-radius: 6px; outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
	button.disable-button-styles:focus								{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; background:inherit; color:inherit; }
	button.disable-button-styles:focus:not(:focus-visible)			{ outline: 0; box-shadow: none; background:inherit; color:inherit; }
	button.disable-button-styles:focus-visible						{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; background:inherit; color:inherit; }
	a.skip-to-content-link 											{ background-color: $secondary-color; }
	button:focus:active,a:focus:active 								{ text-decoration: none; outline:none; }
	button:active,a:active 											{ text-decoration: none; outline:none; }

	a.element-invisible.element-focusable 							{ position: absolute; display: inline-block; left: -12000px; z-index: 95; -webkit-transition:all 0ms; transition:all 0ms; -webkit-transform: translate3d(0, 0, 0); transform : translate3d(0, 0, 0); }
	a.element-invisible.element-focusable:focus 					{ left: 20px; top:20px; width: auto; height: auto; }

	button.element-invisible.element-focusable 						{ position: absolute; display: inline-block; left: -12000px; z-index: 95; -webkit-transition:all 0ms; transition:all 0ms; -webkit-transform: translate3d(0, 0, 0); transform : translate3d(0, 0, 0); }
	button.element-invisible.element-focusable:focus 				{ left: 0; top:0; width: auto; height: auto; }

	button[type="submit"].disable-button-styles						{ padding: 0; margin:0; background: none; border:0; font-size: 1em; color: inherit; }
	button[type="submit"].disable-button-styles:hover				{ background: none; border:0; color: inherit; }
	button[type="submit"].disable-button-styles:hover:after			{ background: none; border:0; }
	button.disable-button-styles									{ padding: 0; margin:0; background: none; border:0; font-size: 1em; color: inherit; }
	button.disable-button-styles:hover								{ background: none; border:0; color: inherit; }
	button.disable-button-styles:hover:after						{ background: none; border:0; }
	button.element-focusable .dropdown-icon-text					{ position: absolute; left: -13000px; font-size: .8em; line-height: 1; text-transform: initial; padding: 2px 5px 3px 5px; font-family: $primary-font; }
	button.element-focusable i.dropdown-icon						{ color: $primary-color; }
	button.element-focusable:focus									{ background-color: $primary-color; color: #ffffff; position: relative; }
	button.element-focusable:focus i.dropdown-icon					{ color: #ffffff; }
	button.element-focusable:focus > .dropdown-icon-text			{ left:0; bottom:100%; background-color: $primary-color; color: #ffffff; display: inline-block; }

	select.rounded-theme 											{ border-radius: 6px; border-color: $input-border-color; }

	/* menu */
	li > button.element-focusable i.dropdown-icon					{ color: #ffffff; }
	li > button.element-focusable:focus i.dropdown-icon				{ color: #ffffff; }
	li[class*="current"] > button.element-focusable i.dropdown-icon	{ color: $primary-color; }
	li[class*="current"] button.element-focusable:focus i.dropdown-icon	{ color: #ffffff; }

/* --------------------------
 *
 * Domain search
 *
** ----------------------- */

	.domain-search-container { 

		form.domain-search-form 									{ display: block; width: 100%; font-size: 1.15em; }
		.domain-search-input-wrapper 								{ display: block; width: 100%; position: relative; }
		label.domain-search-input-prefix 							{ 
			height: 56px; line-height: 56px; 
			position: absolute; top:0; left:0; bottom:0; 
			padding: 0 1.5em; vertical-align: top; display: none; 
			color: $secondary-color; background: linear-gradient(270deg, $lightgrey-color 0%, #FFFFFF 149.75%); 
			font-size: 1.05em; font-family: $secondary-font; font-weight: 800; 
			border-radius: 6px 0 0 6px; border-right: 2px solid $secondary-color; 
		}
		input[type="text"].domain-search-input 						{ 
			height: 56px; line-height: 56px; 
			padding: 0 5.5em 0 1.5em; vertical-align: top; display: block; width: 100%;
			border: 0; color: $default-text-color; transition: .3s all; border-radius: 6px; 
			font-size: 1em; font-family: $secondary-font; font-weight: 400; 
		
			&:focus 												{ outline: none; box-shadow: 0px 0px 8px 2px var(--theme-color-2); }
			&::placeholder 											{ overflow:initial }
		}
		button[type="submit"].link-button.domain-search-submit 					{ 
			position: absolute; top:5px; right:5px; bottom:5px; 
			text-align: center; margin: 0; background-color: $primary-color; color: #ffffff; 
			padding-left: 1.35em; padding-right: 1.35em;
			i:before { font-size: 1.05em; margin:0; }
		}
		button[type="submit"].link-button.domain-search-submit:hover:after ,
		button[type="submit"].link-button.domain-search-submit:focus:after { left:-.2em; right:-.2em; top:-.2em; bottom:-.2em; }

		@include media-from(m){
			form.domain-search-form { font-size: 1.45em; }
			label.domain-search-input-prefix { display:block; height: 96px; line-height: 96px; }
			input[type="text"].domain-search-input { padding: 0 5.5em 0 7.5em; height: 96px; line-height: 96px; }

		}
	}


/* --------------------------
 *
 * SEO checker
 *
** ----------------------- */

	$seo_check_form_height: 60;
	.seo-check-container {
		.seo-content-container + form.seo-check-form 				{ padding-left: 20px; }
		.seo-content-container 										{ /*width: 200px;*/ }
		.seo-content-container h1									{ margin-bottom: 5px; }
		.seo-content-container h2									{ margin-bottom: 5px; }
		.seo-content-container p									{ font-size: .9em; }
		form.seo-check-form 										{ /*width: calc(100% - 200px);*/ border: 1px solid #3a3a3a2e; border-radius: 6px; }
		.seo-check-input-wrapper 									{ display: inline-block; }
		label.seo-check-input-prefix 								{ height: $seo_check_form_height+px; line-height: $seo_check_form_height+px; padding: 0 20px; color: $secondary-color; vertical-align: top; display: inline-block; position: relative; background-color: $lightgrey-color; font-family: $secondary-font; font-weight: 400; font-size: 1em; }
		input[type="text"].seo-check-input 							{ height: $seo_check_form_height+px; line-height: $seo_check_form_height+px; padding: 0 20px 0 40px; vertical-align: top; display: inline-block; border: 0; color: $default-text-color; }
		input[type="text"].seo-check-input:focus 					{ outline: 1px solid var(--theme-color-2);box-shadow: 0px 0px 9px 5px var(--theme-color-2); }
		button[type="submit"].link-button.seo-check-submit 			{ height: $seo_check_form_height+px; line-height: $seo_check_form_height+px; padding: 0 20px; vertical-align: top; display: inline-block; text-align: center; margin: 0; background-color: $primary-color; color: #ffffff; }

		form.seo-check-form.no-content 								{ width: 100%; }
		form.seo-check-form.no-content .seo-check-input-wrapper		{ width: 80%; }
		form.seo-check-form.no-content .seo-check-input-wrapper .seo-check-input-prefix	{ width: 80px; }
		form.seo-check-form.no-content .seo-check-input-wrapper input[type="text"].seo-check-input	{ width: 80%; width: calc( 100% - 80px); }
		form.seo-check-form.no-content button[type="submit"].link-button.seo-check-submit { width: 20%; }

		@include media-to(s){ 
			.seo-check-input-wrapper 								{ width: 100%; }
			label.seo-check-input-prefix 							{ padding: 0 8px 0 12px; font-size: 1.1em; width: 60px; }
			input[type="text"].seo-check-input 						{ padding: 0 12px 0 27px; width: calc( 100% - 60px );  }
			button[type="submit"].link-button.seo-check-submit 					{ width: 100%; }
			form.seo-check-form.no-content .seo-check-input-wrapper { width: 100%; }
			form.seo-check-form.no-content button[type="submit"].link-button.seo-check-submit { width: 100%; }
		}
		@include media-to(m){ 
			 .seo-content-container + form.seo-check-form 			{ padding-left: 0; padding-top: 20px; }
			 .seo-content-container 								{ width: 100%; text-align: center; }
			 form.seo-check-form 									{ width: 100%; text-align: center; }
		}
	}

/* --------------------------
 *
 * KB-search
 *
** ----------------------- */

	.kb-search-form {
		& 					{ display: block; width: 100%; font-size: 1.2em; line-height: 1.1; }
		input.kb-search-input 	{ padding: 1.1em 3.5em 1.1em 1.5em; line-height: 1.1; }
		button.kb-search-button 	{ color: $secondary-color; position: absolute; font-size: 1em; line-height: 1.1; right: 0; top: 0; padding: 1.1em 1.5em 1.1em .5em; }
		button.kb-search-button:hover 	{ color: $primary-color; }
		button.kb-search-button i	,
		button.kb-search-button i:before	{ font-size: 1em; line-height: 1.1; }
	}
	@include media-from(m){ 
		.kb-search-form {
			input.kb-search-input 	{ padding: 1.38em 3.5em 1.38em 2em; }
			button.kb-search-button 	{ padding: 1.38em 1.5em 1.38em .5em; }
		}
	}

/* --------------------------
 *
 * Content reveal system
 *
** ----------------------- */

	.reveal-content 											{ 	
		& 															{ overflow:hidden; position: relative; /*padding-bottom: 3em;*/ -webkit-transition:height .5s; transition:height .5s; }

		&.height-200 												{ height: 200px; }
		&.height-300 												{ height: 300px; }
		&.height-400 												{ height: 400px; }
		&.height-500 												{ height: 500px; }
		&.height-600 												{ height: 600px; }

		.reveal-content-button 										{ display: none; }

		/* too tall -> need revealing */
		&.need-reveal {
			/* before opening */
			.reveal-content-button 									{ width: 100%; height:2em; left:0; bottom:0; position: absolute; text-align: center; display: block; }
			.reveal-content-button:before 							{ content:''; width: 90%; height:20px; left:5%; bottom:-20px; position: absolute; @include box-shadow(0px, 0px, 20px, #000); border-radius: 50%; }
			.reveal-content-button i 								{ line-height: 2em; width: 50%; margin: 0 auto; cursor: pointer; }
			.reveal-content-button i:before 						{ font-size: 1.5em; }
			.reveal-content-button i.open-button 					{ display: inline-block; }
			.reveal-content-button i.close-button 					{ display: none; }



			/* after opening */
			&.opened 												{ /*height:auto;*/ padding-bottom: 2em; }
			&.opened .reveal-content-button							{ border-bottom: 1px solid $default-border-color; }
			&.opened .reveal-content-button:before					{ @include box-shadow(0px, 0px, 0px, transparent); }
			&.opened .reveal-content-button i 						{  }
			&.opened .reveal-content-button i.close-button 			{ display: inline-block; }
			&.opened .reveal-content-button i.open-button 			{ display: none; }
		}

	}

	.no-js .reveal-content  										{ height: auto !important; }
	.no-js .reveal-content .reveal-content-button					{ display: none !important; }

/* --------------------------
 *
 * Some-widget -styles
 *
** ----------------------- */
	.some-widget-container 											{ margin: 0; }
	.some-widget-container .social-media-btn-container 				{ display: inline-block; font-size: 22px; }
	.some-widget-container .social-media-btn-container .social-media-btn-icon { display: inline-block; color: #ffffff; background-color: $primary-color; width: 2em; line-height: 2em; height: 2em; @include border-radius(0); text-align: center; }
	.some-widget-container .social-media-btn-container .social-media-btn-icon:before { margin: 0; }
	.some-widget-container .social-media-btn-container .social-media-btn-text { display: inline-block; color: $primary-color; padding: 5px; font-weight: 700; font-size: .9em; }

	@include media-from(m){ 
		.some-widget-container .social-media-btn-container 			{ font-size: 20px; }
	}

	.some-widget-container .textwidget a							{ display: inline-block; margin: 4px; }
	.some-widget-container .textwidget a:first-child				{ margin-left: 0; }
	.some-widget-container .textwidget a:last-child					{ margin-right: 0; }
	.some-widget-container:first-child 								{ margin-left: 0; }
	.some-widget-container:last-child 								{ margin-right: 0; }


/* --------------------------
 *
 * Forms / Ninja-forms
 *
** ----------------------- */

	input[type="text"] 												{ border-radius: 6px; }

	div.nf-form-cont {
		& 															{ position: relative; }

		/* submit button */
		.nf-form-content .submit-container input[type="button"] {
			@include override-button-styles; 
			&[disabled] 												{ opacity: .5; }
			&[disabled]:hover 											{ opacity: .5; }
		}

		
		/* Hide "required" -text */
		/*.nf-before-form-content 									{ display: none; }*/
		
		/* input styles */
		textarea.ninja-forms-field 									,
		input[type="email"].ninja-forms-field 						,
		input[type="text"].ninja-forms-field 						{ border-radius: 6px; color: $secondary-color-1; }
		.listradio-wrap .nf-field-element label.nf-checked-label:before { top: 0.28em; }

		/* Error msg */
		.nf-after-form-content 										{ position: absolute; z-index: 2; bottom:0; left:0; width: 100%; }
		.nf-after-form-content .nf-error-msg 						{ width: 100%; background-color: #f7f7f7; padding: 1em; font-weight: 400; box-shadow: 0 0.1875rem 1rem transparentize($primary-color,.5); border-radius: 6px; color: #e33030; }

		.nf-response-msg 											{ font-size: 1.2em; line-height: 1.2em; padding: 150px 0; }
	}


/* --------------------------
 *
 * Cart
 *
** ----------------------- */

	#page-top 													{
		// .page-top-content-right p.lgpi_toggle_cart_button_container { margin:0; }
		// .page-top-content-right button.lgpi_cart_toggle_button 		{ margin:0; background: transparent; color: $light-text-color; border:0; font-family: $primary-font; font-weight: 400; text-transform: initial; font-size: 14px; }
		.page-top-content-right a.lgpi_login_link.button 			{ margin:0; background: transparent; color: $light-text-color; border:0; font-family: $primary-font; font-weight: 400; text-transform: initial; font-size: 14px; }
		.page-top-content-right .lgpi_user_details_container > span.lgpi_login_username { margin: 0; padding: 0; line-height: 1; }
		.page-top-content-right .lgpi_user_details_container > span.lgpi_login_username > a:before { color: $theme-color-1; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f2bd";font-family:'Font Awesome 5 Pro';font-weight:400; }
		.page-top-content-right .lgpi_user_details_container .lgpi_login_dropdown_container > span.lgpi_login_username { margin: 0; padding: 0; line-height: 1; }
		.page-top-content-right .lgpi_user_details_container .lgpi_login_dropdown_container > span.lgpi_login_username a:before { color: $theme-color-1; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f2bd";font-family:'Font Awesome 5 Pro';font-weight:400; }
		.page-top-content-right .lgpi_user_details_container.processing { /*padding: 0 15px;*/ }
		.page-top-content-right .lgpi_user_details_container.processing .lgpi_loader_container .lgpi_loader { font-size: .5em; }

		.lgpi_user_details_container .lgpi_login_dropdown_container .lgpi_dropdown_content { 
			.lgpi_user_dropdown_item  								{ line-height: 1.1; padding: .6em; }
			.lgpi_user_dropdown_item.lgpi_login_username 			{ padding-bottom:0; }
			.lgpi_user_dropdown_item.lgpi_login_email 				{ padding-top:0; color: $secondary-color-2; font-style: italic; font-size: .95em; }
		 }
		.lgpi_user_details_container .lgpi_login_dropdown_container .lgpi_dropdown_content { margin-top: 13px; right:10px; color: $default-text-color; border-radius: 6px; padding: 1.5em; box-shadow: 3px 4px 10px -5px $secondary-color-p1; }
		.lgpi_user_details_container .lgpi_login_dropdown_container .lgpi_dropdown_content:before { content:''; position: absolute; top: -13px; left:-5px; bottom:-5px; right:-5px; }
		.lgpi_user_details_container .lgpi_login_dropdown_container .lgpi_dropdown_content:after { content:''; position: absolute; z-index: 2; transition: all .5s; pointer-events:none; display: block; right:16px; bottom:100%; margin-top:2px; border-style: solid; border-color: transparent transparent #ffffff; border-width: 0 9px 7px; }
		.lgpi_user_details_container .lgpi_login_dropdown_container .lgpi_dropdown_content a { color: $default-text-color; padding: 0; border:0; 
			&:hover { color: $theme-color-1; opacity:1; }
			&:focus { color: $theme-color-1; opacity:1; } 
		}
		@include media-to(440px){
			.page-top-content-right .lgpi_user_details_container span.lgpi_login_username { display: none !important; }
		}
	}

	.lgpi_cart_html_container 	{
		.lgpi_cart_html_inner_container 							{ padding: 4.5em 1.5em 6.5em 1.5em; }
		h1,h2,h3 													{  }
		/* overflowing content -- adjust height for hidden notices */
		.lgpi-cart-top-title										{ position: absolute; top: 0; left:0; padding: 1.5em 1.5em 0 1.5em; }
		.lgpi-cart-top-title h2										{ font-size: 2em; }
		.lgpi-cart_contents											{ max-height: 100%; overflow-x: hidden; }
		.lgpi-cart-empty											{ background: transparent; border: 1px solid $secondary-color-5; border-left: 0; border-right: 0; }
		.lgpi-cart-item												{ background: transparent; border-top: 1px solid $secondary-color-5; margin-bottom:0; overflow:hidden; }
		.lgpi-cart-item:hover										{ background-color: rgba(231, 240, 248, 0.25); }
		.lgpi-cart-item .lgpi-cart-item-name 						{ font-weight: 700; font-size: 1em; margin-bottom: .4em }
		.lgpi-cart-item .lgpi-cart-item-price 						{ font-weight: 700; font-size: 1em; }
		.lgpi-cart-item .lgpi_cart_item_remove_button 				{ opacity:0; transition: opacity .3s; padding: .3em; line-height: 1em; text-align: center; top: 1em; right: 1em; background-color: transparent; border:0; }
		.lgpi-cart-item:hover .lgpi_cart_item_remove_button 		{ opacity:1; }
		button.lgpi_close_shopping_cart_button 						{ background-color: #ffffff; color: $secondary-color; border-color: #ffffff; border-radius: 0; padding: 0.179em 0.12em 0.079em 0.12em; font-size: 2em; left: -1.1em; line-height: 1; }
		button.lgpi_close_shopping_cart_button:focus{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
		button.lgpi_close_shopping_cart_button:focus:not(:focus-visible){ outline: 0; box-shadow: none; }
		button.lgpi_close_shopping_cart_button:focus-visible 		{ outline: 2px solid $focus-outline-color; box-shadow: 0 0 9px $focus-outline-color; }
		button.lgpi_close_shopping_cart_button:after 				{ display: none; }
		button.lgpi_close_shopping_cart_button:hover:after 			{  }
		.lgpi-cart_footer 											{ background-color: #ffffff; border-top: 1px solid $secondary-color-4; padding-top: 1.5em; }
		.lgpi-cart_footer .lgpi-cart-summary-item .lgpi-cart-summary-item-name { color: $secondary-color-2; font-weight: 400; font-size: 1em; } 
		
		.lgpi-cart_footer a.lgpi_proceed_to_checkout.button			{ background-color: $theme-color-1b; color: $secondary-color; border:0; text-align: center; padding: 1.43334em 1.6em 1.32223em 1.6em; }
		.lgpi-cart_footer a.lgpi_proceed_to_checkout.button 		{ animation: bouncer 0.7s ease 4s infinite alternate; }
		.lgpi-cart_footer a.lgpi_proceed_to_checkout.button:hover 	{ animation: none; }
		
		.lgpi-notices-wrapper 										{ display:none !important; }
		
		@include media-to(600px){
			button.lgpi_close_shopping_cart_button 					{ left: auto; right: .7em; top: .7em; }
			.lgpi_cart_html_inner_container 						{ padding: 4.5em 1.5em 11.3em 1.5em; }
			.lgpi-cart_footer .lgpi-cart_summary 	 				{ width: 100% !important; max-width: 100% !important; margin-bottom: 1em }
			.lgpi-cart_footer .lgpi_proceed_to_checkout.button 		{ width: 100% !important; max-width: 100% !important; }
			.lgpi-notices-wrapper .lgpi-message 					{ margin: 0em 1em 1em 1em; }
			.lgpi-cart-item .lgpi_cart_item_remove_button 			{ opacity:1; }
		}

	}

	.lgpi_add_to_cart {
		& 															{ transition: all .3s; }
		&.lgpi_done .lgpi_add_to_cart_button_status					,
		&.lgpi_failed .lgpi_add_to_cart_button_status				{ background-color: transparent; border-radius: 0; margin-left: .5em; display: inline-block; width: .8em; height: .8em; }
	 	&.lgpi_done .lgpi_add_to_cart_button_status:before			,
	 	&.lgpi_failed .lgpi_add_to_cart_button_status:before		{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"";font-family:'Font Awesome 5 Pro';font-weight:400; }
	 	&.lgpi_done .lgpi_add_to_cart_button_status:before			{ content:"\f00c"; color: #3ab460; }
	 	&.lgpi_failed .lgpi_add_to_cart_button_status:before		{ content:"\f00d"; color: #bb1313; }
	 	&:hover 													{ opacity: .8; }
	}

	button.lgpi_cart_toggle_button 								{ position: relative; font-weight: 700; } 
	button.lgpi_cart_toggle_button .lgpi_cart_button_amount_container { font-size: .8em; right: auto; top: auto; bottom: auto; display:inline-block; position: static; float:left; } 
	button.lgpi_cart_toggle_button.disable-button-styles .lgpi_cart_button_amount_container { margin-right: 1em; margin-top:-.1em; right: auto; top: auto; bottom: auto; display:inline-block; position: relative; float:left; } 
	button.lgpi_cart_toggle_button.disable-button-styles .lgpi_cart_button_amount_container:before { font-size: 1.3em; color: $theme-color-1b; content:"\f07a"; display:inline-block; font-family: 'Font Awesome 5 Pro'; font-weight: 300; } 
	button.lgpi_cart_toggle_button .lgpi_cart_button_amount_container span { position: absolute; left:50%; top:50%; margin-left:-1em; margin-top:-1.1em; width: 2em; height: 2em; border-radius: 2em; text-align: center; line-height: 2em; background-color: $theme-color-1b; color: $secondary-color;; } 

	.lgpi_price_inner_container {
		&:not(.campaign_active) .lgpi_price_regular					{ font-family: $primary-font; font-weight: 700; }
		&.alternative_campaign_active .lgpi_price_campaign			{ font-family: $primary-font; font-weight: 700; }
		&.campaign_active .lgpi_price_campaign						{ font-size:1em; font-family: $primary-font; font-weight: 700; }
		&.campaign_active .lgpi_price_regular						{ opacity: .6; font-size: .8em; font-family: $primary-font; font-weight: 700; }

		&:not(.lgpi_status_vat_included) .lgpi_price_excluding_vat	{}
		&:not(.lgpi_status_vat_included) .lgpi_price_including_vat	{}

		&.lgpi_status_vat_included .lgpi_price_excluding_vat		{}
		&.lgpi_status_vat_included .lgpi_price_including_vat		{}

		.lgpi_price_amount 											{ display: inline-block; font-size: 1.3em; font-weight: 400; font-family: $secondary-font; }
	}

	.lgpi_vat_toggle_inner_container {
		.lgpi_vat_toggle_button_container { 					 & 	{ margin: .2em .5em; }
			button.toggle_vat_status 								{ text-transform: initial; font-weight: 400; font-family: $primary-font; font-size: 1em; padding: .4em .6em; }
			button.toggle_vat_status .lgpi_vat_indicator			{ display:none; }
			button.toggle_vat_status .lgpi_vat_indicator:before		{ -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;content:"\f00c"; color: #3ab460;font-family:'Font Awesome 5 Pro';font-weight:400; }
			button.toggle_vat_status.lgpi_vat_included				{}
			button.toggle_vat_status.lgpi_vat_excluded				{}
		}
		@include media-to(m){
			& 														{ /*text-align: center;*/ display: block; }
			.lgpi_vat_toggle_button_container 						{ margin: .2em 0; }
			span.lgpi_vat_toggle_additional_prefix 					{ display: block; padding-left:1.2em; }
			span.lgpi_vat_toggle_additional_suffix 					{ display: block; padding-left:1.2em; }
		}

		&:not(.lgpi_status_vat_included) .lgpi_vat_toggle_button_container {
			button.toggle_vat_status 								{}
			button.toggle_vat_status.lgpi_vat_included				{}
			button.toggle_vat_status.lgpi_vat_excluded				{}
			button.toggle_vat_status.lgpi_vat_excluded .lgpi_vat_indicator {  display:inline-block; }
		}

		&.lgpi_status_vat_included .lgpi_vat_toggle_button_container {
			button.toggle_vat_status 								{}
			button.toggle_vat_status.lgpi_vat_included				{}
			button.toggle_vat_status.lgpi_vat_included .lgpi_vat_indicator {  display:inline-block; }
			button.toggle_vat_status.lgpi_vat_excluded				{}
		}
	}

	/* different layout in tables */
	table td {
		.lgpi_price_inner_container {
			&:not(.campaign_active) .lgpi_price_regular				{ font-weight: 400; font-size: 1em; }
			&.campaign_active .lgpi_price_regular					{ opacity: .8; font-size:.9em; }
			&.campaign_active .lgpi_price_campaign					{ font-weight: 400; font-size:1em; }
			.lgpi_price_amount 										{ font-size: 1em; font-weight: 400; font-family: $primary-font; }
		}
	 }

/* --------------------------
 *
 * Alternative Responsive table styles
 * These does not affect tablePress tables!
 *
** ----------------------- */

	.responsive-tables {

		table[width] 												{ width: auto !important; }
		table[height] 												{ height: auto !important; }

		table 														{ height:auto; margin: 0 0 1em 0; width: auto; border: 1px solid #eee; -webkit-overflow-scrolling: touch; background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center; background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center; background-size: 10px 100%, 10px 100%; background-attachment: scroll, scroll; background-repeat: no-repeat; display: inline-block; vertical-align: top; max-width: 100%; overflow-x: auto; white-space: wrap; border-collapse: collapse; border-spacing: 0; }

		table tbody													{  }
		table tbody tr												{ background: none !important; }
		table tbody tr td											{ border: 1px solid #d9d9d9; padding: .5em .8em; }

		table td:last-child, table tbody tr:last-child 				{ background: none; background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%); background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%); background-repeat: no-repeat; background-position: 100% 0; background-size: 20px 100%; }

		table td:first-child, .template-content table tbody tr:first-child { background: none; background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%); background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%); background-repeat: no-repeat; background-size: 20px 100%; }

	}

	.item_has_title_container 										{ position: relative; display: inline-block; }
	.item_has_title_container .item_title_box						{ position: absolute; z-index: 90; top:100%; margin-top: 10px; left:50%; transform: translateX(-50%); font-size: .85em; line-height: 1.1; }
	.item_has_title_container .item_title_box:before				{ content:''; position: absolute; z-index: 90; bottom:100%; left:50%; width: 0; height: 0; border-color: transparent; border-style: solid; margin-left: -5px; border-width: 0 5px 5px; border-bottom-color: $secondary-color-1; }
	.item_has_title_container .item_has_title:hover ~ .item_title_box{ display: block !important; width: 240px; max-width: 90vw; color: #ffffff; background-color: $secondary-color-1; box-shadow: 4px 4px 30px $secondary-color-p1; padding: 8px; @include border-radius(6px); }

/* all tables + tablepress */

	table td:first-child .item_title_box							{ left:-5px; transform: translateX(0); }
	table td:last-child .item_title_box								{ left:auto; right:-5px; transform: translateX(0); }

	table td:first-child .item_title_box:before						{ right:auto; left:10px; margin-left: 0px; }
	table td:last-child .item_title_box:before						{ left:auto; right:10px; margin-left: 0px; }

	table tr:nth-last-child(3) .item_title_box						,
	table tr:nth-last-child(2) .item_title_box						{ bottom: 100%; margin-bottom: 10px; top:auto; }
	table tr:last-child .item_title_box								{ bottom: 100%; margin-bottom: 10px; top:auto; }

	table tr:nth-last-child(3) .item_title_box:before				,
	table tr:nth-last-child(2) .item_title_box:before				{ bottom:auto; top:100%; border-color: transparent; border-style: solid; margin-left: -5px; border-width: 5px 5px 0; border-top-color: $secondary-color-1; }
	table tr:last-child .item_title_box:before						{ bottom:auto; top:100%; border-color: transparent; border-style: solid; margin-left: -5px; border-width: 5px 5px 0; border-top-color: $secondary-color-1; }

	table td i.fa.fa-check, table i.fa.fa-check 					{ color: #51ad48; }
	table td i.fa.fa-times, table i.fa.fa-times 					{ color: #d3d3d3; }

	table.tablepress 												{ margin: 2em 0; }
	table.tablepress 											{ 
		h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 							{ margin-bottom:0; }
	}
	table.tablepress a.link-button-alt,
	table.tablepress a.link-button,
	table.tablepress .link-button-alt,
	table.tablepress .link-button 									{ padding: .6em .7em .55em .7em; }
	table.tablepress tfoot th,
	table.tablepress thead th 										{ background-color: transparent; border-bottom: 0; }
	table.tablepress thead th 										{ font-size: .9em; }
	table.tablepress th,

	table.tablepress td, table.tablepress th 			 			{ padding: .8em; }			

	table.tablepress .odd td 										{ background-color: transparent; }
	table.tablepress .even td 										{ background-color: transparent; }
	table.tablepress tbody td, .tablepress tfoot th 				{ border:0; }
	table.tablepress .row-hover tr:hover td 						{ background-color: transparent; }


	.dataTables_scroll table 										{ min-width: 100%; border: 1px solid transparent; }
	.wrapper.narrow .dataTables_scroll table 						{ max-width: 880px; }
	.dataTables_scroll .dataTables_scrollBody 						{ padding-bottom: 1px; }
	@include media-to(m){
		.dataTables_wrapper 										{ margin: 0 -20px 1em -20px; }
	}


/* --------------------------
 *
 * ADMIN / Editable
 *
** ----------------------- */

	.post-editable-content-area 									{ position: relative; }
	.post-editable-content-area .post_edit_button					{ position: absolute; right:0; top: 0; z-index: 3; opacity: 0; transition: all .3s; }
	.post-editable-content-area:hover .post_edit_button				{ opacity: 1; }

	.editable_area 													{ transition: all .3s; outline: 2px solid transparent; box-shadow: 0 0 0px 1px transparent inset; }
	.editable_area.show_area_bounds 								{ outline: 2px dashed #a71b1b; box-shadow: 0 0 5px 1px #a71b1b inset; }

	a.edit_button_styles 											{ display: inline-block; background-color: #a71b1b; color: #ffffff; font-weight: 700; font-size: .65em; text-transform: uppercase; padding: .3em .6em .3em .6em; }

	body:not(.logged-in) .hide_if_not_logged_in 					{ display: none !important; }


/* --------------------------
 *
 * fixes for SPA
 *
** ----------------------- */

	.processing > span.lgpi_loader_container									{ left:-.3em; right:-.3em; top:-.3em; bottom:-.3em; width: auto; height: auto; }
	button.lgpi_add_to_cart > span.lgpi_loader_container						{ transition: background .35s; }
	button.lgpi_add_to_cart.processing > span.lgpi_loader_container				{ border-radius: 6px; left:-.3em; right:-.3em; top:-.3em; bottom:-.3em; width: auto; height: auto;  overflow:hidden; background-color: inherit; }
	button.lgpi_add_to_cart.processing > span.lgpi_loader_container span.lgpi_loader			{ background: transparent url("../img/loader-black.svg") no-repeat center center; width: 100px; height: 90px; margin-right: -50px; margin-top: -13px; pointer-events:none; }
	button.lgpi_add_to_cart.button-navy.processing > span.lgpi_loader_container span.lgpi_loader	{ background: transparent url("../img/loader-white.svg") no-repeat center center;  }
	button.lgpi_add_to_cart.button-darknavy.processing > span.lgpi_loader_container span.lgpi_loader	{ background: transparent url("../img/loader-white.svg") no-repeat center center;  }
	button.lgpi_add_to_cart.processing > span.lgpi_loader_container span.lgpi_loader span	{ display: none !important; }

	.lgpi-checkout {
		.wrapper 													{ width: unset; margin: unset; overflow: unset; padding: unset; }
		.row 														{ width: unset; margin: unset; }
		.row:after 													{ display:initial; }
		.row>[class*="col-"] 										{ float: unset; margin-left: unset; margin-bottom: unset; min-height: unset; width: unset; } 
		input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"], textarea, select { min-width: unset; border:unset; padding:unset; }
	}


/* --------------------------
 *
 * Animations 
 *
** ----------------------- */

	/*Bounce*/
	@keyframes bouncer {
	    0% {-webkit-transform: scale(1.03,.97);
	        transform: scale(1.03,.97);}
	   50% { -webkit-transform: scale(.97,1.03) translateY(-.1rem)}
	   70% { -webkit-transform: scale(1);
	         transform: scale(1);}
	}

	/* icon shuffle */
	@keyframes shuffleb {
		10% { -webkit-transform: translateX(-.2rem); transform: translateX(-.2rem); }
		50% { -webkit-transform: translateX(.1rem); transform: translateX(.1rem); }
		70% { -webkit-transform: translateX(-.2rem); transform: translateX(-.2rem); }
	}
	@keyframes shufflea {
		10% { -webkit-transform: translateX(.2rem); transform: translateX(.2rem); }
		50% { -webkit-transform: translateX(-.1rem); transform: translateX(-.1rem); }
		70% { -webkit-transform: translateX(.2rem); transform: translateX(.2rem); }
	}