<div class="row no-margin padding-gutter flex flex-middle flex-center no-margin-bottom">

	<div class="col-xs-24">
		<div class="seo-check-container flex flex-middle flex-center">
			{% if module.content %}
				<div class="domain-content-container">
					{{ module.content|wysiwyg }}
				</div>
			{% endif %}

			{# <div class="check_form_loader"><span class="fal fa-2x fa-spinner fa-pulse"></span></div> #}
			<form action="{{ module.cmb_seo_check_form_action_url|default('https://ranking.loopiamarketing.com/sv-se/analysis-loopia/') }}" data-originalurl="{{ module.cmb_seo_check_form_action_url|default('https://ranking.loopiamarketing.com/sv-se/analysis-loopia/') }}" method="post" target="_blank" onsubmit="this.action = this.dataset.originalurl + this.elements['domain_name'].value;" class="seo-check-form {% if module.content %} has-content{% else %} no-content{% endif %}">
                <div class="seo-check-input-wrapper"><input type="hidden" name="return_url" value="{{ module.cmb_seo_check_form_return_url|default(site.url) }}"><label class="seo-check-input-prefix" for="testsiteform" >www.</label><input id="testsiteform" name="domain_name" type="text" required="required" autocorrect="off" class="seo-check-input" autocomplete="off" placeholder="{{ module.cmb_seo_check_form_placeholder }}" aria-label="{{ module.cmb_seo_check_form_placeholder }}" maxlength="73"></div><button type="submit" class="link-button seo-check-submit" aria-label="{{ module.cmb_seo_check_form_submit_button_text|default('Check SEO') }}"> <i class="fal fa-angle-right"></i> {{ module.cmb_seo_check_form_submit_button_text|default('Check SEO') }}</button></form>

		</div>
	</div>

</div>