<div class="row no-margin padding-gutter flex flex-middle flex-center no-margin-bottom">

	<div class="col-xs-24">
		<div class="domain-search-container flex flex-middle flex-center">
			{% if module.content %}
				<div class="domain-content-container">
					{{ module.content|wysiwyg }}
				</div>
			{% endif %}

			{# <div class="search_form_loader"><span class="fal fa-2x fa-spinner fa-pulse"></span></div> #}
			<form action="{{ module.cmb_domain_search_form_action_url|default('https://www.websupport.se/cart/domain-search') }}" class="domain-search-form {% if module.content %} has-content{% else %} no-content{% endif %}">
                <div class="domain-search-input-wrapper"><label class="domain-search-input-prefix" for="qd" >www.</label><input id="qd" name="qd" type="text" required="required" autocorrect="off" class="domain-search-input" autocomplete="off" placeholder="{{ module.cmb_domain_search_form_placeholder }}" aria-label="{{ module.cmb_domain_search_form_placeholder }}" maxlength="73"><button type="submit" class="link-button domain-search-submit" aria-label="{{ module.cmb_domain_search_form_submit_button_text|default('Check availability') }}"><i title="{{ module.cmb_domain_search_form_submit_button_text|striptags|default('Check availability') }}" class="far fa-search"></i></button></div>
            </form>

		</div>
	</div>

</div>