{% if module.content or content_module_thumbnail %}
	{% set content_module_thumbnail = module.thumbnail %}
	{% if not content_module_thumbnail %}{% set module_columns = "col-xs-24 col-l-12" %}{% endif %}

	<div class="row no-margin padding-gutter flex {% if not module_vertical_align_top %} flex-middle{% endif %} flex-center top-margin">
		{% if content_module_thumbnail %}
			<div class="col-xs-24 col-m-12 {% if not module_flip %} from-m_order-2 {% endif %}">
				<div class="content_module_helpdesk_thumbnail-container">
					<div class="content_module_helpdesk_thumbnail-image {{ module.cmb_module_helpdesk_additional_graphic_position|default('graphic-left-top') }}">
						<img loading="lazy" class="helpdesk-image" src="{{ content_module_thumbnail }}" {# srcset="{{ content_module_thumbnail.srcset }}" #} alt="{{ content_module_thumbnail.alt|default(module.title) }}" height="{{ content_module_thumbnail.height }}" width="{{ content_module_thumbnail.width }}">
						<div class="content_module_helpdesk_thumbnail-info flex flex-columns">
							{% if module.cmb_module_help_title %}
								<div class="content_module_helpdesk_thumbnail-title rounded">{{ module.cmb_module_help_title }}</div>
							{% endif %}
							{% if module.cmb_module_help_name %}
								<div class="content_module_helpdesk_thumbnail-name rounded">{{ module.cmb_module_help_name }}</div>
							{% endif %}
						</div>
						{% if module.cmb_module_helpdesk_additional_graphic %} 
							<img loading="lazy" class="helpdesk-graphic" src="{{ module.cmb_module_helpdesk_additional_graphic|image }}">
						{% endif %}
						<img loading="lazy" class="helpdesk-graphic-portrait" src="{{ theme.link }}/assets/img/helpdesk-portrait.png">
					</div>
				</div>
			</div>
		{% endif %}
		{% if module.content %}
			<div class="{{ module_columns|default('col-xs-24 col-m-12') }} {% if not module_flip %} from-m_order-1 m-left {% else %} m-right{% endif %}">
				<div class="content_module_content-container add-top-heading-border">
					{# {{ module.title }} #}
					{{ module.content|wysiwyg }}
				</div>
			</div>
		{% endif %}
	</div>

{% endif %}