{# This includes VPS server selection / configurator #}

{# Set some defaults.. #}
{% set currency_sym = fn('ws_get_lgpi_currency_symbol')|default("kr") %}

{# PRICES! #}
{% set cpu_price = fn('ws_get_lgpi_price', module.cmb_vps_price_per_vcpu) %}
{% set ram_price = fn('ws_get_lgpi_price', module.cmb_vps_price_per_ram) %}
{% set disk_price = fn('ws_get_lgpi_price', module.cmb_vps_price_per_storage) %}
{# check if any campaign is active? #}
{% set package_campaign_active = false %}
{% if cpu_price.campaign_active or ram_price.campaign_active or disk_price.campaign_active %}
	{% set package_campaign_active = true %}
{% endif %}

{% set windows_license_price = fn('ws_get_lgpi_price', module.cmb_windows_license_price) %}

{% set vps_price_prefix = module.cmb_vps_price_prefix|default('') %}
{% set vps_custom_cart_button_text = module.cmb_vps_custom_cart_button_text|default('') %}
{% set vps_price_period_text = module.cmb_vps_price_period_text|default('/'~site.translate('month')) %}
{% set vps_os_versions = site.get_posts_by_post_type('vps_os', 50, 'menu_order', 'DESC') %}

{# required for correct pricing #}
{% if cpu_price and ram_price and disk_price and vps_os_versions %}

	{# VPS packages? #}
	{% set tabbed_packages = false %}
	{% if module.cmb_package_group and module.cmb_package_group_2 %}
		{% set tabbed_packages = true %}
		<div class="vps-select-packages-tabbed-container">
			<div class="vps-select-packages-tabs">
				<div class="vps-select-packages-tabs-border">
					{# tab group 1 #}
					<a href="#vps_packages_group_1" class="vps-select-packages-tab-link active">{{ fn('get_term', module.cmb_package_group).name }}</a>
					{# tab group 2 #}
					<a href="#vps_packages_group_2" class="vps-select-packages-tab-link">{{ fn('get_term', module.cmb_package_group_2).name }}</a>
				</div>
			</div>
			<div class="vps-select-packages-tabbed-container-inner">
	{% endif %}

	{% if module.cmb_package_group %}
		<div class="vps-select-packages-container active" id="vps_packages_group_1">
			{% set packets = site.get_posts_by_post_type('vps_package', 10, 'menu_order', 'DESC', 'vps_package_category', module.cmb_package_group) %}
			{% set packet_columns = "flexible-col" %}
			<div class="row no-margin padding-gutter flex flex-center top-margin packet-count-{{ packets|length }}">
				{% for packet in packets %}
					{% if packet %}
						<div class="{{ packet_columns }}">
							{% include 'box-packet-vps.twig' %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	
	{% if module.cmb_package_group_2 %}
		<div class="vps-select-packages-container" id="vps_packages_group_2">
			{% set packets_2 = site.get_posts_by_post_type('vps_package', 10, 'menu_order', 'DESC', 'vps_package_category', module.cmb_package_group_2) %}
			{% set packet_columns = "flexible-col" %}
			<div class="row no-margin padding-gutter flex flex-center top-margin packet-count-{{ packets_2|length }}">
				{% for packet in packets_2 %}
					{% if packet %}
						<div class="{{ packet_columns }}">
							{% include 'box-packet-vps.twig' %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if tabbed_packages %}
			</div>
		</div>
	{% endif %}

	<div class="row no-margin padding-gutter">
		<div class="col-xs-24 col-l-10 col-xxl-9">
			<div class="vps-info-header">
				<h2>{{ module.cmb_module_heading_3_choose_conf|default(site.translate('Choose your own configuration')) }}</h2>
			</div>
		</div>
		<div class="from-xxl col-xxl-1"></div>
		<div class="col-xs-24 col-l-14">
			<div class="vps-select-custom-container white-theme rounded" id="vpscustom">
				<div class="vps-select-os-template">
					<h6>{{ module.cmb_os_select_title|default(site.translate('Operating System')) }}</h6>
					<select class="custom-vps-os-select white-theme rounded-theme" id="vps_os_template_name">
						{% for vps_os_version in vps_os_versions %}
							<option value="{{ vps_os_version.cmb_name }}" data-ostemplate="{{ vps_os_version.cmb_template }}" data-min_cpu="{{ vps_os_version.cmb_min_cpu }}" data-min_ram="{{ vps_os_version.cmb_min_ram }}" data-min_disk="{{ vps_os_version.cmb_min_disk }}">{{ vps_os_version.cmb_name }} {{ vps_os_version.cmb_description }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="vps-custom-sliders-container">
					<div class="vps-slider-row flex flex-middle">
						<div class="vps-row-heading">{{ site.translate('CPU') }}</div>
						<div class="vps-price-container {% if cpu_price.campaign_active %} vps-price-campaign-active{% endif %}">
							<span class="lgpi_price_inner_container {% if cpu_price.campaign_active %} campaign_active{% endif %}">
								<span class="vps-slider-price cpu lgpi_price_excluding_vat">
									<span class="lgpi_price_regular"></span>
									{% if cpu_price.campaign_active %}
									<span class="lgpi_price_campaign">{{ cpu_price.sale_price_excluding_vat }}</span>
									{% endif %}
								</span>
								<span class="vps-slider-price cpu lgpi_price_including_vat">
									<span class="lgpi_price_regular">{{ cpu_price.price_including_vat }}</span>
									{% if cpu_price.campaign_active %}
									<span class="lgpi_price_campaign">{{ cpu_price.sale_price_including_vat }}</span>
									{% endif %}
								</span>
							</span>
							<span class="price_currency">{{currency_sym}}</span>
							<small class="price_period">/{{ site.translate('month') }}</small>
						</div>
						<div class="vps-slider-container">
							<div class="vps-slider cpu ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
								<div class="ui-slider-handle">
									<div class="handle-item"></div>
									<div class="vps-slider-tooltip-container">
										<span class="vps-tooltip-value cpu"></span> <span class="vps-tooltip-suffix">{{ site.translate('CPU') }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="vps-slider-row flex flex-middle">
						<div class="vps-row-heading">{{ site.translate('RAM') }}</div>
						<div class="vps-price-container {% if ram_price.campaign_active %} vps-price-campaign-active{% endif %}">
							<span class="lgpi_price_inner_container {% if ram_price.campaign_active %} campaign_active{% endif %}">
								<span class="vps-slider-price ram lgpi_price_excluding_vat">
									<span class="lgpi_price_regular">{{ ram_price.price_excluding_vat }}</span>
									{% if ram_price.campaign_active %}
									<span class="lgpi_price_campaign">{{ ram_price.sale_price_excluding_vat }}</span>
									{% endif %}
								</span>
								<span class="vps-slider-price ram lgpi_price_including_vat">
									<span class="lgpi_price_regular">{{ ram_price.price_including_vat }}</span>
									{% if ram_price.campaign_active %}
									<span class="lgpi_price_campaign">{{ ram_price.sale_price_including_vat }}</span>
									{% endif %}
								</span>
							</span>
							<span class="price_currency">{{currency_sym}}</span>
							<small class="price_period">/{{ site.translate('month') }}</small>
						</div>
						<div class="vps-slider-container">
							<div class="vps-slider ram ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
								<div class="ui-slider-handle">
									<div class="handle-item"></div>
									<div class="vps-slider-tooltip-container">
										<span class="vps-tooltip-value ram"></span> <span class="vps-tooltip-suffix">{{ site.translate('GB') }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="vps-slider-row flex flex-middle">
						<div class="vps-row-heading">{{ site.translate('SSD Disk') }}</div>
						<div class="vps-price-container {% if disk_price.campaign_active %} vps-price-campaign-active{% endif %}">
							<span class="lgpi_price_inner_container {% if disk_price.campaign_active %} campaign_active{% endif %}">
								<span class="vps-slider-price disk lgpi_price_excluding_vat">
									<span class="lgpi_price_regular">{{ disk_price.price_excluding_vat }}</span>
									{% if disk_price.campaign_active %}
									<span class="lgpi_price_campaign">{{ disk_price.sale_price_excluding_vat }}</span>
									{% endif %}
								</span>
								<span class="vps-slider-price disk lgpi_price_including_vat">
									<span class="lgpi_price_regular">{{ disk_price.price_including_vat }}</span>
									{% if disk_price.campaign_active %}
									<span class="lgpi_price_campaign">{{ disk_price.sale_price_including_vat }}</span>
									{% endif %}
								</span>
							</span>
							<span class="price_currency">{{currency_sym}}</span>
							<small class="price_period">/ {{ site.translate('month') }}</small>
						</div>
						<div class="vps-slider-container">
							<div class="vps-slider disk ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
								<div class="ui-slider-handle" tabindex="0" role="slider" aria-orientation="horizontal">
									<div class="handle-item"></div>
									<div class="vps-slider-tooltip-container">
										<span class="vps-tooltip-value disk"></span> <span class="vps-tooltip-suffix">{{ site.translate('GB') }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="vps-totals-heading text-center">

					</div>

					<div class="vps-totals-price-container text-center">
						<span class="price_prefix">{{ vps_price_prefix }}</span>
						<span class="lgpi_price_inner_container {% if package_campaign_active %} campaign_active{% endif %}">
							<span class="vps-slider-price totals lgpi_price_excluding_vat">
								<span class="lgpi_price_regular"></span>
								{% if package_campaign_active %}
								<span class="lgpi_price_campaign"></span>
								{% endif %}
							</span>
							<span class="vps-slider-price totals lgpi_price_including_vat">
								<span class="lgpi_price_regular"></span>
								{% if package_campaign_active %}
								<span class="lgpi_price_campaign"></span>
								{% endif %}
							</span>
						</span>
						<span class="price_currency">{{ currency_sym }}</span>
						<small class="price_period">{{ vps_price_period_text }}</small>
					</div>

					<div class="vps-custom-bottom text-center">
						<div class="vps-package-purchase-custom-container">
							{{ fn('do_shortcode', '[lgpi-add-to-cart button_text="'~vps_custom_cart_button_text~'" snapshotslot="1" classes="link-button-alt vps-package-purchase-custom" product="vps"]') }}
						</div>
					</div>

					{% if module.cmb_vps_smallprint %}
						<div class="smallprint">
							{{ module.cmb_vps_smallprint|wysiwyg }}
						</div>
					{% endif %}
					
				</div>

				{% if module.cmb_vps_module_additional_graphic %} 
					<div class="vps-module-graphic-container"><img loading="lazy" src="{{ module.cmb_vps_module_additional_graphic|image }}"></div>
				{% endif %}
			</div>
		</div>
	</div>

	{# Required scripts for VPS configurator #}
	<script>
		jQuery.noConflict();
		(function($){ 
			$(function(){
				$(document).ready(function(){

					var os_template_min_cpu = 1;
					var os_template_max_cpu = 16;
					var os_template_min_ram = 1;
					var os_template_max_ram = 32;
					var os_template_min_disk = 15;
					var os_template_max_disk = 500;

					// just for the ui
					var template_cpu_price = {{ cpu_price.price_excluding_vat|default('50') }};
					var template_cpu_price_ivat = {{ cpu_price.price_including_vat|default('50') }};
					{% if cpu_price.campaign_active %}
					var template_cpu_sale_price = {{ cpu_price.sale_price_excluding_vat|default('50') }};
					var template_cpu_sale_price_ivat = {{ cpu_price.sale_price_including_vat|default('50') }};
					{% endif %}

					var template_ram_price = {{ ram_price.price_excluding_vat|default('50') }};
					var template_ram_price_ivat = {{ ram_price.price_including_vat|default('50') }};
					{% if ram_price.campaign_active %}
					var template_ram_sale_price = {{ ram_price.sale_price_excluding_vat|default('50') }};
					var template_ram_sale_price_ivat = {{ ram_price.sale_price_including_vat|default('50') }};
					{% endif %}

					var template_disk_price = {{ disk_price.price_excluding_vat|default('50') }};
					var template_disk_price_ivat = {{ disk_price.price_including_vat|default('50') }};
					{% if disk_price.campaign_active %}
					var value_storage_sale_price = {{ disk_price.sale_price_excluding_vat|default('50') }};
					var value_storage_sale_price_ivat = {{ disk_price.sale_price_including_vat|default('50') }};
					{% endif %}

					var vps_custom_purchase_submit_button = $('button.vps-package-purchase-custom');
					var vps_custom_purchase_submit_button_container = $('.vps-package-purchase-custom-container');

					var slider_price_cpu = $(".vps-slider-price.cpu.lgpi_price_excluding_vat .lgpi_price_regular");
					var slider_price_cpu_ivat = $(".vps-slider-price.cpu.lgpi_price_including_vat .lgpi_price_regular");
					{% if cpu_price.campaign_active %}
					var slider_sale_price_cpu  = $(".vps-slider-price.cpu.lgpi_price_excluding_vat .lgpi_price_campaign");
					var slider_sale_price_cpu_ivat  = $(".vps-slider-price.cpu.lgpi_price_including_vat .lgpi_price_campaign");
					{% endif %}

					var slider_price_ram   = $(".vps-slider-price.ram.lgpi_price_excluding_vat .lgpi_price_regular");
					var slider_price_ram_ivat   = $(".vps-slider-price.ram.lgpi_price_including_vat .lgpi_price_regular");
					{% if ram_price.campaign_active %}
					var slider_sale_price_ram  = $(".vps-slider-price.ram.lgpi_price_excluding_vat .lgpi_price_campaign");
					var slider_sale_price_ram_ivat  = $(".vps-slider-price.ram.lgpi_price_including_vat .lgpi_price_campaign");
					{% endif %}

					var slider_price_disk  = $(".vps-slider-price.disk.lgpi_price_excluding_vat .lgpi_price_regular");
					var slider_price_disk_ivat  = $(".vps-slider-price.disk.lgpi_price_including_vat .lgpi_price_regular");
					{% if disk_price.campaign_active %}
					var slider_sale_price_storage  = $(".vps-slider-price.disk.lgpi_price_excluding_vat .lgpi_price_campaign");
					var slider_sale_price_storage_ivat  = $(".vps-slider-price.disk.lgpi_price_including_vat .lgpi_price_campaign");
					{% endif %}


					var slider_total_price  = $(".vps-totals-price-container .totals.lgpi_price_excluding_vat .lgpi_price_regular");
					var slider_total_price_ivat  = $(".vps-totals-price-container .totals.lgpi_price_including_vat .lgpi_price_regular");
					{% if package_campaign_active %}
					var slider_total_sale_price  = $(".vps-totals-price-container .totals.lgpi_price_excluding_vat .lgpi_price_campaign");
					var slider_total_sale_price_ivat  = $(".vps-totals-price-container .totals.lgpi_price_including_vat .lgpi_price_campaign");
					{% endif %}

					var _vps_os_template_name = $('#vps_os_template_name');
					// var serverNameSelectError = $('.virtualserver-name-error-box');

					// tooltips
					var slider_tooltip_handle_cpu = $(".vps-tooltip-value.cpu");
					var slider_tooltip_handle_ram   = $(".vps-tooltip-value.ram");
					var slider_tooltip_handle_disk  = $(".vps-tooltip-value.disk");

					var slider_ui_cpu = $(".vps-slider.cpu");
					var slider_ui_ram   = $(".vps-slider.ram");
					var slider_ui_disk  = $(".vps-slider.disk");

					slider_ui_cpu.slider({
						animate: "fast",
						orientation: "horizontal",
						step: 1,
						range: "min",
						min: os_template_min_cpu,
						max: os_template_max_cpu,
						create: function() {
							slider_tooltip_handle_cpu.text( $( this ).slider( "value" ) );
							// update_cart_button_data("cpu", $( this ).slider( "value" ));
						},
						slide: function( event, ui ) {
							slider_tooltip_handle_cpu.text( ui.value );
							update_cart_button_data("cpu", ui.value);
							update_slider_cpu_price(ui.value);
							let value =  ['cpu']; value['cpu'] = ui.value;
							update_slider_total_price( value );
						},
						// stop: function( event, ui ) {
						// 	update_slider_total_price();
						// }
					});
					slider_ui_ram.slider({
						animate: "fast",
						orientation: "horizontal",
						step: 1,
						range: "min",
						min: os_template_min_ram,
						max: os_template_max_ram,
						create: function() {
							slider_tooltip_handle_ram.text( $( this ).slider( "value" ) );
							// update_cart_button_data("ram", $( this ).slider( "value" )*1024);
						},
						slide: function( event, ui ) {
							slider_tooltip_handle_ram.text( ui.value );
							update_cart_button_data("ram", ui.value*1024);
							update_slider_ram_price(ui.value);
							let value = ['ram']; value['ram'] = ui.value;
							update_slider_total_price( value );
						},
						// stop: function( event, ui ) {
						// 	update_slider_total_price();
						// }
					});
					slider_ui_disk.slider({
						animate: "fast",
						orientation: "horizontal",
						step: 5,
						range: "min",
						min: os_template_min_disk,
						max: os_template_max_disk,
						create: function() {
							slider_tooltip_handle_disk.text( $( this ).slider( "value" ) );
							// update_cart_button_data("capacity", $( this ).slider( "value" )*1024);
						},
						slide: function( event, ui ) {
							slider_tooltip_handle_disk.text( ui.value );
							update_cart_button_data("capacity", ui.value*1024);
							update_slider_disk_price(ui.value);
							let value = ['disk']; value['disk'] = ui.value;
							update_slider_total_price( value );
						},
						// stop: function( event, ui ) {
						// 	update_slider_total_price();
						// }
					});

					function roundPrice(n, digits) {
						if (digits === undefined) { digits = 2; }
						let multiplicator = Math.pow(10, digits);
						n = parseFloat((n * multiplicator).toFixed(11));
						return Math.round(n) / multiplicator;
					}

					function switch_distro_select(){
						os_template_min_cpu = $("option:selected", this).data('min_cpu');
						os_template_min_ram = $("option:selected", this).data('min_ram');
						os_template_min_disk = $("option:selected", this).data('min_disk');
						update_cart_button_data("osname", $(this).val());
						update_cart_button_data("ostemplate", $("option:selected", this).data('ostemplate'));
						reset_slider_values();
					};

					function reset_slider_values(){
						// update slider UI min values
						slider_ui_cpu.slider( "option", "min", os_template_min_cpu );
						slider_ui_ram.slider( "option", "min", os_template_min_ram );
						slider_ui_disk.slider( "option", "min", os_template_min_disk );

						// reset values to new minimums
						slider_ui_cpu.slider( "option", "value", os_template_min_cpu);
						slider_ui_ram.slider( "option", "value", os_template_min_ram);
						slider_ui_disk.slider( "option", "value", os_template_min_disk);

						slider_tooltip_handle_cpu.text( os_template_min_cpu );
						slider_tooltip_handle_ram.text( os_template_min_ram );
						slider_tooltip_handle_disk.text( os_template_min_disk );

						update_cart_button_data("cpu", os_template_min_cpu);
						update_cart_button_data("ram", os_template_min_ram*1024);
						update_cart_button_data("capacity", os_template_min_disk*1024);

						update_slider_prices();

					}

					function update_slider_cpu_price(new_count) {
						let count = false;
						if ( new_count ) {
							count = new_count;
						}else{
							count = slider_ui_cpu.slider( "option", "value");
						}
						if (count < os_template_min_cpu) {
							slider_ui_cpu.slider( "option", "value", os_template_min_cpu);
						}
						if (count > os_template_max_cpu) {
							slider_ui_cpu.slider( "option", "value", os_template_max_cpu);
						}
						if (count && template_cpu_price) {
							let price = count*template_cpu_price;
							let price_ivat = count*template_cpu_price_ivat;
							slider_price_cpu.text( roundPrice(price) );
							slider_price_cpu_ivat.text( roundPrice(price_ivat) );

							{% if cpu_price.campaign_active %}
							let sale_price = count*template_cpu_sale_price;
							let sale_price_ivat = count*template_cpu_sale_price_ivat;
							slider_sale_price_cpu.text( roundPrice(sale_price) );
							slider_sale_price_cpu_ivat.text( roundPrice(sale_price_ivat) );
							{% endif %}
						}else{
							return false;
						}
					}

					function update_slider_ram_price(new_count) {
						let count = false;
						if ( new_count ) {
							count = new_count;
						}else{
							count = slider_ui_ram.slider( "option", "value");
						}
						if (count < os_template_min_ram) {
							slider_ui_ram.slider( "option", "value", os_template_min_ram);
						}
						if (count > os_template_max_ram) {
							slider_ui_ram.slider( "option", "value", os_template_max_ram);
						}
						if (count && template_ram_price) {
							let price = count*template_ram_price;
							let price_ivat = count*template_ram_price_ivat;
							slider_price_ram.text( roundPrice(price) );
							slider_price_ram_ivat.text( roundPrice(price_ivat) );

							{% if ram_price.campaign_active %}
							let sale_price = count*slider_ram_sale_price;
							let sale_price_ivat = count*slider_ram_sale_price_ivat;
							slider_sale_price_ram.text( roundPrice(sale_price) );
							slider_sale_price_ram_ivat.text( roundPrice(sale_price_ivat) );
							{% endif %}
						}else{
							return false;
						}
					}

					function update_slider_disk_price(new_count) {
						let count = false;
						if ( new_count ) {
							count = new_count;
						}else{
							count = slider_ui_disk.slider( "option", "value");
						}
						if (count < os_template_min_disk) {
							slider_ui_disk.slider( "option", "value", os_template_min_disk);
						}
						if (count > os_template_max_disk) {
							slider_ui_disk.slider( "option", "value", os_template_max_disk);
						}
						if (count && template_disk_price) {
							let price = count*template_disk_price;
							let price_ivat = count*template_disk_price_ivat;
							slider_price_disk.text( roundPrice(price) );
							slider_price_disk_ivat.text( roundPrice(price_ivat) );

							{% if disk_price.campaign_active %}
							let sale_price = count*slider_storage_sale_price;
							let sale_price_ivat = count*slider_storage_sale_price_ivat;
							slider_sale_price_storage.text( roundPrice(sale_price) );
							slider_sale_price_storage_ivat.text( roundPrice(sale_price_ivat) );
							{% endif %}
						}else{
							return false;
						}
					}

					function update_slider_total_price(new_count){
						let _slider_ui_cpu_value = false;
						let _slider_ui_ram_value = false;
						let _slider_ui_disk_value = false;
						if ( new_count && new_count["cpu"] ) {
							_slider_ui_cpu_value = new_count["cpu"];
						}else{
							_slider_ui_cpu_value = slider_ui_cpu.slider( "option", "value");
						}
						if ( new_count && new_count["ram"] ) {
							_slider_ui_ram_value = new_count["ram"];
						}else{
							_slider_ui_ram_value = slider_ui_ram.slider( "option", "value");
						}
						if ( new_count && new_count["disk"] ) {
							_slider_ui_disk_value = new_count["disk"];
						}else{
							_slider_ui_disk_value = slider_ui_disk.slider( "option", "value");
						}
						let package_cpu_price = _slider_ui_cpu_value * template_cpu_price;
						let package_cpu_price_ivat = _slider_ui_cpu_value * template_cpu_price_ivat;
						let package_ram_price = _slider_ui_ram_value * template_ram_price;
						let package_ram_price_ivat = _slider_ui_ram_value * template_ram_price_ivat;
						let package_disk_price = _slider_ui_disk_value * template_disk_price;
						let package_disk_price_ivat = _slider_ui_disk_value * template_disk_price_ivat;
						slider_total_price.text(roundPrice(package_cpu_price+package_ram_price+package_disk_price));
						slider_total_price_ivat.text(roundPrice(package_cpu_price_ivat+package_ram_price_ivat+package_disk_price_ivat));
						{% if package_campaign_active %}
							{% if cpu_price.campaign_active %}
							package_cpu_price = _slider_ui_cpu_value * template_cpu_sale_price;
							package_cpu_price_ivat = _slider_ui_cpu_value * template_cpu_sale_price_ivat;
							{% endif %}
							{% if ram_price.campaign_active %}
							package_ram_price = _slider_ui_ram_value * slider_ram_sale_price;
							package_ram_price_ivat = _slider_ui_ram_value * slider_ram_sale_price_ivat;
							{% endif %}
							{% if disk_price.campaign_active %}
							package_disk_price = _slider_ui_disk_value * slider_storage_sale_price;
							package_disk_price_ivat = _slider_ui_disk_value * slider_storage_sale_price_ivat;
							{% endif %}
							slider_total_sale_price.text(roundPrice(package_cpu_price+package_ram_price+package_disk_price));
							slider_total_sale_price_ivat.text(roundPrice(package_cpu_price_ivat+package_ram_price_ivat+package_disk_price_ivat));
						{% endif %}
					}

					function update_slider_prices(){
						update_slider_cpu_price();
						update_slider_ram_price();
						update_slider_disk_price();
						update_slider_total_price();
					}

					function update_cart_button_data(service_name=false, value=false){
						if ( service_name && value ) {
							vps_custom_purchase_submit_button.data(service_name, value);
						}
					}

					_vps_os_template_name.change(switch_distro_select);
					// initialize price and package os & template
					_vps_os_template_name.trigger("change");

					// initialize package prices
					$('.vps-package-price-field').each( function(){
						let package_cpu_price = $(this).data("cpu") * template_cpu_price;
						let package_cpu_price_ivat = $(this).data("cpu") * template_cpu_price_ivat;
						let package_ram_price = $(this).data("ram") * template_ram_price;
						let package_ram_price_ivat = $(this).data("ram") * template_ram_price_ivat;
						let package_disk_price = $(this).data("disk") * template_disk_price;
						let package_disk_price_ivat = $(this).data("disk") * template_disk_price_ivat;
						let package_total = roundPrice(package_cpu_price+package_ram_price+package_disk_price);
						let package_total_ivat = roundPrice(package_cpu_price_ivat+package_ram_price_ivat+package_disk_price_ivat);
						$(this).find('.amount.lgpi_price_excluding_vat .lgpi_price_regular').text(package_total);
						$(this).find('.amount.lgpi_price_including_vat .lgpi_price_regular').text(package_total_ivat);

						{% if package_campaign_active %}
							{% if cpu_price.campaign_active %}
							package_cpu_price = $(this).data("cpu") * template_cpu_sale_price;
							package_cpu_price_ivat = $(this).data("cpu") * template_cpu_sale_price_ivat;
							{% endif %}
							{% if ram_price.campaign_active %}
							package_ram_price = $(this).data("ram") * template_ram_sale_price;
							package_ram_price_ivat = $(this).data("ram") * template_ram_sale_price_ivat;
							{% endif %}
							{% if storage_price.campaign_active %}
							package_disk_price = $(this).data("disk") * template_disk_sale_price;
							package_disk_price_ivat = $(this).data("disk") * template_disk_sale_price_ivat;
							{% endif %}
							let package_sale_total = roundPrice(package_cpu_price+package_ram_price+package_disk_price);
							let package_sale_total_ivat = roundPrice(package_cpu_price_ivat+package_ram_price_ivat+package_disk_price_ivat);
							$(this).find('.amount.lgpi_price_excluding_vat .lgpi_price_campaign').text(package_sale_total);
							$(this).find('.amount.lgpi_price_including_vat .lgpi_price_campaign').text(package_sale_total_ivat);
						{% endif %}
					});

					// loop every package and trigger osname and template updates
					$('.packet-vps-os-select').each( function(){
						$(this).on('change', function(){
							let _target = $(this).data("target");
							$(_target).data('osname', $(this).val());
							$(_target).data('ostemplate', $("option:selected", this).data('ostemplate'));
						});
						$(this).trigger("change");
					});

					{% if tabbed_packages %}
					/* package tabs */
					var tabbed_packages = $('a.vps-select-packages-tab-link');
					tabbed_packages.each(function(i,e){
						let _this = $( this );
						let _panel = $(this.hash);
						_this.click(function(e){
							e.preventDefault();
							if ( _this.hasClass('active') ){
								// do nothing..
								// _panel.slideUp(200).removeClass('active');
							}else{
								$('.vps-select-packages-container.active').hide().removeClass('active');
								$('.vps-select-packages-tab-link.active').removeClass('active');
								_this.addClass('active');
								_panel.fadeIn(200).addClass('active');
							}
						});
					});
					{% endif %}

				});
			});
		})(jQuery);
	</script>

{% endif %}