{% if module.content or content_module_thumbnail %}
	{% set content_module_thumbnail = module.thumbnail %}
	{% if not content_module_thumbnail %}{% set module_columns = "col-xs-24 col-l-12" %}{% endif %}

	<div class="row no-margin padding-gutter flex {% if not module_vertical_align_top %} flex-middle{% endif %} flex-center top-margin">
		{% if module.content %}
			<div class="{{ module_columns|default('col-xs-24 col-m-12') }} {% if module_flip %} from-m_order-2 m-right {% else %} m-left{% endif %}">
				<div class="content_module_content-container add-top-heading-border">
					{# {{ module.title }} #}
					{{ module.content|wysiwyg }}
				</div>
			</div>
		{% endif %}
		{% if content_module_thumbnail %}
			<div class="col-xs-24 col-m-12 {% if module_flip %} from-m_order-1 {% endif %}">
				<div class="content_module_thumbnail-container">
					<img loading="lazy" {# srcset="{{ content_module_thumbnail.srcset }}" #} src="{{ content_module_thumbnail }}" alt="{{ content_module_thumbnail.alt|default(module.title) }}" height="{{ content_module_thumbnail.height }}" width="{{ content_module_thumbnail.width }}">
				</div>
			</div>
		{% endif %}
	</div>

{% endif %}