{# Content modules form the selected content_module_category #}
{% if content_modules %}
	<div id="category-content_module-container" class="content_modules-container">
		{% for content_module in content_modules %}
			{% include 'module/content_module.twig' %}
		{% endfor %}
	</div>
{% endif %}