{# This is the BASE for all content modules #}

{% if content_module.cmb_content_module_post or content_module.post_type == 'content_module' %}

	{# Check if module is post already #}
	{% if content_module.post_type == 'content_module' %}
		{% set module = content_module %}
	{% else %}
		{% set module = content_module.cmb_content_module_post %}
	{% endif %}

	{# Override content module settings in page template #}
	{% if content_module.cmb_module_textalign or module.cmb_module_textalign %}
		{% set module_textalign = 'text-center' %}
	{% endif %}

	{% set module_vertical_align_top = false %}
	{# disable flex-middle #}
	{% if module.cmb_module_vertical_align_top %}
		{% set module_vertical_align_top = true %}
	{% endif %}

	{# Override content module settings in page template #}
	{% if content_module.cmb_module_theme or module.cmb_module_theme %}
		{% set module_theme = content_module.cmb_module_theme|default(module.cmb_module_theme) %}
	{% endif %}

	{# Override content module settings in page template #}
	{% if content_module.cmb_module_flip or module.cmb_module_flip %}
		{% set module_flip = true %}
	{% endif %}

	{# set module type for styles #}
	{% set module_type = "default_module" %}

	{% if module.cmb_mobule_bg_inset %}
		{# check if is alt layout #}
		{% set is_inset_layout = true %}
	{% endif %}

	{% if module.cmb_module_is_help %}
		{# This is a helpdesk module! #}
		{% set module_type = "helpdesk_module" %}
		{% set helpdesk = true %}
	{% endif %}

	{% if module.cmb_module_is_domain_search %}
		{# This is a domain search module! #}
		{% set module_type = "domain_search_module" %}
		{% set domain_search = true %}
	{% endif %}

	{% if module.cmb_module_is_vps_select %}
		{# This is a VPS select module! #}
		{% set module_wrapper = "wrapper" %}
		{% set module_type = "vps_select_module" %}
		{% set vps_select = true %}
	{% endif %}

	{% if module.cmb_module_is_seo_checker %}
		{# This is a SEO checker module! #}
		{% set module_type = "seo_checker_module" %}
		{% set seo_checker = true %}
	{% endif %}

	{% if module.cmb_module_wrapper %}
		{% set module_wrapper = module.cmb_module_wrapper %}
	{% endif %}

	{# overrides #}
	{% if wrapper_override == true %}
		{% set module_wrapper = 'no-wrapper' %}
	{% endif %}
	{% if theme_override == true %}
		{% set module_theme = 'no-theme' %}
	{% endif %}


	{# Check any of the required fields before rendering the module #}

	{% if module.cmb_full_width or module.cmb_full_width_no_wrap or module.cmb_full_width_bottom or module.cmb_full_width_bottom_no_wrap or module.content or module.cmb_left_col or module.cmb_right_col or domain_search or vps_select or seo_checker or helpdesk or module.sel_service_category or module.sel_packet_category %}

		<section class="content_module_outer-container {% if module_flip %} module-flipped{% endif %} {% if is_inset_layout %} module-inset-layout{% endif %} {{ module_theme }} {{ module_textalign }} {% if module.cmb_mobule_bg_image %} module_has_bg{% endif %} {% if module.cmb_module_additional_graphic %} module_has_graphic {{ module.cmb_module_additional_graphic_position|default('graphic-right-middle') }}{% endif %} {{ module_type }}" >
			{% if is_inset_layout %}
			<div class="content_module_inset">
			{% endif %}
			<div class="content_module-background-image {% if is_inset_layout %} rounded{% endif %} {{ module.cmb_mobule_bg_image_size|default('bg-cover') }} {% if module.cmb_mobule_bg_image_show_mobile %} show_bg_mobile{% endif %} {% if module.cmb_override_color_white %} white-color{% endif %}" {% if module.cmb_mobule_bg_image %} style="background-image: url({{ module.cmb_mobule_bg_image|image }})" {% endif %}>
				<div class="content_module-wrapper overflowing {{ module_wrapper|default('wrapper') }} {% if user_can_edit %} editable_area{% endif %}">
					<div class="content_module_inner-container {{ module.type }}">

						{# narrow width content above module #}
							{% if module.cmb_full_width %}
								<div class="row no-margin padding-gutter flex {% if not module_vertical_align_top %} flex-middle{% endif %} flex-center top-margin">
									<div class="col-xs-24">
										<div class="wrapper narrow overflowing no-padding text-center">
											{{ module.cmb_full_width|wysiwyg }}
										</div>
									</div>
								</div>
							{% endif %}
						
						{# full width, no wrapper content above module #}
							{% if module.cmb_full_width_no_wrap %}
								<div class="row no-margin padding-gutter flex {% if not module_vertical_align_top %} flex-middle{% endif %} flex-center top-margin">
									<div class="col-xs-24">
										<div class="overflowing no-padding">
											{{ module.cmb_full_width_no_wrap|wysiwyg }}
										</div>
									</div>
								</div>
							{% endif %}

						{% if module_type == "default_module" %}
							{% include 'module/_content_module_default.twig' %}
						{% endif %}

						{% if module_type == "helpdesk_module" %}
							{% include 'module/_content_module_helpdesk.twig' %}
						{% endif %}

						{% if module_type == "domain_search_module" %}
							{% include 'module/_content_module_domain_search.twig' %}
						{% endif %}

						{% if module_type == "vps_select_module" %}
							{% include 'module/_content_module_vps_select.twig' %}
						{% endif %}

						{% if module_type == "seo_checker_module" %}
							{% include 'module/_content_module_seo_checker.twig' %}
						{% endif %}

						{# Module content common for all module types #}

							{% if module.cmb_left_col or module.cmb_right_col %}
								{% set bottom_module_columns = "col-xs-24 col-m-12 col-l-12" %}
								<div class="row no-margin padding-gutter flex {% if not module_vertical_align_top %} flex-middle{% endif %} flex-center top-margin">
									{% if module.cmb_left_col %}
										<div class="{{ bottom_module_columns }}">
											<div class="content_module_content-container {% if module.cmb_left_col_theme != 'no-theme' and module.cmb_left_col_theme %} rounded has-theme box-shadow {{ module.cmb_left_col_theme }}{% endif %}">
												{{ module.cmb_left_col|wysiwyg }}
											</div>
										</div>
									{% endif %}
									{% if module.cmb_right_col %}
										<div class="{{ bottom_module_columns }}">
											<div class="content_module_content-container {% if module.cmb_right_col_theme != 'no-theme' and module.cmb_right_col_theme %} rounded has-theme box-shadow {{ module.cmb_right_col_theme }}{% endif %}">
												{{ module.cmb_right_col|wysiwyg }}
											</div>
										</div>
									{% endif %}
								</div>
							{% endif %}
									
							{% if module.cmb_col_2_1 or module.cmb_col_2_2  or module.cmb_col_2_3 %}
								{% set bottom_module_middle_columns = "col-xs-24 col-m-8 col-l-8" %}
								<div class="row no-margin padding-gutter flex {% if not module_vertical_align_top %} flex-middle{% endif %} flex-center top-margin">
									{% if module.cmb_col_2_1 %}
										<div class="{{ bottom_module_middle_columns }}">
											<div class="content_module_content-container {% if module.cmb_col_2_1_theme != 'no-theme' and module.cmb_col_2_1_theme %} rounded has-theme box-shadow {{ module.cmb_col_2_1_theme }}{% endif %}">
												{{ module.cmb_col_2_1|wysiwyg }}
											</div>
										</div>
									{% endif %}
									{% if module.cmb_col_2_2 %}
										<div class="{{ bottom_module_middle_columns }}">
											<div class="content_module_content-container {% if module.cmb_col_2_2_theme != 'no-theme' and module.cmb_col_2_2_theme %} rounded has-theme box-shadow {{ module.cmb_col_2_2_theme }}{% endif %}">
												{{ module.cmb_col_2_2|wysiwyg }}
											</div>
										</div>
									{% endif %}
									{% if module.cmb_col_2_3 %}
										<div class="{{ bottom_module_middle_columns }}">
											<div class="content_module_content-container {% if module.cmb_col_2_3_theme != 'no-theme' and module.cmb_col_2_3_theme %} rounded has-theme box-shadow {{ module.cmb_col_2_3_theme }}{% endif %}">
												{{ module.cmb_col_2_3|wysiwyg }}
											</div>
										</div>
									{% endif %}
								</div>
							{% endif %}

							{% if module.cmb_col_3_1 or module.cmb_col_3_2 or module.cmb_col_3_3 or module.cmb_col_3_4 %}
								{% set bottom_module_middle_columns = "col-xs-24 col-m-12 col-l-6" %}
								<div class="row no-margin padding-gutter flex {% if not module_vertical_align_top %} flex-middle{% endif %} flex-center top-margin">
									{% if module.cmb_col_3_1 %}
										<div class="{{ bottom_module_middle_columns }}">
											<div class="content_module_content-container {% if module.cmb_col_3_1_theme != 'no-theme' and module.cmb_col_3_1_theme %} rounded has-theme box-shadow {{ module.cmb_col_3_1_theme }}{% endif %}">
												{{ module.cmb_col_3_1|wysiwyg }}
											</div>
										</div>
									{% endif %}
									{% if module.cmb_col_3_2 %}
										<div class="{{ bottom_module_middle_columns }}">
											<div class="content_module_content-container {% if module.cmb_col_3_2_theme != 'no-theme' and module.cmb_col_3_2_theme %} rounded has-theme box-shadow {{ module.cmb_col_3_2_theme }}{% endif %}">
												{{ module.cmb_col_3_2|wysiwyg }}
											</div>
										</div>
									{% endif %}
									{% if module.cmb_col_3_3 %}
										<div class="{{ bottom_module_middle_columns }}">
											<div class="content_module_content-container {% if module.cmb_col_3_3_theme != 'no-theme' and module.cmb_col_3_3_theme %} rounded has-theme box-shadow {{ module.cmb_col_3_3_theme }}{% endif %}">
												{{ module.cmb_col_3_3|wysiwyg }}
											</div>
										</div>
									{% endif %}
									{% if module.cmb_col_3_4 %}
										<div class="{{ bottom_module_middle_columns }}">
											<div class="content_module_content-container {% if module.cmb_col_3_4_theme != 'no-theme' and module.cmb_col_3_4_theme %} rounded has-theme box-shadow {{ module.cmb_col_3_4_theme }}{% endif %}">
												{{ module.cmb_col_3_4|wysiwyg }}
											</div>
										</div>
									{% endif %}
								</div>
							{% endif %}


							{% if module.sel_service_category %}
								{% set services = site.get_posts_by_post_type('service', 10, 'menu_order', 'DESC', 'service_category', module.sel_service_category) %}
								{% set service_columns = "flexible-col" %}
								{% set service_carousel = module.cmb_module_service_carousel %}
								{% set alternative_layout = module.cmb_module_service_layout %}
								{% if service_carousel %}
									{# USE CAROUSEL! #}
									<div class="owl-carousel tips-carousel">
										{% for service in services %}
											{% if service %}
												{% set index_no = loop.index %}
												<div class="{{ service_columns }}">
													{% include 'box-service.twig' with { 'alternative_layout':alternative_layout, 'index_no':index_no } %}
												</div>
											{% endif %}
										{% endfor %}
									</div>
								{% else %}
									<div class="row no-margin padding-gutter flex flex-center top-margin">
										{% for service in services %}
											{% if service %}
												{% set index_no = loop.index %}
												<div class="{{ service_columns }}">
													{% include 'box-service.twig' with { 'alternative_layout':alternative_layout, 'index_no':index_no } %}
												</div>
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							{% endif %}

							{% if module.sel_packet_category %}
								{% set packets = site.get_posts_by_post_type('packet', 10, 'menu_order', 'DESC', 'packet_category', module.sel_packet_category) %}
								{% set packet_columns = "flexible-col" %}
								<div class="row no-margin padding-gutter flex flex-center top-margin packet-count-{{ packets|length }}">
									{% for packet in packets %}
										{% if packet %}
											<div class="{{ packet_columns }}">
												{% include 'box-packet.twig' %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}

							

							{% if module.sel_testimonial_category %}
								{% set testimonials = site.get_posts_by_post_type('testimonial', 20, 'menu_order', 'DESC', 'testimonial_category', module.sel_testimonial_category) %}
								{% set testimonial_columns = "carousel-item" %}
								<div class="row no-margin padding-gutter flex flex-center top-margin">
									<div class="col-xs-24 col-m-20 col-l-14">
										<div class="owl-carousel testimonial-carousel disable-default-styles">
											{% for testimonial in testimonials %}
												{% if testimonial %}
													<div class="{{ testimonial_columns }}">
														{% include 'box-testimonial.twig' %}
													</div>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}

							{% if module.cmb_full_width_bottom %}
								<div class="row no-margin padding-gutter flex flex-center top-margin">
									<div class="col-xs-24">
										<div class="wrapper narrow overflowing no-padding text-center">
											{{ module.cmb_full_width_bottom|wysiwyg }}
										</div>
									</div>
								</div>
							{% endif %}
							
							{% if module.cmb_full_width_bottom_no_wrap %}
								<div class="row no-margin padding-gutter flex flex-center top-margin">
									<div class="col-xs-24">
										{{ module.cmb_full_width_bottom_no_wrap|wysiwyg }}
									</div>
								</div>
							{% endif %}

						{# Edit button #}
						{% if user_can_edit %}
							<div class="module_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles module_edit_button_trigger" target="_blank" href="{{ module.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
						{% endif %}
		
					</div>
				</div>
			</div>
			{% if is_inset_layout %}
			</div>
			{% endif %}
			{% if module.cmb_module_additional_graphic %} 
				{% set this_module_additional_graphic = module.cmb_module_additional_graphic|image %}
				<div class="module-graphic-container"><img loading="lazy" src="{{ this_module_additional_graphic }}" height="{{ this_module_additional_graphic.height }}" width="{{ this_module_additional_graphic.width }}"></div>
			{% endif %}
		</section>
	{% endif %}{# Check any of the required fields #}
{% endif %}