{# template module to show attached content_modules #}
{% set cmb_content_modules = fn('unserialize_field_group', post.cmb_content_modules) %}
{% if cmb_content_modules %}
	<div id="individual-content_module-container-bottom" class="content_modules-container">
		{% for content_module in cmb_content_modules %}
			{% include 'module/content_module.twig' %}
		{% endfor %}
	</div>
{% endif %}