{# template module to show attached content_modules #}
{% set cmb_content_modules_top = fn('unserialize_field_group', post.cmb_content_modules_top) %}
{% if cmb_content_modules_top %}
	<div id="individual-content_module-container-top" class="content_modules-container">
		{% for content_module in cmb_content_modules_top %}
			{% include 'module/content_module.twig' %}
		{% endfor %}
	</div>
{% endif %}