{# Modes
	Mode 1 = show only language code (default) 
	Mode 2 = show only language flag 
	Mode 3 = show language code + flag 
	Mode 4 = show native name + flag 
	Mode 5 = show native name

	Usage: 
	1. Include required css
	2. Add wpml languages into timber context:
		-----------------------------------------------------
		add_filter( 'timber_context', 'childtheme_context' );
		function childtheme_context( $context ) {

			if( function_exists('icl_get_languages') ){
				$context['lang'] = ICL_LANGUAGE_CODE;
				$context['languages'] = icl_get_languages();
			}
			
			return $context;
		}
		-----------------------------------------------------
	3. Include templatepart
	4. (If you use modes 2,3 or 4, also include flag PNG images)

	{% include 'module/language_dropdown.twig' with {'id':'header-language-switcher', 'data':languages, 'mode':'2'} %}

	@author Matu|Planeetta
#}
{% if data is not empty %}
	{% set dropdown_mode = mode|default('1') %}
	<div id="{{id}}" class="custom-dropdown mode-{{dropdown_mode}}">
		<button class="language-dropdown-button {{id}}-dropdown" data-target="#{{id}}-dropdown-items" aria-expanded="false" aria-label="{{ site.translate('Current language is') }} {{ active_language.native_name }}. {{ site.translate('Change the language?') }}">
			{% if dropdown_mode == '5' %}
				<span class="language-name">{{ active_language.native_name }}</span>
			{% elseif dropdown_mode == '4' %}
				<img src="{{ theme.link }}/assets/img/flags/{{ active_language.code|lower }}.png" alt="{{ active_language.native_name }}" style="width:24px;" width="24" height="16">&nbsp;&nbsp;<span class="language-name">{{ active_language.native_name }}</span>
			{% elseif dropdown_mode == '3' %}
				<img src="{{ theme.link }}/assets/img/flags/{{ active_language.code|lower }}.png" alt="{{ active_language.code }}" style="width:24px;" width="24" height="16">&nbsp;&nbsp;<span class="language-name">{{ active_language.code|upper }}</span>
			{% elseif dropdown_mode == '2' %}
				<img src="{{ theme.link }}/assets/img/flags/{{ active_language.code|lower }}.png" alt="{{ active_language.code }}" style="width:24px;" width="24" height="16">
			{% else %}
				<span class="language-name">{{ lang|upper }}</span>
			{% endif %}
		</button>
		<ul id="{{id}}-dropdown-items" class="dropdown-items" aria-expanded="false">
			{% for item in data %}
				{% if not item.active %}
				<li class="dropdown_item" data-id="{{ loop.index }}" data-value="{{ item.url }}">
					<a href="{{ item.url }}" title="{{ item.native_name }}" class="dropdown_item_title">
						{% if dropdown_mode == '5' %}
							<span class="language-name">{{ item.native_name }}</span>
						{% elseif dropdown_mode == '4' %}
							<img src="{{ theme.link }}/assets/img/flags/{{ item.code|lower }}.png" alt="{{ item.native_name }}" style="width:24px;" width="24" height="16">&nbsp;&nbsp;<span class="language-name">{{ item.native_name }}</span>
						{% elseif dropdown_mode == '3' %}
							<img src="{{ theme.link }}/assets/img/flags/{{ item.code|lower }}.png" alt="{{ item.code }}" style="width:24px;" width="24" height="16">&nbsp;&nbsp;<span class="language-name">{{ item.code|upper }}</span>
						{% elseif dropdown_mode == '2' %}
							<img src="{{ theme.link }}/assets/img/flags/{{ item.code|lower }}.png" alt="{{ item.code }}" style="width:24px;" width="24" height="16">
						{% else %}
							<span class="language-name">{{ item.code|upper }}</span>
						{% endif %}
					</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endif %}