{% if post.cmb_cols_2_group or post.cmb_cols_2_bottom_content %}
	{% set cmb_cols_2_group = fn('unserialize_field_group', post.cmb_cols_2_group) %}
	{% if cmb_cols_2_group %}
		<div class="cf"></div>
		<div id="subpage_cols2_boxes_container">
			<div class="page-columns">
				<div class="row no-margin padding-gutter flex top-margin">
					{% for cmb_col_2 in cmb_cols_2_group %}
						
						{% if cmb_col_2.cmb_cols_2_content_1 %}
							<div class="col-xs-24 {% if cmb_col_2.cmb_cols_2_content_2 %} {% if post.cmb_alternative_columns %} col-m-9 {% else %} col-m-12 {% endif %} {% endif %}">
								<div class="services-lift-box-content">
									{{ cmb_col_2.cmb_cols_2_content_1|wysiwyg }}
								</div>
							</div>
						{% endif %}

						{% if cmb_col_2.cmb_cols_2_content_2 %}
							<div class="col-xs-24 {% if post.cmb_alternative_columns %} col-m-15 {% else %} col-m-12 {% endif %}">
								<div class="services-lift-box-content">
									{{ cmb_col_2.cmb_cols_2_content_2|wysiwyg }}
								</div>
							</div>
						{% endif %}

					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if post.cmb_cols_2_bottom_content %}
		<div class="subpage_cols2_bottom_text bottom_textarea">
			{{ post.cmb_cols_2_bottom_content|wysiwyg }}
		</div>
	{% endif %}
{% endif %}