{% if post.cmb_cols_3_group or post.cmb_cols_3_bottom_content %}
	{% set cmb_cols_3_group = fn('unserialize_field_group', post.cmb_cols_3_group) %}
	{% if cmb_cols_3_group %}
		<div class="cf"></div>
		<div id="subpage_cols3_boxes_container">
			<div class="page-columns">
				<div class="row no-margin padding-gutter flex top-margin">
					{% for cmb_col_3 in cmb_cols_3_group %}
						
						{% if cmb_col_3.cmb_cols_3_content_1 %}
							<div class="col-xs-24 col-m-12 col-l-8">
								{% if cmb_col_3.cmb_cols_3_image_1 %}
									{% set cmb_cols_3_image_1 = cmb_col_3.cmb_cols_3_image_1|image %}
									<div class="services-lift-box-image-container">
										<!-- <span class="services-lift-box-image-elm" style="background-image:url({{ cmb_cols_3_image_1 }});"></span> -->
										<img src="{{ cmb_cols_3_image_1 }}" srcset="{{ cmb_cols_3_image_1.srcset }}" alt="{{ cmb_cols_3_image_1.alt|default(post.title) }}">
									</div>
								{% endif %}
								<div class="services-lift-box-content">
									{{ cmb_col_3.cmb_cols_3_content_1|wysiwyg }}
								</div>
							</div>
						{% endif %}

						{% if cmb_col_3.cmb_cols_3_content_2 %}
							<div class="col-xs-24 col-m-12 col-l-8">
								{% if cmb_col_3.cmb_cols_3_image_2 %}
									{% set cmb_cols_3_image_2 = cmb_col_3.cmb_cols_3_image_2|image %}
									<div class="services-lift-box-image-container">
										<!-- <span class="services-lift-box-image-elm" style="background-image:url({{ cmb_cols_3_image_2 }});"></span> -->
										<img src="{{ cmb_cols_3_image_2 }}" srcset="{{ cmb_cols_3_image_2.srcset }}" alt="{{ cmb_cols_3_image_2.alt|default(post.title) }}">
									</div>
								{% endif %}
								<div class="services-lift-box-content">
									{{ cmb_col_3.cmb_cols_3_content_2|wysiwyg }}
								</div>
							</div>
						{% endif %}

						{% if cmb_col_3.cmb_cols_3_content_3 %}
							<div class="col-xs-24 col-m-12 col-l-8">
								{% if cmb_col_3.cmb_cols_3_image_3 %}
									{% set cmb_cols_3_image_3 = cmb_col_3.cmb_cols_3_image_3|image %}
									<div class="services-lift-box-image-container">
										<!-- <span class="services-lift-box-image-elm" style="background-image:url({{ cmb_cols_3_image_3 }});"></span> -->
										<img src="{{ cmb_cols_3_image_3 }}" srcset="{{ cmb_cols_3_image_3.srcset }}" alt="{{ cmb_cols_3_image_3.alt|default(post.title) }}">
									</div>
								{% endif %}
								<div class="services-lift-box-content">
									{{ cmb_col_3.cmb_cols_3_content_3|wysiwyg }}
								</div>
							</div>
						{% endif %}

					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if post.cmb_cols_3_bottom_content %}
		<div class="subpage_cols3_bottom_text bottom_textarea">
			{{ post.cmb_cols_3_bottom_content|wysiwyg }}
		</div>
	{% endif %}
{% endif %}