{# Usage: {% include 'module/slider_module.twig' with { 'slides':slides, 'slider_classes':page_slider_classes} %} #}
{% if slides %}
	<div class="carousel-outer-container">
		<div class="owl-carousel top-carousel disable-default-styles {{ slider_classes }}">
			{% for slide in slides %}
				<div class="single-slide{% if slide.content %} slide-has-content{% endif %} {{ slide.cmb_slide_theme }}">
					{% if user_can_edit %}
						<div class="slide_edit_button hide_if_not_logged_in"><a class="edit_button_styles" target="_blank" href="{{ slide.edit_link }}">{{ site.translate('Edit slide') }} <i class="fa fa-cog"></i></a></div>
					{% endif %}
					<div class="carousel-flex-container flex flex-middle flex-rows flex-nowrap relative">
						<div class="slider-image-container">
							{% if slide.thumbnail.src %}
								<div class="slider-image owl-lazy" data-src="{{ slide.thumbnail.src|resize(1920) }}"></div>
							{% endif %}
							<div class="slider-overlay"></div>
						</div>
						{% if slide.content %}
							<div class="slider-content-container div-center">
								<div class="wrapper wide-alt overflowing">
									<div class="slider-content add-top-heading-border">
										{{ slide.content }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if slide.cmb_carousel_mascot %}
							<div class="slider-mascot-image">
								<img src="{{ slide.cmb_carousel_mascot|image|resize(980,0) }}" alt="">
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}