{% extends "base.twig" %}
{% block content %}
	<section>
		{% if current_term.description %}
			<div class="term-content">
				{{ current_term.description|wysiwyg }}
			</div>
		{% endif %}
		<div class="row no-margin padding-gutter">
			{% for post in posts %}
				<div class="col-xs-24 col-m-12">
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				</div>
			{% else %}
				<div class="col-xs-24">
					<p>{{ site.translate('There are no articles to show in this category.') }}</p>
				</div>
			{% endfor %}
		</div>
		{% include 'parts/pagination.twig' %}
	</section>
{% endblock %}