{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" {% if template_file %}data-template_file="{{ template_file }}"{% endif %}>

		<div class="header-placeholder"></div>
		<div class="header-fixed new-order-spa-header secondary-bg">
			{% block page_top %}
				<a href="#skip-navigation" class="skip-to-content-link link-button element-invisible element-focusable">{{ site.translate('Skip to content') }}</a>
				<div id="page-top">
					<div class="wrapper wide overflowing cf">
						<div class="wrapper-padding-override">
							<div class="flex flex-middle">
								<div class="page-top-content-left cf">
									<button aria-label="{{ site.translate('Menu') }}" class="open-mobile-nav toggle-mobilenav to-l"><span class="button-text">{{ site.translate('Menu') }}</span> <span class="mobile-nav-button-html"><span class="mobilenav-button-lines top"></span><span class="mobilenav-button-lines middle"></span><span class="mobilenav-button-lines bottom"></span></span></button>
									<div class="from-l">
										<div class="header-top-item page-top-left-widgets">
											{{ site.get_widgetarea('page-top-left') }}
										</div>
									</div>
								</div>
								<div class="page-top-content-middle cf to-l">
									<a id="logo" class="relative" href="{{ site.url }}" title="Websupport">
										{% include "parts/_logo-big.twig" with { 'classes':'' } %}
									</a>
								</div>
								<div class="page-top-content-right cf">
									<div class="to-l cart-widget-area">
										{{ site.get_widgetarea('header-right') }}
									</div>
									<div class="from-l">
										<div class="header-top-item">{% include 'module/language_dropdown.twig' with {'id':'header-language-switcher', 'data':languages, 'mode':'1'} %}</div>
										<div class="header-top-item page-top-right-widgets">{{ site.get_widgetarea('header-content') }}</div>
									</div>
								</div>
								{# {% do action('header_login_buttons') %} #}
							</div>
						</div>
					</div>
				</div>
			{% endblock %}

			<header id="header">
				<div class="header-bg-container">
					<div class="header-outer-container">
						<div class="wrapper wide cf overflowing">
							<div class="wrapper-padding-override">
								{% block header %}
									<div class="header-inner-container flex flex-nowrap">
										<div class="header-left flex flex-middle">
											<a id="logo" class="relative" href="{{ site.url }}" title="Websupport">
												{% include "parts/_logo-big.twig" with { 'classes':'from-l' } %}
												{# {% include "parts/_logo-small.twig" with { 'classes':'to-l' } %} #}
											</a>
										</div>
										<div class="header-middle">
											<nav id="main" class="horizontal mega-dropdown cf">
												{{ main_menu }}
											</nav>
										</div>
										<div class="header-right cart-widget-area">
											{{ site.get_widgetarea('header-right') }}
										</div>
									</div>
								{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>

		{# Anchor for skipping menus #}
		<div id="skip-navigation"></div>

		{% block notice_area %}
			{% if show_notice %}
				<div class="banner-notice-container {{ post.cmb_notice_theme|default('primary-bg') }} ">
					<div class="wrapper wide cf">
						<div class="flex flex-middle{% if notice.cmb_center %} flex-center{% endif %} {% if notice.thumbnail %} notice-has-thumb{% endif %}">
							{# <div class="notice-item"><span class="title">{{ notice.post_title }}</span></div> #}
							<div class="notice-item{% if notice.cmb_inline %} inline-elements{% endif %}">
								<div class="notice-item-content">{{ notice.post_content|wysiwyg }}</div>
								{% if notice.thumbnail %}
									<a href="{{ notice.thumbnail }}" class="lightbox notice-thumbnail"><img loading="lazy" src="{{ notice.thumbnail|resize(300,180, "top") }}" alt="{{ notice.thumbnail.alt }}"></a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endblock %}

		{% block after_header %}
			{% if post.cmb_top_bg_image or post.cmb_top_content or post.cmb_top_bg_video %}
				{% if post.cmb_overlapping_image %} <div class="overlapping-main-image-area"> {% endif %}
				<div 
					id="main-image-container"
					class="relative {{ post.cmb_top_bg_color|default('dark-theme') }} {% if post.cmb_overlapping_area_enabled %} overlapping_area_enabled {{ overlap_amount }} {% endif %} {% if post.cmb_overlapping_image %} overlapping_image_enabled{% endif %} {% if post.cmb_top_bg_image %} has_bg_image{% endif %}{% if post.cmb_top_bg_video %} has_bg_video{% endif %}"

					{% if post.cmb_top_bg_image %}
						style="background-image: url({{ post.cmb_top_bg_image|image }});"
					{% endif %}>

					<span class="bg-overlay"></span>

					{% if transparent_header %}
						<div class="header-placeholder"></div>
					{% endif %}

					{% if post.cmb_top_bg_video %}
						<div id="main-image-video-container">
							{# VIDEO OPTION #}
							{{ post.cmb_top_bg_video }}
						</div>
					{% endif %}

					<div class="hero-image-wrapper wrapper wide-alt overflowing">
						<div class="row no-margin padding-gutter no-margin-bottom main-image-flex-container flex flex-middle {% if post.cmb_centered_text %} flex-center{% endif %}">
							{% if post.cmb_top_content %}
								<div class="col-xs-24 col-m-14">
									<div class="hero-image-content-area {% if post.cmb_centered_text %} text-center{% endif %} {% if post.cmb_main_image_ratings_text and post.cmb_main_image_ratings_stars != 0 %} has-ratings{% endif %}">
										<div id="main-image-content">
											{{ post.cmb_top_content|wysiwyg }}
										</div>
										{% if post.cmb_main_image_content_module_id %}
											{% set content_module = fn('get_post', post.cmb_main_image_content_module_id ) %}
											{% if content_module.cmb_module_is_domain_search %}
												{% include 'module/content_module.twig' with { 'content_module':content_module, 'theme_override':true, 'wrapper_override':true } %}
											{% endif %}
										{% endif %}
										{% if post.cmb_feature_icon_1 or post.cmb_feature_icon_2 or post.cmb_feature_icon_3 or post.cmb_feature_icon_text_1 or post.cmb_feature_icon_text_2 or post.cmb_feature_icon_text_3 %}
											<div id="main-image-features-container">
												<div class="row no-margin padding-gutter flex">
													{% if post.cmb_feature_icon_1 or post.cmb_feature_icon_text_1 %}
														<div class="main-image-feature flexible-col">
															<div class="flex flex-nowrap flex-middle">
																{% if post.cmb_feature_icon_1 %}
																	<div class="main-image-feature-icon">
																		{{ post.cmb_feature_icon_1 }}
																	</div>
																{% endif %}
																{% if post.cmb_feature_icon_text_1 %}
																	<div class="main-image-feature-text">
																		{{ post.cmb_feature_icon_text_1 }}
																	</div>
																{% endif %}
															</div>
														</div>
													{% endif %}
													{% if post.cmb_feature_icon_2 or post.cmb_feature_icon_text_2 %}
														<div class="main-image-feature flexible-col">
															<div class="flex flex-nowrap flex-middle">
																{% if post.cmb_feature_icon_2 %}
																	<div class="main-image-feature-icon">
																		{{ post.cmb_feature_icon_2 }}
																	</div>
																{% endif %}
																{% if post.cmb_feature_icon_text_2 %}
																	<div class="main-image-feature-text">
																		{{ post.cmb_feature_icon_text_2 }}
																	</div>
																{% endif %}
															</div>
														</div>
													{% endif %}
													{% if post.cmb_feature_icon_3 or post.cmb_feature_icon_text_3 %}
														<div class="main-image-feature flexible-col">
															<div class="flex flex-nowrap flex-middle">
																{% if post.cmb_feature_icon_3 %}
																	<div class="main-image-feature-icon">
																		{{ post.cmb_feature_icon_3 }}
																	</div>
																{% endif %}
																{% if post.cmb_feature_icon_text_3 %}
																	<div class="main-image-feature-text">
																		{{ post.cmb_feature_icon_text_3 }}
																	</div>
																{% endif %}
															</div>
														</div>
													{% endif %}
												</div>
											</div>
										{% endif %}
										{% if post.cmb_main_image_ratings_text and post.cmb_main_image_ratings_stars != 0 %}
											<div id="main-image-ratings-outer-container" class="flex flex-middle flex-nowrap">
												<div id="main-image-ratings-container" class="flex flex-middle">
													<div class="ratings-stars-container">

														{% if post.cmb_main_image_ratings_stars > 1 %}<span class="fas fa-star"></span>
														{% else %}<span class="far fa-star"></span>
														{% endif %}

														{% if post.cmb_main_image_ratings_stars == 1.5 %}<span class="fas fa-star-half-alt"></span>
														{% elseif post.cmb_main_image_ratings_stars >= 2 %}<span class="fas fa-star"></span>
														{% else %}<span class="far fa-star"></span>
														{% endif %}

														{% if post.cmb_main_image_ratings_stars == 2.5 %}<span class="fas fa-star-half-alt"></span>
														{% elseif post.cmb_main_image_ratings_stars >= 3 %}<span class="fas fa-star"></span>
														{% else %}<span class="far fa-star"></span>
														{% endif %}

														{% if post.cmb_main_image_ratings_stars == 3.5 %}<span class="fas fa-star-half-alt"></span>
														{% elseif post.cmb_main_image_ratings_stars >= 4 %}<span class="fas fa-star"></span>
														{% else %}<span class="far fa-star"></span>
														{% endif %}
														
														{% if post.cmb_main_image_ratings_stars == 4.5 %}<span class="fas fa-star-half-alt"></span>
														{% elseif post.cmb_main_image_ratings_stars == 5 %}<span class="fas fa-star"></span>
														{% else %}<span class="far fa-star"></span>
														{% endif %}
													</div>
													<div class="ratings-text-container">
														{{ post.cmb_main_image_ratings_text }}
													</div>
												</div>
												{% if  post.cmb_main_image_ratings_text_right %}
													<div id="main-image-ratings-text-border" class="">
													</div>
													<div id="main-image-ratings-text-container" class="">
														{{ post.cmb_main_image_ratings_text_right }}
													</div>
												{% endif %}
											</div>
										{% endif %}
									</div>
								</div>
							{% endif %}
							{% if post.cmb_top_add_image %}
								<div class="from-m col-m-10 relative m-right {% if post.cmb_top_add_image_align_bottom %} flex-bottom{% endif %}">
									{% set cmb_top_add_image = post.cmb_top_add_image|image %}
									<div class="hero-add-image">
										<img loading="lazy" src="{{ cmb_top_add_image }}" height="{{ cmb_top_add_image.height }}" width="{{ cmb_top_add_image.width }}" draggable="false" alt="{{ cmb_top_add_image.alt|default(post.title) }}">
										{# <img loading="lazy" src="{{ post.cmb_top_add_image|image }}" alt="{{ post.title }}"> #}
									</div>
								</div>
							{% endif %}
						</div>

					</div>

				</div>
				{% if post.cmb_overlapping_image %} </div> {% endif %}
			{% else %}
				{% include 'module/slider_module.twig' with { 'slides':slides, 'slider_classes':page_slider_classes} %}
			{% endif %}
		{% endblock %}

		<div id="outer-content-area-container" class="{{ outer_content_area_class }}">
			
			{% block before_body_wrapper %}
				{# Possible to use these blocks in other templates #}
			{% endblock %}

			<div id="main-content-area-outer" class="{{ main_content_area_class|default('dark-theme') }}">
				<div id="main-content-area-wrapper" class="{{ wrapper_class|default('wrapper') }}">

					{% block body %}
						<div role="main" id="main-content-area">
							{% if not post.password_required %}
								{% block maincontentarea %}
								
									{% if title %}<h1>{{title}}</h1>{% endif %}
									{% block content %}
										{# Main content area that is used in other templates #}
									{% endblock %}

								{% endblock %}
							{% else %}
								<div class="password-required-form-container">
									{{ fn('get_the_password_form') }}
								</div>
							{% endif %}
						</div>
					{% endblock %}

				</div>
			</div>

			{% block after_body_wrapper %}
				{# Possible to use these blocks in other templates #}
			{% endblock %}

		</div>

		{% block before_footer %}
			{# Possible to use these blocks in other templates #}
		{% endblock %}

		{% block footer %}
			<div class="background-bg">
				{# <div class="wrapper wide"><hr class="footer-border"></div> #}
				<footer id="footer">
					<div class="wrapper wide">
						<div class="footer-content">
							<div class="row no-margin padding-gutter flex">
								<div class="col-xs-24 col-l-14 col-xxl-15">
									<div class="footer-top-widget-container">
										{{ site.get_widgetarea('footer-content') }}
									</div>
									<div class="row no-margin padding-gutter flex">
										<div class="flexible-col footer-menu-left">
											<div class="footer-menu-inner">
												<nav id="footer-nav">{{ menu_footer.render_navigation(2) }}</nav>
											</div>
										</div>
										<div class="flexible-col footer-menu-middle">
											<div class="footer-menu-inner">
												{{ site.get_widgetarea('footer-links-middle') }}
											</div>
										</div>
										<div class="flexible-col footer-menu-right">
											<div class="footer-menu-inner">
												{{ site.get_widgetarea('footer-links') }}
												{{ site.get_widgetarea('some') }}
											</div>
										</div>
									</div>
									<div class="bottom-aligned">
										{% include 'module/language_dropdown.twig' with {'id':'footer-language-switcher', 'data':languages, 'mode':'4'} %}
									</div>
								</div>
								<div class="col-xs-24 col-l-10 col-xxl-9">
									<div class="footer-help-section">
										{{ site.get_widgetarea('footer-help') }}
									</div>
								</div>
							</div>
						</div>
						<div class="copyright-container cf">
							<div id="copyright">{% include "parts/_logo-big.twig" with { 'classes':'footer-logo' } %} <span class="footer-copyright-text">&copy; Copyright {{ "now"|date('Y') }}</span> <span class="separator"></span> <span class="footer-loopia-group-text">{{ site.translate('Part of Loopia Group') }}</span></div>
							<div class="copy-left">
								<div class="widgets-with-separator-list">{{ footer_links }}</div>
							</div>
							<div class="copy-right widgets-with-separator-list">
								{{ site.get_widgetarea('footer-copy-right') }}
							</div>
						</div>
					</div>
				</footer>
			</div>
		{% endblock %}		

		{#% include 'navigation/fixed-menu.twig' %#}
		{% include 'navigation/mobilenav.twig' %}
		
		{{ function('wp_footer') }}

		{% block after_wp_footer %}
			{# Possible to use these blocks in other templates #}
		{% endblock %}

	</body>
</html>