{% if domain_card %}
	{# {% set domain_card_thumbnail = domain_card.thumbnail %} #}
	<div class="domain_card-box-container rounded {{ domain_card_theme|default('secondary-theme-m1') }} {% if alternative_layout %} alternative_layout {% else %}  {% endif %} {% if domain_card_thumbnail %} domain_card_has_thumbnail {% endif %} {% if user_can_edit %} editable_area{% endif %}">

		{% if user_can_edit %}
			<div class="domain_card_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles domain_card_edit_button_trigger" target="_blank" href="{{ domain_card.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
		{% endif %}
		<div class="inner-domain_card-box-container">
			{# <h2 class="domain_card-title">{{ domain_card.title }}</h2> #}
			{{ domain_card.content }}
		</div>
		{% if alternative_layout %}
			<div class="domain_card-num">
			{% if index_no < 10 %}0{% endif %}{{ index_no }}
			</div>
		{% endif %}
	</div>
{% endif %}