{% if testimonial and testimonial.content %}
	{% set testimonial_thumbnail = testimonial.thumbnail %}
	<div class="testimonial-box-container {% if user_can_edit %} editable_area{% endif %} {% if testimonial_thumbnail %} has_thumbnail{% endif %}">
		{% if user_can_edit %}
			<div class="testimonial_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles testimonial_edit_button_trigger" target="_blank" href="{{ testimonial.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
		{% endif %}
		{% if testimonial.content %}
			<div class="testimonial-content text-center">
				{% if testimonial_thumbnail %}
					<div class="testimonial_thumbnail-container">
						<img src="{{ testimonial_thumbnail|resize(100,100) }}" alt="{{ testimonial_thumbnail.alt|default(testimonial.title) }}">
					</div>
				{% endif %}
				{{ testimonial.content }}
			</div>
		{% endif %}
	</div>
{% endif %}