{% if packet %}
	{# {% set packet_thumbnail = packet.thumbnail %} #}
	<div class="packet-box-container flex rounded {% if packet.cmb_highlight %} highlighted secondary-theme-m1 white-color {% else %} white-theme{% endif %}{% if user_can_edit %} editable_area{% endif %}{% if packet_thumbnail %} has_thumbnail{% endif %}{% if not packet.cmb_bottom_content %} no_bottom_content{% endif %}">
		{% if user_can_edit %}
			<div class="packet_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles packet_edit_button_trigger" target="_blank" href="{{ packet.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
		{% endif %}
		{% if packet.cmb_badge %}
			<div class="packet_badge-container">
				<div class="badge-inner">{{ packet.cmb_badge }}</div>
			</div>
		{% endif %}
		{% if packet_thumbnail %}
			<div class="packet_thumbnail-container">
				<img src="{{ packet_thumbnail }}" srcset="{{ packet_thumbnail.srcset }}" alt="{{ packet_thumbnail.alt|default(packet.title) }}">
			</div>
		{% endif %}
		<div class="inner-packet-box-container">
			<div class="packet-top-content">
				{% if packet.content %}
					<div class="packet-content">
						{{ packet.content }}
					</div>
				{% endif %}
				{% if packet.cmb_feature_1_name and packet.cmb_feature_1_rating != 'hide' %}
					<div class="feature-container feature-1-container">
						<div class="feature-text-container">
							{{ packet.cmb_feature_1_name }}
						</div>
						<div class="feature-bars-container cf">
							{% if packet.cmb_feature_1_rating == 0.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_1_rating >= 1 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_1_rating == 1.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_1_rating >= 2 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_1_rating == 2.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_1_rating >= 3 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_1_rating == 3.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_1_rating >= 4 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}
							
							{% if packet.cmb_feature_1_rating == 4.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_1_rating == 5 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}
						</div>
					</div>
				{% endif %}
				{% if packet.cmb_feature_2_name and packet.cmb_feature_2_rating != 'hide' %}
					<div class="feature-container feature-2-container">
						<div class="feature-text-container">
							{{ packet.cmb_feature_2_name }}
						</div>
						<div class="feature-bars-container cf">
							{% if packet.cmb_feature_2_rating == 0.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_2_rating >= 1 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_2_rating == 1.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_2_rating >= 2 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_2_rating == 2.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_2_rating >= 3 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_2_rating == 3.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_2_rating >= 4 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}
							
							{% if packet.cmb_feature_2_rating == 4.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_2_rating == 5 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}
						</div>
					</div>
				{% endif %}
				{% if packet.cmb_feature_3_name and packet.cmb_feature_3_rating != 'hide' %}
					<div class="feature-container feature-3-container">
						<div class="feature-text-container">
							{{ packet.cmb_feature_3_name }}
						</div>
						<div class="feature-bars-container cf">
							{% if packet.cmb_feature_3_rating == 0.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_3_rating >= 1 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_3_rating == 1.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_3_rating >= 2 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_3_rating == 2.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_3_rating >= 3 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}

							{% if packet.cmb_feature_3_rating == 3.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_3_rating >= 4 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}
							
							{% if packet.cmb_feature_3_rating == 4.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
							{% elseif packet.cmb_feature_3_rating == 5 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
							{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
							{% endif %}
						</div>
					</div>
				{% endif %}
				{% if packet.cmb_price %}
					<div class="packet-price-container">
						{{ packet.cmb_price|wysiwyg }}
					</div>
				{% endif %}
				{% if packet.cmb_purchase %}
					<div class="packet-purchase-content">
						{{ packet.cmb_purchase|wysiwyg }}
					</div>
				{% endif %}
			</div>
			{% if packet.cmb_bottom_content %}
				<div class="packet-bottom-content">
					{{ packet.cmb_bottom_content|wysiwyg }}
				</div>
			{% endif %}
		</div>
		{% if packet.cmb_bottom_content_offer %}
			<div class="packet-bottom-content-offer rounded {% if packet.cmb_highlight %} secondary-theme-m2 white-color {% else %} secondary-theme-m5{% endif %}">
				{{ packet.cmb_bottom_content_offer|wysiwyg }}
			</div>
		{% endif %}
	</div>
{% endif %}