{% if packet %}
	{% set custom_package = false %}
	{% if packet.cmb_custom_package %}{% set custom_package = true %}{% endif %}

	{% if packet.cmb_cpu and packet.cmb_ram and packet.cmb_disk and packet.cmb_os_group %}
		{% set package_id = 'vps_package_' ~ packet.id %}
		{% set package_ram = fn('ws_gbtomb',packet.cmb_ram) %}
		{% set package_disk = fn('ws_gbtomb',packet.cmb_disk) %}
		{% set add_to_cart_button_text = packet.cmb_purchase_button_text|default('') %}
		{% set package_price_period_text = packet.cmb_package_price_period_text|default('/'~site.translate('month')) %}
		{# {% set packet_thumbnail = packet.thumbnail %} #}
		<div class="packet-box-container vps-package flex rounded {% if packet.cmb_highlight %} highlighted secondary-theme-m1 white-color {% else %} white-theme{% endif %}{% if user_can_edit %} editable_area{% endif %}{% if packet_thumbnail %} has_thumbnail{% endif %}{% if not packet.cmb_bottom_content %} no_bottom_content{% endif %}" >
			{% if user_can_edit %}
				<div class="packet_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles packet_edit_button_trigger" target="_blank" href="{{ packet.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
			{% endif %}
			{% if packet.cmb_badge %}
				<div class="packet_badge-container">
					<div class="badge-inner">{{ packet.cmb_badge }}</div>
				</div>
			{% endif %}
			{% if packet_thumbnail %}
				<div class="packet_thumbnail-container">
					<img src="{{ packet_thumbnail }}" srcset="{{ packet_thumbnail.srcset }}" alt="{{ packet_thumbnail.alt|default(packet.title) }}">
				</div>
			{% endif %}
			<div class="inner-packet-box-container">
				<div class="packet-top-content">
					{% if packet.content %}
						<div class="packet-content">
							{{ packet.content }}
						</div>
					{% endif %}
					{% if packet.cmb_cpu and packet.cmb_ram and packet.cmb_disk and not custom_package %}
						<div class="packet-vps-specifications">
							<div class="vps-cpu-container">
								<span class="vps-cpu-count vps-specifications-spec">{{ packet.cmb_cpu }}x</span> 
								<span class="vps-cpu-title vps-specifications-title">{{ site.translate('vCPU') }}</span>
							</div>
							<div class="vps-ram-container">
								<span class="vps-ram-count vps-specifications-spec">{{ packet.cmb_ram }} {{ site.translate('GB') }}</span> 
								<span class="vps-ram-title vps-specifications-title">{{ site.translate('RAM') }}</span>
							</div>
							<div class="vps-disk-container">
								<span class="vps-disk-count vps-specifications-spec">{{ packet.cmb_disk }} {{ site.translate('GB') }}</span> 
								<span class="vps-disk-title vps-specifications-title">{{ site.translate('SSD') }} {{ site.translate('Storage') }}</span>
							</div>
						</div>
					{% endif %}
					{% if not custom_package %}
						<div class="packet-vps-os-select-container">
							<h6 class="packet-select-os-title"><span class="text">{{ packet.cmb_os_select_title|default(site.translate('Operating System')) }}</span></h6>
							{% set osversions = site.get_posts_by_post_type('vps_os', 30, 'menu_order', 'DESC', 'vps_os_category', packet.cmb_os_group) %}
							<select class="packet-vps-os-select white-theme rounded-theme" data-target="#{{ package_id }}">
								{% for osversion in osversions %}
									<option value="{{ osversion.cmb_name }}" data-ostemplate="{{ osversion.cmb_template }}">{{ osversion.cmb_name }} {{ osversion.cmb_description }}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}
					{% if packet.cmb_feature_1_name and packet.cmb_feature_1_rating != 'hide' %}
						<div class="feature-container feature-1-container">
							<div class="feature-text-container">
								{{ packet.cmb_feature_1_name }}
							</div>
							<div class="feature-bars-container cf">
								{% if packet.cmb_feature_1_rating == 0.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_1_rating >= 1 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_1_rating == 1.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_1_rating >= 2 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_1_rating == 2.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_1_rating >= 3 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_1_rating == 3.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_1_rating >= 4 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}
								
								{% if packet.cmb_feature_1_rating == 4.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_1_rating == 5 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}
							</div>
						</div>
					{% endif %}
					{% if packet.cmb_feature_2_name and packet.cmb_feature_2_rating != 'hide' %}
						<div class="feature-container feature-2-container">
							<div class="feature-text-container">
								{{ packet.cmb_feature_2_name }}
							</div>
							<div class="feature-bars-container cf">
								{% if packet.cmb_feature_2_rating == 0.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_2_rating >= 1 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_2_rating == 1.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_2_rating >= 2 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_2_rating == 2.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_2_rating >= 3 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_2_rating == 3.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_2_rating >= 4 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}
								
								{% if packet.cmb_feature_2_rating == 4.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_2_rating == 5 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}
							</div>
						</div>
					{% endif %}
					{% if packet.cmb_feature_3_name and packet.cmb_feature_3_rating != 'hide' %}
						<div class="feature-container feature-3-container">
							<div class="feature-text-container">
								{{ packet.cmb_feature_3_name }}
							</div>
							<div class="feature-bars-container cf">
								{% if packet.cmb_feature_3_rating == 0.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_3_rating >= 1 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_3_rating == 1.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_3_rating >= 2 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_3_rating == 2.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_3_rating >= 3 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}

								{% if packet.cmb_feature_3_rating == 3.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_3_rating >= 4 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}
								
								{% if packet.cmb_feature_3_rating == 4.5 %}<span class="feature-bar feature-bar-filled-half"><span class="empty"><span class="fill"></span></span></span>
								{% elseif packet.cmb_feature_3_rating == 5 %}<span class="feature-bar feature-bar-filled"><span class="empty"><span class="fill"></span></span></span>
								{% else %}<span class="feature-bar"><span class="empty"><span class="fill"></span></span></span>
								{% endif %}
							</div>
						</div>
					{% endif %}
					{% if packet.cmb_ideal_features_title %}
						<div class="packet-vps-ideal-for">
							<h6 class="packet-ideal-for-title"><span class="text">{{ packet.cmb_ideal_features_title }}</span></h6>
						</div>
					{% endif %}
					{% if packet.cmb_specifications %}
						<div class="packet-purchase-content">
							{{ packet.cmb_specifications|wysiwyg }}
						</div>
					{% endif %}

					<div class="vps-package-price-container cf">
						{# add prefix #}
						<div class="vps-package-price-field"
							data-cpu="{{ packet.cmb_cpu }}" 
							data-ram="{{ packet.cmb_ram }}" 
							data-disk="{{ packet.cmb_disk }}" 
						>
							<span class="price_prefix">{{ packet.cmb_package_price_prefix }}</span>
							<span class="lgpi_price_inner_container {% if package_campaign_active %} campaign_active{% endif %}">
								<span class="amount lgpi_price_excluding_vat">
									<span class="lgpi_price_regular"></span>
									{% if package_campaign_active %}
									<span class="lgpi_price_campaign"></span>
									{% endif %}
								</span>
								<span class="amount lgpi_price_including_vat">
									<span class="lgpi_price_regular"></span>
									{% if package_campaign_active %}
									<span class="lgpi_price_campaign"></span>
									{% endif %}
								</span>
							</span>

							<span class="price_currency">{{currency_sym}}</span> 
							<small class="price_period">{{ package_price_period_text }}</small>
						</div>
						{# product="vps" name="myownuniqueserver" osname="Ubuntu 18.04" ostemplate="LEMP" capacity="51200" cpu="16" ram="16384" snapshotslot="1" monitoring="false" management="false" backup="false" #}
						{# {{ fn('do_shortcode', '[lgpi-add-to-cart button_text="'~site.translate('Order')~' '~package.name~'" classes="vps-package-purchase vps-package-'~package.name~'" product="'~package.product_code~'" capacity="'~package.quota*1024~'" cpu="'~package.cpu~'" ram="'~package.ram~'" snapshotslot="1" monitoring="false" management="false" backup="false"]') }} #}

					</div>
					{% if not custom_package %}
					{{ fn('do_shortcode', '[lgpi-add-to-cart button_text="'~add_to_cart_button_text~'" id="'~package_id~'" cpu="'~packet.cmb_cpu~'" ram="'~package_ram~'" capacity="'~package_disk~'" snapshotslot="1" classes="link-button-alt" product="vps"]') }}
					{% endif %}
				</div>
				{% if packet.cmb_bottom_content %}
					<div class="packet-bottom-content">
						{{ packet.cmb_bottom_content|wysiwyg }}
					</div>
				{% endif %}
			</div>
			{% if packet.cmb_bottom_content_offer %}
				<div class="packet-bottom-content-offer rounded {% if packet.cmb_highlight %} secondary-theme-m2 white-color {% else %} secondary-theme-m5{% endif %}">
					{{ packet.cmb_bottom_content_offer|wysiwyg }}
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endif %}