{% if service %}
	{# {% set service_thumbnail = service.thumbnail %} #}
	<div class="service-box-container rounded {{ service_theme|default('secondary-theme-m1') }} {% if alternative_layout %} alternative_layout {% else %}  {% endif %} {% if service_thumbnail %} service_has_thumbnail {% endif %} {% if user_can_edit %} editable_area{% endif %}">
		{% if service_thumbnail %}
			<div class="service_thumbnail-container">
				<img src="{{ service_thumbnail }}" srcset="{{ service_thumbnail.srcset }}" alt="{{ service_thumbnail.alt|default(service.title) }}">
			</div>
		{% endif %}
		{% if user_can_edit %}
			<div class="service_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles service_edit_button_trigger" target="_blank" href="{{ service.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
		{% endif %}
		<div class="inner-service-box-container">
			{# <h2 class="service-title">{{ service.title }}</h2> #}
			{{ service.content }}
		</div>
		{% if alternative_layout %}
			<div class="service-num">
			{% if index_no < 10 %}0{% endif %}{{ index_no }}
			</div>
		{% endif %}
	</div>
{% endif %}