<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}">
    <title>{{ wp_title }}</title>
    {# <link rel="preconnect" href="https://fonts.gstatic.com"> #}
    {# <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen"> #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}">
    <meta name="theme-color" content="#2c3742">
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/fonts/websupportsans-regular-webfont.woff2" crossorigin>
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/fonts/websupportsans-bold-webfont.woff2" crossorigin>
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/fonts/websupportsans-extrabold-webfont.woff2" crossorigin>
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/fonts/websupportsans-black-webfont.woff2" crossorigin>
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/lib/fontawesome/webfonts/fa-light-300.woff2" crossorigin>
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/lib/fontawesome/webfonts/fa-regular-400.woff2" crossorigin>
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/lib/fontawesome/webfonts/fa-solid-900.woff2" crossorigin>
    <link rel="preload" as="font" href="{{site.theme.link}}/assets/lib/fontawesome/webfonts/fa-brands-400.woff2" crossorigin>
    {# <link rel="manifest" href="/manifest.webmanifest"> #}
    {{function('wp_head')}}