{% extends "base.twig" %}

{% block before_body_wrapper %}
	{% include "module/content_modules_top.twig" %}
{% endblock %}

{% block body %}
	
	{% if post.content or post.sel_service_category %}
		<div role="main" id="main-content-area">
			<div class="content-wrapper">
				
				<article id="frontpage-inner-main-content-area" class="post-editable-content-area {% if user_can_edit %} editable_area{% endif %}">
					<div class="row no-margin padding-gutter top-margin">
						
						<div class="col-xs-24">
							<div class="wrapper narrow overflowing no-padding text-center add-top-heading-border">
								{{ post.content }}
								{% if user_can_edit %}
									<div class="post_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles post_edit_button_trigger" target="_blank" href="{{ post.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
								{% endif %}
							</div>
						</div>

						{% if post.sel_service_category %}
							<div class="col-xs-24">
								{% set services = site.get_posts_by_post_type('service', 10, 'menu_order', 'DESC', 'service_category', post.sel_service_category) %}
								{% set service_columns = "flexible-col" %}
								<div class="row no-margin padding-gutter flex flex-center top-margin">
									{% for service in services %}
										{% if service %}
											{% set index_no = loop.index %}
											<div class="{{ service_columns }}">
												{% include 'box-service.twig' with { 'index_no':index_no } %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						{% endif %}

					</div>
				</article>
				
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block after_body_wrapper %}
	{% include "module/content_modules_bottom.twig" %}
	{% include "module/content_modules_categories.twig" %}
{% endblock %}