{% extends "base.twig" %}

{% block before_body_wrapper %}
	{% include "module/content_modules_top.twig" %}
{% endblock %}

{% block content %}

	<article class="post-type-{{post.post_type}} article-content post-editable-content-area {% if user_can_edit %} editable_area{% endif %}" id="post-{{post.ID}}">
		
		{% include "parts/page-thumbnail.twig" %}

		<div class="article-body">
			{% block main_container %}
				{% if post.content %}
					<div class="main-content-inner-padding">
						{% if post.centered_content %}
							<div class="wrapper narrow text-center">
								{{ post.content }}
							</div>
						{% else %}
							{{ post.content }}
						{% endif %}
					</div>
				{% endif %}
			{% endblock %}

			{% if post.centered_content %}
				<div class="wrapper text-center">
					{% include "module/page_cols_2.twig" %}
					{% include "module/page_cols_3.twig" %}
					{% include "module/page_cols_4.twig" %}
				</div>
			{% else %}
				{% include "module/page_cols_2.twig" %}
				{% include "module/page_cols_3.twig" %}
				{% include "module/page_cols_4.twig" %}
			{% endif %}


			{% if user_can_edit %}
				<div class="post_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles post_edit_button_trigger" target="_blank" href="{{ post.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
			{% endif %}
		</div>
	</article>
{% endblock %}

{% block after_body_wrapper %}
	{% include "module/content_modules_bottom.twig" %}
	{% include "module/content_modules_categories.twig" %}
{% endblock %}