{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} post-editable-content-area {% if user_can_edit %} editable_area{% endif %}" id="post-{{post.ID}}">

		<h1 class="article-heading">{{post.title}}</h1>

		{% include "parts/_single-meta.twig" with { 'hide_category':false } %}

		{% include 'parts/_single-image.twig' with { 'hide_caption':false, 'resize_x':'800' } %}

		<section class="article-body">
			{{ post.content }}
			{% if user_can_edit %}
				<div class="post_edit_button custom_edit_buttons hide_if_not_logged_in"><a class="edit_button_styles post_edit_button_trigger" target="_blank" href="{{ post.edit_link }}">{{ site.translate('Edit') }} <i class="fa fa-cog"></i></a></div>
			{% endif %}
		</section>
		
		{# {% include "parts/_single-author.twig" %} #}

		{# {% include "parts/_single-list-categories.twig" %} #}

		{% include "parts/_single-list-tags.twig" %}

		{% include "parts/_single-comments-form.twig" %}

	</article>

	{% include "parts/previous-page-link.twig" %}

{% endblock %}
