<article class="tease tease-{{post.post_type}} {{ tease_class|default('default-tease') }}" id="tease-{{post.ID}}">
	{% block content %}
		{% include 'parts/_tease-meta.twig' with { 'hide_category':false } %}
		<h2><a href="{{ post.link }}">{{post.title}}</a></h2>	
		{% set read_more_link_text %}{{ site.translate('Read more') }}{% endset %}
		{% include 'parts/_tease-content.twig' with { 'preview_length':45, 'read_more':true, 'read_more_text':read_more_link_text } %}
	{% endblock %}
</article>