{% set tease_class = 'post-tease-with-content' %}
{% extends "tease.twig" %}

{% block content %}
	<h2><a href="{{ post.link }}">{{post.title}}</a></h2>	
	{% include 'parts/_tease-meta.twig' with { 'hide_category':false } %}
	{% if not hide_image %}{% include 'parts/_tease-image.twig' with { 'hide_caption':true, 'resize_x':'604', 'resize_y':'300' } %}{% endif %}
	{% set read_more_link_text %}{{ site.translate('Read more') }}{% endset %}
	{% include 'parts/_tease-content.twig' with { 'preview_length':45, 'read_more':true, 'read_more_text':read_more_link_text } %}
{% endblock %}