<div class="small-logo-container {{ classes|default('') }}">
	<svg class="svg-icon logo-small" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="m33.01 16.738-3.243 7.028a1.49 1.49 0 0 1-1.38.875 1.485 1.485 0 0 1-1.378-.875l-2.815-6.189-2.815 6.189c-.26.559-.782.875-1.379.875a1.489 1.489 0 0 1-1.38-.875l-2.814-6.189-2.814 6.189c-.262.559-.784.875-1.38.875a1.485 1.485 0 0 1-1.379-.875L6.99 16.738a.879.879 0 0 1 .43-1.174.88.88 0 0 1 1.192.428l3 6.767 2.872-6.43a1.452 1.452 0 0 1 1.323-.858c.577 0 1.1.335 1.323.857L20 22.76l2.87-6.43a1.453 1.453 0 0 1 1.324-.858c.578 0 1.1.335 1.324.857l2.87 6.431 3-6.767a.879.879 0 0 1 1.193-.428.878.878 0 0 1 .429 1.174zM38.322 20c0-10.14-8.22-18.322-18.322-18.322C9.897 1.678 1.677 9.898 1.677 20c0 10.103 8.22 18.322 18.323 18.322 10.102 0 18.322-8.22 18.322-18.322zM40 20c0 11.035-8.965 20-20 20C8.966 40 0 31.035 0 20 0 8.966 8.966 0 20 0c11.035 0 20 8.929 20 20z"></path>
	</svg>
</div>