
{% set post_tax = post_taxonomy|default('category') %}
{% set primary_tax_name = '_yoast_wpseo_primary_'~post_tax %}

<div class="post-meta">
	<span class="post-date entry-date">{{post.post_date|date('j.n.Y')}}</span>
	{% if post.terms(post_tax) and not hide_category %}
		<span class="post-category">
			{% set primary_term_id = fn('get_post_meta',post.id, primary_tax_name, true) %}
			{% if primary_term_id %}
				{% for term in post.terms(post_tax) %}
					{% if term.term_id == primary_term_id %}
						<a href="{{ term.link }}">{{ term.name }}</a>
					{% endif %}
				{% endfor %}
			{% else %}
				<a href="{{ post.terms(post_tax)[0].link }}">{{ post.terms(post_tax)[0].name }}</a>
			{% endif %}
		</span>
	{% endif %}
</div>