{% if post.author %}
	{% if post.author.nickname or post.author.name %}
		<div class="sf_single-post-author flex flex-middle flex-nowrap">
			{% if post.author.cmb2_profile_pic %}
				<div class="sf_single-post-author-avatar cmb2_profile_pic">
		   			 <img src="{{ post.author.cmb2_profile_pic }}" alt="{% if post.author.nickname %}{{ post.author.nickname }}{% else %}{{ post.author.name }}{% endif %}">
				</div>
			{% elseif post.author.avatar %}
				<div class="sf_single-post-author-avatar">
		   			 <img src="{{ post.author.avatar }}" alt="{% if post.author.nickname %}{{ post.author.nickname }}{% else %}{{ post.author.name }}{% endif %}">
				</div>
			{% endif %}
			<div class="sf_single-post-author-details">
				<div class="sf_single-post-author-title">{{ post.author.nickname|default(post.author.name) }}</div>
				{% if post.author.cmb2_profile_description %}
					<div class="sf_single-post-author-description">
						{{ post.author.cmb2_profile_description|wysiwyg }}
					</div>
				{% elseif post.author.description %}
					<div class="sf_single-post-author-description">
						{{ post.author.description }}
					</div>
				{% endif %}
			</div>
		</div>	
	{% endif %}
{% endif %}