
{% if post.thumbnail %}
	{% set post_thumbnail = post.thumbnail %}
	<figure class="single-image">
		{% if resize_x %}
			<img src="{{ post_thumbnail|resize(resize_x,resize_y|default('0')) }}" alt="{{ post_thumbnail.alt|default(post_thumbnail.title) }}">
		{% else %}
			<img src="{{ post_thumbnail }}" alt="{{ post_thumbnail.alt|default(post_thumbnail.title) }}">
		{% endif %}
		{% if post_thumbnail.caption and not hide_caption %}
		<figcaption>{{ post_thumbnail.caption }}</figcaption>
		{% endif %}
	</figure>
{% endif %}
