{% if fn('comments_open') %}
<div class="sf_single-comments-container">
	<div class="sf_single-comment-respond">
		<h3 class="h2">{{ site.translate('Comments') }}</h3>
		{{ fn('comment_form') }}
	</div>
	{% if post.get_comments() is not empty %}
		<ul class="sf_single-comment-responses">
			{% for cmt in post.get_comments()|reverse %}
				{% include "parts/comment.twig" with {comment:cmt} %}
			{% endfor %}
		</ul>
	{% else %}
		<p class="info">{{ site.translate('No comments') }}</p>
	{% endif %}
</div>
{% endif %}