{% if post.terms('category')|length >= 1 %}
	<div class="sf_single-category-list-container">
		<div class="sf_single-category-list-title">
			{{ site.translate('Categories') }}:
		</div>
		<ul class="sf_single-category-list">
		    {% for term in post.terms('category') %}
		        <li><a href="{{term.link}}">{{term.name}}</a></li>
		    {% endfor %}
		</ul>
	</div>
{% endif %}