<div class="tease-content">
	{% if not post.password_required %}
		
		{# Password protected content? #}
		<p>{{ post.preview.length(preview_length|default('45')).end('').read_more('') }}</p>
		{% if read_more %}
			<a href="{{ post.link }}">{{ read_more_link_text }} <span class="fas fa-angle-right"></span></a>
		{% endif %}

	{% else %}
		<p class="password-required">{{ site.translate('Content is protected by password.') }}</p>
	{% endif %}
</div>