
{% set post_tax = post_taxonomy|default('category') %}
{% set primary_tax_name = '_yoast_wpseo_primary_'~post_tax %}

<div class="tease-meta">
	<time class="tease-date entry-date" datetime="{{post.post_date|date('j.n.Y H:i:m')}}">{{post.post_date|date('j.n.Y')}} </time>
	{% if post.terms(post_tax) and not hide_category %}
		<span class="tease-category">
			{% set primary_term_id = fn('get_post_meta',post.id, primary_tax_name, true) %}
			{% if primary_term_id %}
				{% for term in post.terms(post_tax) %}
					{% if term.term_id == primary_term_id %}
						<a href="{{ term.link }}">{{ term.name }}</a>
					{% endif %}
				{% endfor %}
			{% else %}
				<a href="{{ post.terms(post_tax)[0].link }}">{{ post.terms(post_tax)[0].name }}</a>
			{% endif %}
		</span>
	{% endif %}
	{% if post.author and show_author %}
		{% if post.author.nickname or post.author.name %}
			<span class="tease-author">
				{# TODO: author links? #}
				{% if post.author.nickname %}{{ post.author.nickname }}{% else %}{{ post.author.name }}{% endif %}
			</span>
		{% endif %}
	{% endif %}
</div>