{% set post_placeholder = placeholder_url|default(false) %}
{% set post_thumbnail = post.thumbnail|default(false) %}
{% if post_thumbnail or post_placeholder %}
	{% if link_to %}<a href="{{ link_to }}" class="tease-image-link">{% endif %}
	<figure class="tease-image">
		{% if post_thumbnail %}
			{% if resize_x %}
				<img src="{{ post_thumbnail|resize(resize_x,resize_y|default('0')) }}" alt="{{ post_thumbnail.alt|default(post_thumbnail.title) }}">
			{% else %}
				<img src="{{ post_thumbnail }}" alt="{{ post_thumbnail.alt|default(post_thumbnail.title) }}">
			{% endif %}
			{% if post_thumbnail.caption and not hide_caption %}
			<figcaption>{{ post_thumbnail.caption }}</figcaption>
			{% endif %}
		{% else %}
			<img src="{{ post_placeholder }}" alt="{{ post.title }}">
		{% endif %}
	</figure>
	{% if link_to %}</a>{% endif %}
{% endif %}